<template>
  <div class="home-container bg-white min-h-full">
    <div class="container">
      <div class="row">
        <div class="col-4 mt-5">
          <jobs-card
            v-for="(job, i) in jobs"
            :key="i"
            :job="job"
            :active="true"
          ></jobs-card>
        </div>

        <div v-if="activeJob" class="col-8 mt-5 mb-5">
          <div class="active-job">
            <div class="d-flex justify-content-between">
              <div class="active-job-heading">
                <div class="active-job-title">{{ activeJob.title }}</div>
                <div class="active-job-company">
                  <nuxt-link :to="'/company?id=' + activeJob.user.employer.id">
                    {{ activeJob.user.employer.company_name }}
                  </nuxt-link>
                </div>
              </div>
              <div class="active-job-apply">
                <base-button @click="openApplyModal">Apply now!</base-button>
              </div>
            </div>
            <div class="active-job-info d-flex align-items-center">
              <div class="d-flex align-items-center">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 0C3.5888 0 0 3.5888 0 8C0 12.4112 3.5888 16 8 16C12.4112 16 16 12.4112 16 8C16 3.5888 12.4112 0 8 0ZM10.6344 11.7656L7.2 8.3312V3.2H8.8V7.6688L11.7656 10.6344L10.6344 11.7656Z"
                    fill="#26AF61"
                  />
                </svg>
                <span>{{ activeJob.employment_type }}</span>
              </div>
              <div class="d-flex align-items-center">
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 13H10V0H14V13ZM9 13H5V4H9V13ZM4 13H0V7H4V13Z"
                    fill="#26AF61"
                  />
                </svg>

                <span>{{ activeJob.experience.name }} Level</span>
              </div>
              <div class="d-flex align-items-center">
                <svg
                  width="20"
                  height="12"
                  viewBox="0 0 20 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19 0H1C0.447812 0 0 0.447812 0 1V11C0 11.5522 0.447812 12 1 12H19C19.5522 12 20 11.5522 20 11V1C20 0.447812 19.5522 0 19 0ZM1.5 10.5V8.5C2.60469 8.5 3.5 9.39531 3.5 10.5H1.5ZM1.5 3.5V1.5H3.5C3.5 2.60469 2.60469 3.5 1.5 3.5ZM10 9C8.61906 9 7.5 7.65656 7.5 6C7.5 4.34312 8.61938 3 10 3C11.3806 3 12.5 4.34312 12.5 6C12.5 7.65719 11.3803 9 10 9ZM18.5 10.5H16.5C16.5 9.39531 17.3953 8.5 18.5 8.5V10.5ZM18.5 3.5C17.3953 3.5 16.5 2.60469 16.5 1.5H18.5V3.5Z"
                    fill="#26AF61"
                  />
                </svg>

                <span>{{ activeJob.salary }}</span>
              </div>
            </div>

            <div class="active-job-description">
              <div class="content-heading">Job Description</div>
              <p v-html="activeJob.description"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <base-modal
      :active="resumeModal"
      header="Apply for this job"
      @close="closeApplyModal"
    >
      <form v-if="!$auth.loggedIn" @submit.prevent="submitJobForm">
        <div v-if="!guestApplySuccess">
          <div class="mt-1 mb-5">
            <div class="mb-3">
              <label for="email-resume" class="form-label">Email Address</label>
              <input
                v-model="application.email"
                type="email"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="name-resume" class="form-label">Fullname</label>
              <input
                v-model="application.name"
                type="text"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="name-resume" class="form-label">Cover letter</label>
              <textarea
                v-model="application.cover_letter"
                class="form-control"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="form-resume" class="form-label"
                >Upload CV (optional)</label
              >
              <input
                ref="resume"
                type="file"
                class="form-control"
                accept="application/pdf"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="width: 100%"
            >
              Send application
            </button>
          </div>
        </div>
        <div v-else>
          <div v-if="guestAlreadyApplied">
            Sorry, the email is already linked with applicaton
          </div>
          <div v-else>Your job application has been submitted successfully</div>
          <div class="mt-5">
            <base-button class="w-full" @click="resumeModal = false"
              >Close</base-button
            >
          </div>
        </div>
      </form>
      <div v-else>
        <div v-if="!applySuccess && !applyExist">
          <h6>
            Do you want to submit your application along with your resume and
            profile?
          </h6>
          <base-button class="w-full" @click="applyJobAsUser"
            >CONFIRM APPLY</base-button
          >
        </div>
        <div v-else>
          <div v-if="applySuccess">
            Your job application has been submitted successfully
          </div>
          <div v-if="applyExist">You have already applied for this job</div>
          <div class="mt-5">
            <base-button class="w-full" @click="closeApplyModal"
              >Close</base-button
            >
          </div>
        </div>
      </div>
    </base-modal>
  </div>
</template>

<script>
/* eslint-disable */
import JobsCard from '~/components/jobs/JobsCard.vue'
import BaseButton from '~/components/ui/BaseButton.vue'
import BaseSearch from '~/components/ui/BaseSearch.vue'
import BaseModal from '@/components/ui/BaseModal.vue'

export default {
  name: 'IndexPage',
  components: { JobsCard, BaseSearch, BaseButton, BaseModal },
  layout: 'BaseLayout',

  data() {
    return {
      activeJob: null,
      jobs: [],

      title: '',
      resumeModal: false,

      application: {
        email: '',
        name: '',
        cover_letter: '',
      },
      applySuccess: false,
      applyExist: false,
      guestAlreadyApplied: false,
      guestApplySuccess: false,
    }
  },

  async mounted() {
    await this.getJobs()
  },

  methods: {
    async getJobs() {
      const job = await this.$axios.$get(`jobs/info/${this.$route.params.slug}`)
      this.activeJob = job
      this.jobs.push(job)
    },

    async submitJobForm() {
      const file = this.$refs.resume.files[0]
      const formData = new FormData()
      formData.append('email', this.application.email)
      formData.append('name', this.application.name)
      formData.append('cover_letter', this.application.cover_letter)
      formData.append('file', file)
      formData.append('job', this.activeJob.id)

      try {
        const res = await this.$axios.post(`jobs/apply`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        this.guestApplySuccess = true
        console.log(res.data.status === 400)
        if (res.data.status === 400) {
          this.guestAlreadyApplied = true
        } else {
          this.guestAlreadyApplied = false
        }
      } catch (err) {
        console.log(err.message)
      }
    },

    async applyJobAsUser() {
      try {
        const res = await this.$axios.$post('jobs/apply-as-user', {
          job: this.activeJob.id,
          user: this.$auth.user.id,
        })
        if (res && res.status === 400) {
          this.applyExist = true
        } else {
          this.applySuccess = true
        }
        console.log(res)
      } catch (err) {
        this.applySuccess = false
        this.applyExist = true
        console.log(err)
      }
    },

    closeApplyModal() {
      console.log('called')
      this.guestAlreadyApplied = false
      this.guestApplySuccess = false
      this.applySuccess = false
      this.applyExist = false
      this.application = {
        email: '',
        name: '',
        cover_letter: '',
      }
      this.resumeModal = false
    },

    openApplyModal() {
      this.resumeModal = true
    },
  },
}
</script>

<style scoped lang="scss">
.active-job {
  border: 1px solid #d3efdf;
  border-radius: 6px;
  background: #ffffff;
  padding: 40px;
}
.active-job-heading {
  .active-job-title {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
  }
  .active-job-company {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.active-job-info {
  margin-bottom: 40px;
  svg {
    margin-right: 10px;
  }
  span {
    margin-right: 40px;
  }
}
.content-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
</style>
