<template>
  <div class="home-container bg-white min-h-full">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-between">
            <h1 class="page-title mb-5">Trending Jobs</h1>
            <div>
              <base-search
                v-model="keyword"
                @keypress.native.enter="searchJobs"
              ></base-search>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="font-semibold">Filters:</div>
          <div class="d-flex align-items-center">
            <div class="my-3">
              <label class="mb-1">Job Category</label>
              <select
                v-model="filters.category"
                class="form-control"
                style="width: 300px"
                @change="filterCategory"
              >
                <option value="">All</option>
                <option
                  v-for="(option, i) in categories"
                  :key="i"
                  :value="option.id"
                >
                  {{ option.name }}
                </option>
              </select>
            </div>
            <div class="my-3 mx-4">
              <label class="mb-1">Education Level</label>
              <select
                v-model="filters.education"
                class="form-control"
                style="width: 300px"
                @change="filterCategory"
              >
                <option value="">All</option>
                <option
                  v-for="(option, i) in educations"
                  :key="i"
                  :value="option.id"
                >
                  {{ option.name }}
                </option>
              </select>
            </div>
            <div class="my-3 mx-4">
              <label class="mb-1">Experience Level</label>
              <select
                v-model="filters.experience"
                class="form-control"
                style="width: 300px"
                @change="filterCategory"
              >
                <option value="">All</option>
                <option
                  v-for="(option, i) in experiences"
                  :key="i"
                  :value="option.id"
                >
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
          <div>1,240 jobs listed currently</div>
        </div>

        <div class="col-4 mt-5">
          <jobs-card
            v-for="(job, i) in jobs"
            :key="i"
            :job="job"
            :active="isJobActive(job)"
            @job-selected="onJobSelect"
          ></jobs-card>
        </div>
        <div v-if="activeJob" class="col-8 mt-5 mb-5">
          <div class="active-job">
            <div class="d-flex justify-content-between">
              <div class="active-job-heading">
                <div class="active-job-title">{{ activeJob.title }}</div>
                <div class="active-job-company">
                  <nuxt-link :to="'/company?id=' + activeJob.user.employer.id">
                    {{ activeJob.user.employer.company_name }}
                  </nuxt-link>
                </div>
              </div>
              <div class="active-job-apply">
                <base-button v-if="canApply" @click="openApplyModal"
                  >Apply now!</base-button
                >
                <div v-else><b>Already applied!</b></div>
              </div>
            </div>
            <div class="active-job-info d-flex align-items-center">
              <div class="d-flex align-items-center">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 0C3.5888 0 0 3.5888 0 8C0 12.4112 3.5888 16 8 16C12.4112 16 16 12.4112 16 8C16 3.5888 12.4112 0 8 0ZM10.6344 11.7656L7.2 8.3312V3.2H8.8V7.6688L11.7656 10.6344L10.6344 11.7656Z"
                    fill="#26AF61"
                  />
                </svg>
                <span>{{ activeJob.employment_type }}</span>
              </div>
              <div class="d-flex align-items-center">
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 13H10V0H14V13ZM9 13H5V4H9V13ZM4 13H0V7H4V13Z"
                    fill="#26AF61"
                  />
                </svg>

                <span>{{ activeJob.experience.name }} Level</span>
              </div>
              <div class="d-flex align-items-center">
                <svg
                  width="20"
                  height="12"
                  viewBox="0 0 20 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19 0H1C0.447812 0 0 0.447812 0 1V11C0 11.5522 0.447812 12 1 12H19C19.5522 12 20 11.5522 20 11V1C20 0.447812 19.5522 0 19 0ZM1.5 10.5V8.5C2.60469 8.5 3.5 9.39531 3.5 10.5H1.5ZM1.5 3.5V1.5H3.5C3.5 2.60469 2.60469 3.5 1.5 3.5ZM10 9C8.61906 9 7.5 7.65656 7.5 6C7.5 4.34312 8.61938 3 10 3C11.3806 3 12.5 4.34312 12.5 6C12.5 7.65719 11.3803 9 10 9ZM18.5 10.5H16.5C16.5 9.39531 17.3953 8.5 18.5 8.5V10.5ZM18.5 3.5C17.3953 3.5 16.5 2.60469 16.5 1.5H18.5V3.5Z"
                    fill="#26AF61"
                  />
                </svg>

                <span>{{ activeJob.salary }}</span>
              </div>
            </div>

            <div class="active-job-description">
              <div class="content-heading">Job Description</div>
              <p v-html="activeJob.description"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <base-modal
      :active="resumeModal"
      header="Apply for this job"
      @close="closeApplyModal"
    >
      <form v-if="!$auth.loggedIn" @submit.prevent="submitJobForm">
        <div v-if="!guestApplySuccess">
          <div class="mt-1 mb-5">
            <div class="mb-3">
              <label for="email-resume" class="form-label">Email Address</label>
              <input
                v-model="application.email"
                type="email"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="name-resume" class="form-label">Fullname</label>
              <input
                v-model="application.name"
                type="text"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="name-resume" class="form-label">Cover letter</label>
              <textarea
                v-model="application.cover_letter"
                class="form-control"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="form-resume" class="form-label"
                >Upload CV (optional)</label
              >
              <input
                ref="resume"
                type="file"
                class="form-control"
                accept="application/pdf"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="width: 100%"
            >
              Send application
            </button>
          </div>
        </div>
        <div v-else>
          <div v-if="guestAlreadyApplied">
            Sorry, the email is already linked with applicaton
          </div>
          <div v-else>Your job application has been submitted successfully</div>
          <div class="mt-5">
            <base-button class="w-full" @click="closeApplyModal"
              >Close</base-button
            >
          </div>
        </div>
      </form>
      <div v-else>
        </div>
    </base-modal> -->

    <guest-apply-job-modal
      v-if="!$auth.loggedIn"
      :open="resumeModal"
      :job="jobToApply"
      @close="closeApplyModal"
    ></guest-apply-job-modal>
    <user-apply-job-modal
      v-else
      :open="resumeModal"
      :job="jobToApply"
      @close="closeApplyModal"
    ></user-apply-job-modal>
  </div>
</template>

<script>
import GuestApplyJobModal from '~/components/employer/GuestApplyJobModal.vue'
import UserApplyJobModal from '~/components/employer/UserApplyJobModal.vue'
import JobsCard from '~/components/jobs/JobsCard.vue'
import BaseButton from '~/components/ui/BaseButton.vue'
import BaseSearch from '~/components/ui/BaseSearch.vue'

export default {
  name: 'IndexPage',
  components: {
    JobsCard,
    BaseSearch,
    BaseButton,
    UserApplyJobModal,
    GuestApplyJobModal,
  },
  layout: 'BaseLayout',

  data() {
    return {
      jobToApply: null,
      activeJob: null,
      jobs: [],
      canApply: true,

      // filters
      categories: [],
      keyword: '',
      filters: {
        category: '',
        education: '',
        experience: '',
      },
      experiences: [],
      educations: [],

      jobQuestions: [],

      title: '',
      resumeModal: false,

      application: {
        email: '',
        name: '',
        cover_letter: '',
      },
      applySuccess: false,
      applyExist: false,
      guestAlreadyApplied: false,
      guestApplySuccess: false,
    }
  },

  computed: {
    isUserLogged() {
      return this.$auth.loggedIn
    },
  },

  watch: {
    '$route.query.keyword': {
      handler() {
        this.getJobs()
      },
    },

    '$route.query.category': {
      handler() {
        this.getJobs()
      },
    },

    '$route.query.education': {
      handler() {
        this.getJobs()
      },
    },

    '$route.query.experience': {
      handler() {
        this.getJobs()
      },
    },

    activeJob: {
      handler(newVal, preVal) {
        if (newVal !== preVal && newVal !== null) {
          this.verifyCanApplyJob(newVal)
        }
      },
      immediate: true,
    },
  },

  async mounted() {
    const categories = await this.$axios.$get('categories')
    const formattedCategory = []
    categories.forEach((category) => {
      category.children.forEach((child) => {
        formattedCategory.push({
          id: child.id,
          name: `${category.name} / ${child.name}`,
        })
      })
    })
    this.categories = formattedCategory

    const experiences = await this.$axios.$get('job-info/experiences')
    this.experiences = experiences

    const educations = await this.$axios.$get('job-info/educations')
    this.educations = educations

    this.keyword = this.$route.query.keyword
    this.filters.education = this.$route.query.education || ''
    this.filters.experience = this.$route.query.experience || ''
    this.filters.category = this.$route.query.category || ''

    await this.getJobs()
  },

  methods: {
    searchJobs() {
      if (this.keyword !== '') {
        this.$router.push({
          path: '/jobs',
          query: {
            ...this.$route.query,
            keyword: this.keyword,
          },
        })
      } else {
        this.$router.push({
          path: '/jobs',
        })
      }
      this.getJobs()
    },

    applyFilters() {
      const query = this.$route.query
      this.$router.push({
        path: '/jobs',
        query: {
          ...query,
          ...this.filters,
        },
      })
    },

    async getJobs() {
      let queryString = ''

      // Apply filters
      if (this.$route.query.keyword && this.$route.query.keyword !== '') {
        queryString += `keyword=${this.$route.query.keyword}`
      }

      if (this.$route.query.category && this.$route.query.category !== '') {
        queryString += `&category=${this.$route.query.category}`
      }

      if (this.$route.query.education && this.$route.query.education !== '') {
        queryString += `&education=${this.$route.query.education}`
      }

      if (this.$route.query.experience && this.$route.query.experience !== '') {
        queryString += `&experience=${this.$route.query.experience}`
      }

      const jobs = await this.$axios.$get(`jobs/all?${queryString}`)
      this.jobs = jobs

      if (jobs.length > 0 && !this.$route.query.job) {
        this.activeJob = jobs[0]
        this.$router.push({
          path: '/jobs',
          query: {
            ...this.$route.query,
            job: jobs[0].slug,
          },
        })
      } else {
        const activeJob = this.jobs.find((job) => {
          return job.slug === this.$route.query.job
        })
        this.activeJob = activeJob
      }
      if (jobs.length === 0) {
        this.activeJob = null
      }
    },

    onJobSelect(job) {
      this.activeJob = job
      this.$router.push({
        path: '/jobs',
        query: {
          ...this.$route.query,
          job: job.slug,
        },
      })
    },

    isJobActive(job) {
      if (!this.$route.query.job) return false
      return job.slug === this.$route.query.job
    },

    filterCategory() {
      this.$router.push({
        path: '/jobs',
        query: {
          ...this.$route.query,
          category: this.filters.category,
          experience: this.filters.experience,
          education: this.filters.education,
        },
      })
    },

    // apply jobs
    async submitJobForm() {
      const file = this.$refs.resume.files[0]
      const formData = new FormData()
      formData.append('email', this.application.email)
      formData.append('name', this.application.name)
      formData.append('cover_letter', this.application.cover_letter)
      formData.append('file', file)
      formData.append('job', this.activeJob.id)

      try {
        const res = await this.$axios.post(`jobs/apply`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        this.guestApplySuccess = true
        console.log(res.data.status === 400)
        if (res.data.status === 400) {
          this.guestAlreadyApplied = true
        } else {
          this.guestAlreadyApplied = false
        }
      } catch (err) {
        console.log(err.message)
      }
    },

    async applyJobAsUser() {
      try {
        const res = await this.$axios.$post('jobs/apply-as-user', {
          job: this.activeJob.id,
          user: this.$auth.user.id,
        })
        if (res && res.status === 400) {
          this.applyExist = true
        } else {
          this.applySuccess = true
          this.canApply = false
        }
      } catch (err) {
        this.applySuccess = false
        this.applyExist = true
      }
    },

    closeApplyModal() {
      this.guestAlreadyApplied = false
      this.guestApplySuccess = false
      this.applySuccess = false
      this.applyExist = false
      this.application = {
        email: '',
        name: '',
        cover_letter: '',
      }
      this.resumeModal = false
    },

    async openApplyModal() {
      const job = await this.$axios.$get(`jobs/info/${this.activeJob.slug}`)
      console.log(job)
      if (job) {
        this.jobToApply = job
        this.resumeModal = true
      }
    },

    async verifyCanApplyJob(job) {
      if (this.$auth.loggedIn) {
        const res = await this.$axios.$get(
          `jobs/can-apply/${job.id}/${this.$auth.user.id}`
        )
        if (res) {
          this.canApply = false
        } else {
          this.canApply = true
        }
      }
    },
  },
}
</script>

<style scoped lang="scss">
.active-job {
  border: 1px solid #d3efdf;
  border-radius: 6px;
  background: #ffffff;
  padding: 40px;
}
.active-job-heading {
  .active-job-title {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
  }
  .active-job-company {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.active-job-info {
  margin-bottom: 40px;
  svg {
    margin-right: 10px;
  }
  span {
    margin-right: 40px;
  }
}
.content-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
</style>
