<template>
  <div class="d-flex justify-content-between">
    <div>{{ job.title }}</div>
    <div>Deadline: {{ job.created_at }}</div>
    <div>
      <nuxt-link :to="`/job/${job.slug}`">View Details</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped></style>
