<template>
  <div class="dropdown-container">
    <div class="d-flex align-items-center cursor-pointer" @click="toggle">
      <div v-if="image !== ''" class="mr-3">
        <img
          class="rounded-circle"
          :src="image"
          alt="avatar"
          width="40"
          height="40"
        />
      </div>
      <svg
        v-else
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 0C9.158 0 0 9.158 0 20C0 30.842 9.158 40 20 40C30.842 40 40 30.842 40 20C40 9.158 30.842 0 20 0ZM20 10C23.454 10 26 12.544 26 16C26 19.456 23.454 22 20 22C16.548 22 14 19.456 14 16C14 12.544 16.548 10 20 10ZM9.788 29.544C11.582 26.904 14.574 25.144 18 25.144H22C25.428 25.144 28.418 26.904 30.212 29.544C27.656 32.28 24.03 34 20 34C15.97 34 12.344 32.28 9.788 29.544Z"
          fill="#D3E1EF"
        />
      </svg>
      <div class="mx-3 profile-user">{{ $auth.user.username }}</div>
      <svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.131 0H0.868486C0.560673 0 0.388798 0.325 0.579423 0.546875L5.71067 6.49687C5.85755 6.66719 6.14036 6.66719 6.2888 6.49687L11.42 0.546875C11.6107 0.325 11.4388 0 11.131 0Z"
          fill="#26AF61"
        />
      </svg>
    </div>
    <div v-if="open" class="dropdown-content" @click="toggle">
      <ul>
        <li>
          <nuxt-link
            to="/job-seeker/overview"
            class="d-flex align-items-center"
          >
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.4955 7.22044L7.49549 0.553773C7.24282 0.27244 6.75749 0.27244 6.50482 0.553773L0.504819 7.22044C0.418456 7.31617 0.361768 7.43493 0.341648 7.56228C0.321528 7.68963 0.338842 7.82008 0.391485 7.93777C0.498152 8.17844 0.736819 8.33311 1.00015 8.33311H2.33349V12.9998C2.33349 13.1766 2.40372 13.3462 2.52875 13.4712C2.65377 13.5962 2.82334 13.6664 3.00015 13.6664H5.00015C5.17696 13.6664 5.34653 13.5962 5.47156 13.4712C5.59658 13.3462 5.66682 13.1766 5.66682 12.9998V10.3331H8.33349V12.9998C8.33349 13.1766 8.40372 13.3462 8.52875 13.4712C8.65377 13.5962 8.82334 13.6664 9.00015 13.6664H11.0002C11.177 13.6664 11.3465 13.5962 11.4716 13.4712C11.5966 13.3462 11.6668 13.1766 11.6668 12.9998V8.33311H13.0002C13.1293 8.33366 13.2557 8.29663 13.3642 8.22654C13.4726 8.15645 13.5583 8.05632 13.6108 7.93837C13.6633 7.82042 13.6804 7.68973 13.6599 7.56226C13.6394 7.43478 13.5823 7.31601 13.4955 7.22044Z"
                fill="#26AF61"
              />
            </svg>
            <span class="mx-3">Dashboard</span></nuxt-link
          >
        </li>
        <li>
          <nuxt-link
            to="/job-seeker/edit-profile"
            class="d-flex align-items-center"
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 4.3335C5 5.9875 6.346 7.3335 8 7.3335C9.654 7.3335 11 5.9875 11 4.3335C11 2.6795 9.654 1.3335 8 1.3335C6.346 1.3335 5 2.6795 5 4.3335Z"
                fill="#333333"
              />
              <path
                d="M13.3333 13.9998H14V13.3332C14 10.7605 11.906 8.6665 9.33333 8.6665H6.66667C4.09333 8.6665 2 10.7605 2 13.3332V13.9998H13.3333Z"
                fill="#333333"
              />
            </svg>

            <span class="mx-3">My Profile</span></nuxt-link
          >
        </li>
        <li>
          <nuxt-link to="/job-seeker/detail" class="d-flex align-items-center">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.3531 4.51094C13.4469 4.60469 13.5 4.73125 13.5 4.86406V14.5C13.5 14.7766 13.2766 15 13 15H3C2.72344 15 2.5 14.7766 2.5 14.5V1.5C2.5 1.22344 2.72344 1 3 1H9.63594C9.76875 1 9.89688 1.05313 9.99063 1.14688L13.3531 4.51094Z"
                fill="#333333"
              />
              <path
                d="M12.3469 5.09395L9.40625 2.15332V5.09395H12.3469Z"
                fill="#333333"
              />
              <path
                d="M5 7.53125C4.96685 7.53125 4.93505 7.54442 4.91161 7.56786C4.88817 7.5913 4.875 7.6231 4.875 7.65625V8.40625C4.875 8.4394 4.88817 8.4712 4.91161 8.49464C4.93505 8.51808 4.96685 8.53125 5 8.53125H11C11.0332 8.53125 11.0649 8.51808 11.0884 8.49464C11.1118 8.4712 11.125 8.4394 11.125 8.40625V7.65625C11.125 7.6231 11.1118 7.5913 11.0884 7.56786C11.0649 7.54442 11.0332 7.53125 11 7.53125H5ZM5 9.65625C4.96685 9.65625 4.93505 9.66942 4.91161 9.69286C4.88817 9.7163 4.875 9.7481 4.875 9.78125V10.5312C4.875 10.5644 4.88817 10.5962 4.91161 10.6196C4.93505 10.6431 4.96685 10.6562 5 10.6562H7.875C7.90815 10.6562 7.93995 10.6431 7.96339 10.6196C7.98683 10.5962 8 10.5644 8 10.5312V9.78125C8 9.7481 7.98683 9.7163 7.96339 9.69286C7.93995 9.66942 7.90815 9.65625 7.875 9.65625H5Z"
                fill="white"
              />
            </svg>

            <span class="mx-3">My Resume</span></nuxt-link
          >
        </li>
        <li>
          <nuxt-link
            to="/job-seeker/settings"
            class="d-flex align-items-center"
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.21342 14.6663H6.78675C6.63471 14.6664 6.48722 14.6144 6.36875 14.5191C6.25029 14.4238 6.16796 14.2909 6.13542 14.1423L5.86409 12.8863C5.50212 12.7277 5.15891 12.5294 4.84075 12.295L3.61609 12.685C3.47113 12.7312 3.31472 12.7265 3.17283 12.6715C3.03095 12.6166 2.91212 12.5148 2.83609 12.383L1.62009 10.2823C1.54485 10.1504 1.51661 9.99689 1.53998 9.84684C1.56335 9.69679 1.63696 9.55912 1.74875 9.45634L2.69875 8.58967C2.65555 8.19708 2.65555 7.80093 2.69875 7.40834L1.74875 6.54367C1.6368 6.44086 1.5631 6.30306 1.53972 6.15286C1.51634 6.00267 1.54468 5.84899 1.62009 5.71701L2.83342 3.61501C2.90945 3.48322 3.02828 3.3814 3.17017 3.32647C3.31205 3.27153 3.46846 3.26678 3.61342 3.31301L4.83809 3.70301C5.00075 3.58301 5.17009 3.47101 5.34475 3.36967C5.51342 3.27501 5.68675 3.18901 5.86409 3.11234L6.13609 1.85767C6.16847 1.70914 6.25064 1.57613 6.36898 1.48071C6.48733 1.38528 6.63473 1.33317 6.78675 1.33301H9.21342C9.36544 1.33317 9.51285 1.38528 9.63119 1.48071C9.74953 1.57613 9.83171 1.70914 9.86409 1.85767L10.1388 3.11301C10.5003 3.27252 10.8434 3.47079 11.1621 3.70434L12.3874 3.31434C12.5323 3.26829 12.6885 3.27312 12.8303 3.32805C12.972 3.38298 13.0907 3.48469 13.1668 3.61634L14.3801 5.71834C14.5348 5.98967 14.4814 6.33301 14.2514 6.54434L13.3014 7.41101C13.3446 7.8036 13.3446 8.19975 13.3014 8.59234L14.2514 9.45901C14.4814 9.67101 14.5348 10.0137 14.3801 10.285L13.1668 12.387C13.0907 12.5188 12.9719 12.6206 12.83 12.6756C12.6881 12.7305 12.5317 12.7352 12.3868 12.689L11.1621 12.299C10.8442 12.5332 10.5012 12.7313 10.1394 12.8897L9.86409 14.1423C9.83157 14.2908 9.74934 14.4236 9.63101 14.5189C9.51268 14.6142 9.36535 14.6662 9.21342 14.6663Z"
                fill="#333333"
              />
              <path
                d="M7.99723 5.33301C7.28999 5.33301 6.61171 5.61396 6.11162 6.11406C5.61152 6.61415 5.33057 7.29243 5.33057 7.99967C5.33057 8.70692 5.61152 9.3852 6.11162 9.88529C6.61171 10.3854 7.28999 10.6663 7.99723 10.6663C8.70448 10.6663 9.38275 10.3854 9.88285 9.88529C10.3829 9.3852 10.6639 8.70692 10.6639 7.99967C10.6639 7.29243 10.3829 6.61415 9.88285 6.11406C9.38275 5.61396 8.70448 5.33301 7.99723 5.33301Z"
                fill="white"
              />
            </svg>

            <span class="mx-3">Settings</span></nuxt-link
          >
        </li>
        <li>
          <a class="d-flex align-items-center" @click="logout">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.0002 1.33301H4.00016C3.82335 1.33301 3.65378 1.40325 3.52876 1.52827C3.40373 1.65329 3.3335 1.82286 3.3335 1.99967V7.99967L6.66683 5.33301V7.33301H10.6668V8.66634H6.66683V10.6663L3.3335 7.99967V13.9997C3.3335 14.1765 3.40373 14.3461 3.52876 14.4711C3.65378 14.5961 3.82335 14.6663 4.00016 14.6663H12.0002C12.177 14.6663 12.3465 14.5961 12.4716 14.4711C12.5966 14.3461 12.6668 14.1765 12.6668 13.9997V1.99967C12.6668 1.82286 12.5966 1.65329 12.4716 1.52827C12.3465 1.40325 12.177 1.33301 12.0002 1.33301Z"
                fill="#F04034"
              />
            </svg>

            <span class="mx-3">Logout</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      image: '',
    }
  },

  async mounted() {
    console.log(this.$auth.user)
    const profile = await this.$axios.$get(
      `job_seeker/${this.$auth.user.id}/profile`
    )
    if (profile && profile.profile_image) {
      this.image = profile.profile_image
    }
  },

  methods: {
    toggle() {
      this.open = !this.open
    },
    onClickOutside(event) {
      this.open = false
    },
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style lang="scss" scoped>
.dropdown-container {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.dropdown-content {
  position: absolute;
  width: 335px;
  right: 0;
  top: 68px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2),
    0px 1px 3px rgba(50, 50, 71, 0.1);
  border-radius: 8px;
  z-index: 99999;

  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        display: block;
        padding: 4px 8px;
        color: black;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
}
.profile-user {
  font-size: 16px;
  font-weight: 600;
  color: #26af61;
}
</style>
