<template>
  <div>
    <NavBar />
    <Nuxt />
    <base-footer></base-footer>
  </div>
</template>

<script>
import BaseFooter from '~/components/BaseFooter.vue'
export default {
  components: { BaseFooter },
}
</script>
