<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.8222 2C10.6544 2.0155 9.53985 2.49083 8.72029 3.32287C7.90073 4.15492 7.44229 5.27655 7.44444 6.44444C7.37778 8.26667 7.23333 10.3 6.36667 11.5444C9.34444 13.3556 11.8889 13.1111 11.8889 13.1111C11.8889 13.1111 14.4333 13.3556 17.4111 11.5444C16.4667 10.0222 16.2667 8.15556 16.3333 6.44444C16.3333 3.98889 14.3444 2 11.8889 2H11.8222ZM8.4 13.4667C5.22222 14.1444 3 15.7222 3 17.5556V22H11.8889L8.55556 17.5556H5.77778L8.4 13.4667ZM11.8889 22L13.8667 14.0111C13.8667 14.0111 13 14.2222 11.8889 14.2222C10.7778 14.2222 9.91111 14.0111 9.91111 14.0111L11.8889 22ZM11.8889 22H20.7778V17.5556C20.7778 15.7222 18.5556 14.1444 15.3778 13.4667L18 17.5556H15.2222L11.8889 22Z"
              fill="#26AF61"
            />
          </svg>

          <h1>Top Employers Currently</h1>
        </div>
      </div>
    </div>
    <div>
      <slick ref="slick" :options="slickOptions">
        <div v-for="(employer, i) in employers" :key="i" class="col">
          <nuxt-link :to="'/company?id=' + employer.id">
            <div class="employer-card">
              <div class="employer-logo-wrapper">
                <div
                  class="employer-logo-color"
                  :style="'background-color:' + employer.color"
                ></div>
                <div class="employer-logo-circle">
                  <img src="@/assets/icons/logo.svg" />
                </div>
              </div>
              <div class="employer-content">
                <div class="employer-name">{{ employer.name }}</div>
                <div class="employer-jobs">
                  {{ employer.jobs }} job openings
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </slick>
    </div>
  </div>
</template>

<script>
import Slick from 'vue-slick'
import 'slick-carousel/slick/slick.css'

export default {
  components: { Slick },
  data() {
    return {
      slickOptions: {
        slidesToShow: 5,
        arrows: false,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true,
            },
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
            },
          },
        ],
      },
      employers: [
        {
          id: 1,
          name: 'Leapfrog Technology',
          color: '#2DCC70',
          jobs: 15,
        },
        {
          id: 2,
          name: 'COTIVITI',
          color: '#30006E',
          jobs: 22,
        },
        {
          id: 3,
          name: 'Leapfrog Technology 2',
          color: '#2DCC70',
          jobs: 15,
        },
        {
          id: 4,
          name: 'COTIVITI 2',
          color: '#30006E',
          jobs: 22,
        },
        {
          id: 5,
          name: 'COTIVITI 3',
          color: '#30006E',
          jobs: 22,
        },
        {
          id: 6,
          name: 'COTIVITI 4',
          color: '#30006E',
          jobs: 22,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    margin-left: 10px;
  }
  margin-bottom: 20px;
}
.employer-card {
  border: 1px solid #e9f7ef;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}
.employer-logo-wrapper {
  position: relative;
  .employer-logo-color {
    z-index: -999;
    // background-color: #2dcc70;
    height: 100px;
  }
  .employer-logo-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    background: white;
    bottom: 0;
    right: 0;
    left: 0;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    line-height: 100px;
    vertical-align: middle;
    padding: 10px;
    img {
      width: 100%;
      background: none;
    }
  }
}
.employer-content {
  margin-top: 60px;
  text-align: center;
  .employer-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
  }
  .employer-jobs {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #26af61;
    margin-bottom: 30px;
  }
}
</style>
