<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.72077 22C4.62309 19.6906 3.54426 17.5046 4.16106 14.5191C4.61641 12.3146 6.10742 10.521 6.25039 8.32075C6.88731 9.47982 7.15344 10.3156 7.22461 11.5268C9.25032 9.04492 10.589 5.6091 10.6682 2C10.6682 2 15.9445 5.10017 16.2907 9.783C16.7449 8.81778 16.9736 7.2848 16.5193 6.29127C17.882 7.28485 25.8576 16.1052 15.439 22C17.3978 18.186 15.9444 13.0398 12.5434 10.663C12.7705 11.685 12.3723 15.4967 10.8677 17.1716C11.2846 14.373 10.471 13.1897 10.471 13.1897C10.471 13.1897 10.1918 14.7572 9.10839 16.3407C8.11906 17.7868 7.43356 19.3215 8.72077 22Z"
              fill="#E58C17"
            />
          </svg>
          <h1>Trending Jobs</h1>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
      <div v-for="(job, i) in jobs" :key="i" class="col">
        <job-card :job="job"></job-card>
      </div>
    </div>
  </div>
</template>

<script>
import JobCard from '../JobCard.vue'
export default {
  components: { JobCard },
  props: {
    jobs: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    margin-left: 10px;
  }
  margin-bottom: 20px;
}
</style>
