<template>
  <div class="employer-onboard-box">
    <div class="d-flex">
      <div class="left-content-form">
        <div>
          <nuxt-link
            to="/"
            class="d-flex align-items-center go-back-link nav-link"
          >
            <svg
              width="16"
              height="14"
              viewBox="0 0 16 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 7H3.14L6.77 2.64C6.93974 2.43578 7.0214 2.1725 6.99702 1.90808C6.97264 1.64365 6.84422 1.39974 6.64 1.23C6.43578 1.06026 6.1725 0.978601 5.90808 1.00298C5.64365 1.02736 5.39974 1.15578 5.23 1.36L0.23 7.36C0.196361 7.40772 0.166279 7.45786 0.14 7.51C0.14 7.56 0.14 7.59 0.0700002 7.64C0.0246737 7.75466 0.000941121 7.87671 0 8C0.000941121 8.12329 0.0246737 8.24534 0.0700002 8.36C0.0700002 8.41 0.0699999 8.44 0.14 8.49C0.166279 8.54214 0.196361 8.59228 0.23 8.64L5.23 14.64C5.32402 14.7529 5.44176 14.8437 5.57485 14.9059C5.70793 14.9681 5.85309 15.0002 6 15C6.23365 15.0005 6.46009 14.9191 6.64 14.77C6.74126 14.6861 6.82496 14.583 6.88631 14.4666C6.94766 14.3503 6.98546 14.2229 6.99754 14.092C7.00961 13.961 6.99573 13.8289 6.95669 13.7033C6.91764 13.5777 6.8542 13.4611 6.77 13.36L3.14 9H15C15.2652 9 15.5196 8.89464 15.7071 8.70711C15.8946 8.51957 16 8.26522 16 8C16 7.73478 15.8946 7.48043 15.7071 7.29289C15.5196 7.10536 15.2652 7 15 7Z"
                fill="#26AF61"
              />
            </svg>
            Go back to Homepage</nuxt-link
          >
        </div>

        <div>
          <h1 class="primary-header form-header">Sign Up to Sojojob</h1>
          <div>
            <div class="register-tag">You are a</div>
            <div class="d-flex">
              <nuxt-link
                to="/register/job-seeker"
                class="register-user-box"
                :class="{
                  'register-user-box-selected': selected === 'seeker',
                }"
              >
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18.2422 0.117216C16.1094 0.445341 14.2031 1.46097 12.7109 3.0469C11.0703 4.78909 10.2187 6.80472 10.1015 9.21878C9.93748 12.5938 11.5937 15.8203 14.4531 17.6875C15.8594 18.6094 17.2109 19.0782 18.8515 19.211C21.8906 19.4453 24.4844 18.4922 26.5781 16.3594C28.2422 14.6719 29.0859 12.8282 29.289 10.4766C29.5703 7.33597 28.3828 4.41409 26.0156 2.36722C24.4844 1.05472 23.0781 0.398466 21.1328 0.117216C20.1953 -0.0155964 19.1015 -0.0234089 18.2422 0.117216Z"
                    fill="#A8DFC0"
                  />
                  <path
                    d="M11.1484 19.3828C7.61717 19.7578 5.16405 22.2891 4.02342 26.7578C3.26561 29.7344 3.0703 33.3125 3.55467 35.2734C3.95311 36.8438 5.2578 38.4375 6.76561 39.2031C7.4453 39.5469 8.42186 39.8281 9.24217 39.9219C9.72655 39.9844 13.414 40 20.4687 39.9844L30.9765 39.9609L31.6406 39.7734C34.1094 39.1016 35.7969 37.4453 36.414 35.1172C36.7344 33.9063 36.6953 31.0156 36.3203 28.7344C35.5 23.6563 33.4219 20.6094 30.1328 19.6563C29.3828 19.4375 28.039 19.2734 27.6406 19.3516C27.2578 19.4219 26.7265 19.7031 25.5234 20.4766C24.2422 21.3047 24.0625 21.3984 23.1015 21.7578C21.9922 22.1719 21.0781 22.3516 20.0078 22.3516C18.914 22.3516 18.0703 22.1953 16.9609 21.8047C15.914 21.4297 15.8672 21.4063 14.2265 20.3672C13.3672 19.8203 12.7265 19.4688 12.4765 19.3984C12.039 19.2891 12.039 19.2891 11.1484 19.3828Z"
                    fill="#A8DFC0"
                  />
                </svg>
                <div class="register-user-box-title">Job Seeker</div>
              </nuxt-link>
              <nuxt-link
                to="/register/employer"
                class="register-user-box"
                :class="{
                  'register-user-box-selected': selected === 'provider',
                }"
              >
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_57_15030)">
                    <path
                      d="M18.2422 0.117216C16.1094 0.445341 14.2031 1.46097 12.7109 3.0469C11.0703 4.78909 10.2187 6.80472 10.1016 9.21878C9.93749 12.5938 11.5937 15.8203 14.4531 17.6875C15.8594 18.6094 17.2109 19.0782 18.8516 19.211C21.8906 19.4453 24.4844 18.4922 26.5781 16.3594C28.2422 14.6719 29.0859 12.8282 29.2891 10.4766C29.5703 7.33597 28.3828 4.41409 26.0156 2.36722C24.4844 1.05472 23.0781 0.398466 21.1328 0.117216C20.1953 -0.0155964 19.1016 -0.0234089 18.2422 0.117216Z"
                      fill="#A8DFC0"
                    />
                    <path
                      d="M11.0952 19.3828C7.56395 19.7578 5.11083 22.2891 3.9702 26.7578C3.21239 29.7344 3.01708 33.3125 3.50145 35.2734C3.89989 36.8438 5.20458 38.4375 6.71239 39.2031C7.39208 39.5469 8.36864 39.8281 9.18895 39.9219C9.67333 39.9844 13.3608 40 20.4155 39.9844L30.9233 39.9609L31.5874 39.7734C34.0561 39.1016 35.7436 37.4453 36.3608 35.1172C36.6811 33.9063 36.6421 31.0156 36.2671 28.7344C35.4468 23.6563 33.3686 20.6094 30.0796 19.6563C29.3296 19.4375 27.9858 19.2734 27.5874 19.3516C27.2046 19.4219 26.6733 19.7031 25.4702 20.4766C24.189 21.3047 24.0093 21.3984 23.0483 21.7578C21.939 22.1719 21.0249 22.3516 19.9546 22.3516C18.8608 22.3516 18.0171 22.1953 16.9077 21.8047C15.8608 21.4297 15.814 21.4063 14.1733 20.3672C13.314 19.8203 12.6733 19.4688 12.4233 19.3984C11.9858 19.2891 11.9858 19.2891 11.0952 19.3828Z"
                      fill="#A8DFC0"
                    />
                    <path
                      d="M16.4095 31.0515C16.5709 29.4283 16.7426 27.7465 16.8415 26.8348H15.8786V25.8348V24.0157V22.1966V21.1009L16.9697 21.2007L17.7205 21.2694C17.7216 21.2695 17.7226 21.2696 17.7237 21.2697C18.0898 21.3004 19.0605 21.3265 19.8844 21.3265C20.706 21.3265 21.6768 21.3005 22.0578 21.2696L22.7976 21.2008L23.8902 21.0993V22.1966V24.0157V25.8348V26.8348H22.9205C23.0268 27.7658 23.2011 29.4571 23.3622 31.074C23.4676 32.131 23.5685 33.1688 23.6431 33.9653C23.7135 34.717 23.7699 35.3433 23.7699 35.4936C23.7699 35.6045 23.7677 35.8335 23.6628 36.0899C23.5607 36.3397 23.4006 36.5237 23.2575 36.662C23.0012 36.9097 22.5633 37.2256 21.91 37.6922L20.469 38.7304L19.8844 39.1516L19.2998 38.7304L17.8587 37.6922C17.2055 37.2256 16.7676 36.9097 16.5113 36.662C16.3682 36.5237 16.2081 36.3397 16.106 36.0899C16.0011 35.8335 15.9988 35.6045 15.9988 35.4936C15.9988 35.3409 16.0561 34.7097 16.1272 33.9539C16.2026 33.1531 16.3042 32.1108 16.4095 31.0515Z"
                      fill="#A8DFC0"
                      stroke="white"
                      stroke-width="2"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_57_15030">
                      <rect width="40" height="40" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <div class="register-user-box-title">Job Provider</div>
              </nuxt-link>
            </div>
          </div>
        </div>

        <form
          class="employer-register-form"
          novalidate
          @submit.prevent="register"
        >
          <div class="form-box">
            <label class="form-label">Company Name</label>
            <input
              id="company-name"
              v-model="form.company_name"
              type="text"
              class="form-control"
              placeholder="Enter your company Name"
            />
            <span
              v-if="
                $v.form.company_name.$dirty && !$v.form.company_name.required
              "
              class="form-error-msg"
            >
              Company name is required
            </span>
          </div>

          <div class="form-box">
            <label class="form-label">Company Email</label>
            <input
              id="company-email"
              v-model="form.email"
              type="text"
              class="form-control"
              placeholder="Enter your company's Email"
            />
            <span
              v-if="$v.form.email.$dirty && !$v.form.email.required"
              class="form-error-msg"
            >
              Email is required
            </span>
            <span
              v-if="$v.form.email.$dirty && !$v.form.email.email"
              class="form-error-msg"
            >
              Provided email is not valid
            </span>
            <span v-if="emailError !== ''" class="form-error-msg">{{
              emailError
            }}</span>
          </div>

          <div class="form-box">
            <label class="form-label">Contact No</label>
            <input
              v-model="form.contact_no"
              type="text"
              class="form-control w-full"
              placeholder="Enter your company contact"
            />
            <span
              v-if="$v.form.contact_no.$dirty && !$v.form.contact_no.required"
              class="form-error-msg"
            >
              Phone number is required
            </span>
            <span
              v-if="$v.form.contact_no.$dirty && !$v.form.contact_no.numeric"
              class="form-error-msg"
            >
              Phone numbers can only be number
            </span>
          </div>

          <div class="form-box">
            <label class="form-label">Name</label>
            <input
              id="person-name"
              v-model="form.fullname"
              type="text"
              class="form-control"
              placeholder="Enter your name"
            />
            <span
              v-if="$v.form.fullname.$dirty && !$v.form.fullname.required"
              class="form-error-msg"
            >
              Contact person name is required
            </span>
          </div>

          <div class="form-box">
            <label class="form-label">Password</label>
            <input
              id="password"
              v-model="form.password"
              type="password"
              class="form-control"
              placeholder="Enter your password"
            />
            <span
              v-if="$v.form.password.$dirty && !$v.form.password.required"
              class="form-error-msg"
            >
              Password is required
            </span>
          </div>
          <div class="form-box">
            <label class="form-label">Confirm Password</label>
            <input
              id="confirm-password"
              v-model="form.confirmPassword"
              type="password"
              class="form-control"
              placeholder="Enter your confirm Password"
            />
            <span
              v-if="
                $v.form.confirmPassword.$dirty &&
                !$v.form.confirmPassword.required
              "
              class="form-error-msg"
            >
              Password is required
            </span>
            <span
              v-if="
                $v.form.confirmPassword.$dirty &&
                !$v.form.confirmPassword.sameAsPassword
              "
              class="form-error-msg"
            >
              Password missmatch
            </span>
          </div>
          <div class="mt-5">
            <button class="btn btn-primary primary-button" type="submit">
              Register
            </button>
          </div>

          <nuxt-link to="/employer" class="block mt-3 nav-link nav-link-danger"
            >Already have an account?</nuxt-link
          >
        </form>
      </div>

      <div class="login-side-content"></div>
    </div>
  </div>
</template>

<script>
import { required, email, numeric, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'RegisterEmployerPage',
  components: {},
  middleware: 'guest',
  data() {
    return {
      selected: 'provider',
      form: {
        company_name: '',
        email: '',
        contact_no: '',
        fullname: '',
        password: '',
        confirmPassword: '',
        user_type: 'employer',
      },
      emailError: '',
    }
  },

  validations: {
    form: {
      company_name: { required },
      email: { required, email },
      contact_no: { required, numeric },
      fullname: { required },
      password: { required },
      confirmPassword: { required, sameAsPassword: sameAs('password') },
    },
  },

  methods: {
    setSelected() {
      this.$router.push({
        path: '/register/job-seeker',
      })
    },

    async register() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        try {
          await this.$axios.$post('auth/register', this.form)
          await this.$auth.loginWith('user', {
            data: {
              email: this.form.email,
              password: this.form.password,
              role: 'employer',
            },
          })
          this.$router.push({
            name: 'employer-dashboard',
          })
        } catch (err) {
          if (err.response.data.statusCode === 400) {
            this.emailError = err.response.data.message
            this.$toast.error('Email is already registered.')
          }
        }
      } else {
        console.log('error')
      }
    },
  },
}
</script>

<style scoped>
.job-seeker-form {
  margin-top: 40px;
}
</style>
