<template>
  <div>
    <div style="background: grey; height: 200px"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="mt-5 mb-4">
            Your application have been submitted. Please check your mail and
            notification for further information from recruiter
          </h6>
          <button class="btn btn-primary">Browse Jobs</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ThankYouPage',
  components: {},
  layout: 'BaseLayout',
}
</script>

<style>
.home-job-listing {
  margin-top: 100px;
}
</style>
