// Global html tags
a {
  text-decoration: none;
}

// Form
.form-box {
  padding-bottom: 30px;
}
.form-label {
  font-size: 14px;
  color: #425466;
  font-weight: 500;
}
.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 6px;
  // border: none;
}
::placeholder {
  color: #b5b5bd;
  font-weight: 500;
  font-size: 15px;
}

// button
.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
}

.primary-button {
  padding-left: 87px;
  padding-right: 87px;
  background: #26af61;
  border-color: #26af61;
  font-weight: 600;
  font-size: 14px;
}

// H tags
.primary-header {
  font-size: 32px;
  font-weight: 600;
}
.primary-sub-header {
  font-weight: 400;
  font-size: 16px;
}

// Href links
.nav-link {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
  text-decoration: none;
  padding: 0;
  margin: 0;

  &.nav-link-danger {
    color: #26af61;
  }
}

.plain-button {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: transparent;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f8fafc;
  opacity: 1; /* Firefox */
}
