.employer-onboard-box {
  .go-back-link {
    svg {
      margin-right: 14px;
    }
  }
  .left-content-form {
    width: 50%;
    padding: 80px 100px;
    min-height: 100vh;
    @media only screen and (max-width: 480px) and (min-width: 100px) {
      width: 100%;
      padding: 40px 20px;
    }
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      padding: 40px 20px;
      width: 100%;
    }
    @media only screen and (max-width: 1200px) and (min-width: 769px) {
      padding: 40px;
      width: 50%;
    }
  }
  .login-side-content {
    width: 50%;
    background-color: #26af61;
    min-height: 100vh;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .form-header {
    margin-top: 90px;
    margin-bottom: 39px;
  }
  .forgot-password-box {
    text-align: right;
    margin-bottom: 54px;
  }
}

// Register
.register-user-box {
  background: #ffffff;
  border: 2px solid #d3efdf;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 22px 40px;
  margin-right: 32px;
  cursor: pointer;
  text-align: center;
  &.register-user-box-selected {
    background: #d3efdf;
    border: 2px solid #26af61;
    svg {
      fill: #26af61 !important;
    }
  }
}
.register-tag {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
  margin-bottom: 14px;
}
.register-user-box-title {
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  margin-top: 10px;
}
.employer-register-form {
  margin-top: 40px;
}

// Dashboard
.navbar-box {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
}
.navbar-box-wrapper {
  height: 80px;
  ul {
    li {
      list-style: none;
    }
  }
}
.logo-title {
  font-weight: 600;
  font-size: 25px;
  color: #26ae61;
}

.base-search-input {
  display: flex;
  align-items: center;
  border-radius: 6px;
  line-height: 46px;
  height: 46px;
  vertical-align: middle;
  background: #f4f4f4;
  width: 100%;
  input {
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: none;
    border: none;
    margin-left: 18px;
    &:focus {
      outline: none;
      box-shadow: none;
      background: none;
    }
  }
}
.horizontal-divider {
  border-left: 2px solid black;
}
