@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css');
@import url('https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.7.0/dist/style.css');

@import './_common.scss';
@import './_employer.scss';

* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px !important;
  }
}

body {
  background-color: #eaeaea;
}

.form-error-msg {
  font-size: 12px;
  color: red;
}

.w-full {
  min-width: 100%;
}

// Component
.page-title {
  font-size: 32px;
  font-weight: 600;
}
.file-uploader-wrapper {
  background: #e9f0f7;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;

  label {
    margin: 34px 0;
  }

  .drag-drop {
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    margin-top: 26px;
    margin-bottom: 15px;
  }
  .drag-or {
    font-weight: 500;
    font-size: 14px;
  }
  button {
    background: #266baf;
    border-radius: 8px;
    width: 130px;
    height: 46px;
    color: white;
    border: none;
    box-shadow: none;
  }
}

// utilities
.bg-white {
  background-color: #ffffff;
}
.float-right {
  float: right;
}
.ml-auto {
  margin-left: auto;
}
.block {
  display: block;
}
.min-h-full {
  min-height: 100vh;
}
.font-semibold {
  font-weight: 500;
}

// librairies
.slick-slide {
  margin: 0 10px !important;
}

// form
.form-input-error {
  border: 1px solid red;
}
