<template>
  <div class="footer">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
        <div class="col">
          <div class="footer-heading">Job Seekers</div>
          <ul>
            <li>
              <nuxt-link to="/">Register to SojoJob</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">Login to SojoJob Account</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">Career Guidance</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">FAQ & Privacy Policy</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="footer-heading">Job Providers</div>
          <ul>
            <li>
              <nuxt-link to="/">Register to SojoJob</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">Login to SojoJob Account</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">Headhunting Services</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">Insider Insights</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">FAQ & Privacry Policy</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="col"></div>
        <div class="col">
          <div class="d-flex align-items-center footer-info">
            <img src="@/assets/icons/logo.svg" />
            <h1>SOJOJOB</h1>
          </div>
          <div class="footer-info-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </div>
          <div class="d-flex align-items-center footer-social-info">
            <span>Connect with us on:</span>
            <span>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.1875 2.1875H2.8125C2.4668 2.1875 2.1875 2.4668 2.1875 2.8125V17.1875C2.1875 17.5332 2.4668 17.8125 2.8125 17.8125H17.1875C17.5332 17.8125 17.8125 17.5332 17.8125 17.1875V2.8125C17.8125 2.4668 17.5332 2.1875 17.1875 2.1875ZM15.3828 6.74805H14.1348C13.1562 6.74805 12.9668 7.21289 12.9668 7.89648V9.40234H15.3027L14.998 11.7598H12.9668V17.8125H10.5312V11.7617H8.49414V9.40234H10.5312V7.66406C10.5312 5.64648 11.7637 4.54688 13.5645 4.54688C14.4277 4.54688 15.168 4.61133 15.3848 4.64062V6.74805H15.3828Z"
                  fill="white"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.footer {
  .col {
    margin-bottom: 60px;
  }
  background: #333333;
  padding: 62px 0;
  .footer-heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    color: white;
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      list-style: none;
      a {
        color: white;
        line-height: 32px;
        font-size: 16px;
        font-weight: 400;
        margin: 4px 0;
        display: block;
      }
    }
  }
  .footer-info {
    h1 {
      color: #26ae61;
    }
  }
  .footer-info-content {
    color: white;
    margin: 20px 0;
    line-height: 32px;
    font-size: 16px;
  }
  .footer-social-info {
    color: white;
    span {
      margin-right: 10px;
    }
  }
}

.home-alt-content {
  background: #f9fdfb;
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
