<template>
  <div>
    <div class="navbar-box">
      <div class="container">
        <div
          class="navbar-box-wrapper d-flex justify-content-between align-items-center"
        >
          <div class="d-flex">
            <NuxtLink class="d-flex align-items-center navbar-brand" to="/">
              <img src="@/assets/icons/logo.svg" />
              <h1 class="logo-title">SOJOJOB</h1>
            </NuxtLink>
            <div>
              <form class="">
                <div class="base-search-input">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search anything"
                    aria-label="Search"
                  />
                </div>
              </form>
            </div>
          </div>

          <ul v-if="$auth.loggedIn" class="d-flex align-items-center p-0 m-0">
            <li class="nav-item mx-4 notification-bell">
              <svg
                width="22"
                height="28"
                viewBox="0 0 22 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 27.3332C10.2926 27.3297 9.61499 27.0481 9.11352 26.5491C8.61206 26.0501 8.32704 25.3739 8.32004 24.6665H13.6534C13.6562 25.023 13.5882 25.3765 13.4534 25.7065C13.281 26.1022 13.0169 26.4512 12.6831 26.7247C12.3493 26.9983 11.9552 27.1885 11.5334 27.2798H11.4707C11.3158 27.3121 11.1582 27.33 11 27.3332ZM21.6667 23.3332H0.333374V20.6665L3.00004 19.3332V11.9998C2.9298 10.1187 3.35462 8.25201 4.23204 6.5865C4.66382 5.82286 5.25262 5.15945 5.95957 4.64003C6.66653 4.12062 7.47559 3.757 8.33337 3.57317V0.666504H13.6667V3.57317C17.1054 4.39184 19 7.38384 19 11.9998V19.3332L21.6667 20.6665V23.3332Z"
                  fill="#333333"
                />
              </svg>
            </li>
            <li class="nav-item mx-4 settings">
              <nuxt-link to="/employer/profile">
                <svg
                  width="26"
                  height="28"
                  viewBox="0 0 26 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.4267 27.3332H10.5734C10.2693 27.3332 9.97432 27.2293 9.73738 27.0387C9.50045 26.8481 9.33579 26.5822 9.27072 26.2852L8.72805 23.7732C8.00413 23.456 7.31769 23.0593 6.68138 22.5905L4.23205 23.3705C3.94213 23.463 3.62932 23.4535 3.34554 23.3436C3.06177 23.2337 2.82412 23.0301 2.67205 22.7665L0.240049 18.5652C0.0895764 18.3013 0.0330926 17.9943 0.0798391 17.6942C0.126586 17.3941 0.273795 17.1187 0.497382 16.9132L2.39738 15.1798C2.31098 14.3947 2.31098 13.6024 2.39738 12.8172L0.497382 11.0878C0.273478 10.8822 0.126069 10.6066 0.0793145 10.3062C0.0325604 10.0058 0.089235 9.69846 0.240049 9.4345L2.66672 5.2305C2.81878 4.96692 3.05644 4.76329 3.34021 4.65342C3.62398 4.54355 3.9368 4.53405 4.22672 4.6265L6.67605 5.4065C7.00138 5.1665 7.34005 4.9425 7.68938 4.73984C8.02672 4.5505 8.37338 4.3785 8.72805 4.22517L9.27205 1.71584C9.33681 1.41877 9.50116 1.15275 9.73784 0.961902C9.97453 0.77105 10.2693 0.666824 10.5734 0.666504H15.4267C15.7308 0.666824 16.0256 0.77105 16.2623 0.961902C16.4989 1.15275 16.6633 1.41877 16.7281 1.71584L17.2774 4.2265C18.0004 4.54553 18.6866 4.94207 19.3241 5.40917L21.7747 4.62917C22.0645 4.53706 22.377 4.54673 22.6605 4.65659C22.9439 4.76644 23.1814 4.96988 23.3334 5.23317L25.76 9.43717C26.0694 9.97984 25.9627 10.6665 25.5027 11.0892L23.6027 12.8225C23.6891 13.6077 23.6891 14.4 23.6027 15.1852L25.5027 16.9185C25.9627 17.3425 26.0694 18.0278 25.76 18.5705L23.3334 22.7745C23.1813 23.0381 22.9437 23.2417 22.6599 23.3516C22.3761 23.4615 22.0633 23.471 21.7734 23.3785L19.3241 22.5985C18.6882 23.067 18.0022 23.4632 17.2787 23.7798L16.7281 26.2852C16.663 26.582 16.4986 26.8477 16.2619 27.0383C16.0252 27.2289 15.7306 27.3329 15.4267 27.3332ZM12.9947 8.6665C11.5802 8.6665 10.2237 9.22841 9.22348 10.2286C8.22329 11.2288 7.66138 12.5854 7.66138 13.9998C7.66138 15.4143 8.22329 16.7709 9.22348 17.7711C10.2237 18.7713 11.5802 19.3332 12.9947 19.3332C14.4092 19.3332 15.7658 18.7713 16.766 17.7711C17.7661 16.7709 18.3281 15.4143 18.3281 13.9998C18.3281 12.5854 17.7661 11.2288 16.766 10.2286C15.7658 9.22841 14.4092 8.6665 12.9947 8.6665Z"
                    fill="#333333"
                  />
                </svg>
              </nuxt-link>
            </li>
            <li class="nav-item mx-3 logout">
              <employer-menu />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import EmployerMenu from './employer/EmployerMenu.vue'

export default {
  components: { EmployerMenu },
  computed: {
    ...mapGetters(['isAuthenticated', 'getAuthUserData']),
  },
  methods: {
    ...mapActions(['logoutUser']),
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style lang="scss" scoped>
.logo-title {
  @media only screen and (max-width: 834px) {
    display: none;
    margin-right: 0px;
  }
}
.base-search-input {
  @media only screen and (max-width: 834px) {
    width: 308px;
  }
}
.logged-user-name {
  @media only screen and (max-width: 834px) {
    display: none;
  }
}
.logout {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .logo-title,
  .notification-bell,
  .settings {
    display: none;
  }
  .base-search-input {
    width: 160px;
  }
}
@media only screen and (max-width: 834px) {
  .logo-title,
  .notification-bell,
  .settings {
    display: none;
  }
  .base-search-input {
    width: 160px;
  }
}
</style>
