<template>
  <nuxt-link :to="{ path: '/jobs', query: { job: job.slug } }">
    <div class="job-card-wrapper">
      <div class="job-card-content">
        <div class="job-logo">
          <img v-if="logo !== ''" :src="logo" />
          <img v-else src="@/assets/images/sj-logo.svg" />
        </div>
        <div class="job-content">
          <h2 class="job-title">{{ job.title }}</h2>
          <h2 class="job-company">{{ job.user.employer.company_name }}</h2>
          <p class="job-salary">{{ job.employment_type }}</p>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: null,
    },
  },
  computed: {
    logo() {
      if (this.job.user.employer.logo !== null) {
        return this.job.user.employer.logo
      }
      return ''
    },
  },
}
</script>

<style lang="scss" scoped>
.job-card-wrapper {
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid #e9f7ef;
  padding: 20px 20px 10px 20px;
  background: white;
  margin-bottom: 26px;
}
.job-card-content {
  display: flex;

  .job-logo {
    img {
      display: block;
      width: 40px;
      margin-right: 20px;
    }
  }
  .job-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: black;
  }
  .job-company {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: black;
  }
  .job-salary {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #26af61;
  }
}
</style>
