<template>
  <div>
    <div class="navbar-box">
      <div class="container">
        <div
          class="navbar-box-wrapper d-flex justify-content-between align-items-center"
        >
          <div class="d-flex">
            <NuxtLink class="d-flex align-items-center navbar-brand" to="/">
              <img src="@/assets/icons/logo.svg" />
              <h1 class="logo-title">SOJOJOB</h1>
            </NuxtLink>
          </div>

          <ul class="d-flex align-items-center p-0 m-0">
            <li class="nav-item">
              <nuxt-link to="/blog" class="link-find-job">Blog</nuxt-link>
            </li>
            <li v-if="!$auth.loggedIn" class="nav-item">
              <nuxt-link to="/register/job-seeker" class="link-find-job"
                >Sign Up</nuxt-link
              >
            </li>

            <li v-if="!$auth.loggedIn" class="nav-item">
              <nuxt-link to="/login/job-seeker" class="button-link"
                >Sign In</nuxt-link
              >
            </li>

            <!-- Employer Navbar -->
            <li
              v-if="$auth.loggedIn && $auth.user.user_type === 'employer'"
              class="nav-item"
            >
              <employer-menu></employer-menu>
            </li>

            <!-- Job Seeker Navbar -->
            <!-- <li
              v-if="$auth.loggedIn && $auth.user.user_type === 'job_seeker'"
              class="nav-item"
            >
              <nuxt-link to="/job-seeker/detail" class="link-find-job">
                My Profile</nuxt-link
              >
            </li>
            <li
              v-if="$auth.loggedIn && $auth.user.user_type === 'job_seeker'"
              class="nav-item"
            >
              <nuxt-link to="/job-seeker/edit-profile" class="link-find-job"
                >Edit Profile</nuxt-link
              >
            </li>
            <li
              v-if="$auth.loggedIn && $auth.user.user_type === 'job_seeker'"
              class="nav-item"
            >
              <nuxt-link to="/job-seeker/overview" class="link-find-job"
                >Profile Overview</nuxt-link
              >
            </li> -->

            <li
              v-if="$auth.loggedIn && $auth.user.user_type === 'job_seeker'"
              class="nav-item"
            >
              <profile-menu></profile-menu>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import EmployerMenu from './employer/EmployerMenu.vue'
import ProfileMenu from './job-seeker/ProfileMenu.vue'

export default {
  components: { ProfileMenu, EmployerMenu },
  methods: {
    ...mapActions(['logoutUser']),
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style lang="scss" scoped>
.logo-title {
  @media only screen and (max-width: 834px) {
    display: none;
    margin-right: 0px;
  }
}
.base-search-input {
  @media only screen and (max-width: 834px) {
    width: 308px;
  }
}
.logged-user-name {
  @media only screen and (max-width: 834px) {
    display: none;
  }
}
.logout {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .logo-title,
  .notification-bell,
  .settings {
    display: none;
  }
  .base-search-input {
    width: 160px;
  }
}
@media only screen and (max-width: 834px) {
  .logo-title,
  .notification-bell,
  .settings {
    display: none;
  }
  .base-search-input {
    width: 160px;
  }
}

// Default
.link-find-job {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin-right: 50px;
}
.button-link {
  background: #26af61;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 11px 16px 12px 16px;
  width: 126px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 415px) {
  .button-link {
    width: 92px;
    font-size: 14px;
  }
  .link-find-job {
    font-size: 14px;
  }
}
</style>
