<template>
  <div>
    <button
      type="button"
      class="btn btn-link p-0 nav-link login-button mt-1 mx-3"
      aria-current="page"
      @click="isModalActive = true"
    >
      Register
    </button>
    <client-only placeholder="...loading">
      <base-modal
        :active="isModalActive"
        header="Register"
        @close="isModalActive = false"
      >
        <div v-if="error_message" class="error-message">
          {{ error_message }}
        </div>
        <form novalidate @submit.prevent="onSubmit">
          <div class="mt-1 mb-4">
            <div class="mb-3">
              <label for="register-email" class="form-label"
                >Email Address</label
              >
              <input v-model="user.email" type="email" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="register-name" class="form-label">Name</label>
              <input v-model="user.name" type="text" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="register-password" class="form-label">Password</label>
              <input
                v-model="user.password"
                type="password"
                class="form-control"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="width: 100%"
            >
              Register
            </button>
          </div>
        </form>
      </base-modal>
    </client-only>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import BaseModal from '@/components/ui/BaseModal.vue'

export default {
  name: 'UserRegister',
  components: { BaseModal },

  data() {
    return {
      isModalActive: false,
      user: {
        email: '',
        name: '',
        password: '',
      },
      error_message: '',
    }
  },

  methods: {
    ...mapActions(['setAuthenticated', 'logoutUser']),
    onSubmit() {
      this.$axios
        .$post('user/register', this.user)
        .then((res) => {
          if (res.status === 200) {
            this.error_message = ''
            this.setAuthenticated(res.user)
            this.isModalActive = false
          } else {
            this.error_message = res.message
            this.logoutUser()
          }
        })
        .catch(() => {
          this.logoutUser()
        })
    },
  },
}
</script>

<style lang="scss">
.login-button {
  outline: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
.error-message {
  color: red;
}
</style>
