<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="my-5">
            <div class="my-5">
              <div class="mb-5">
                <div v-if="blog !== null" class="card">
                  <div class="card-body">
                    <div class="">
                      <img :src="bannerImage" alt="" width="100%" />
                    </div>
                    <h5 class="card-title mt-5">{{ blog.title }}</h5>
                    <div class="my-3">
                      <span>Posted by: {{ blog.created_by.email }}</span>
                      <span class="mx-5"
                        >Posted on: {{ formatDate(blog.created_at) }}</span
                      >
                    </div>
                    <div class="card-body p-0" v-html="blog.content"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { BASE_API_URL } from '@/configurations/env'

export default {
  name: 'IndexPage',
  components: {},
  layout: 'BaseLayout',

  data() {
    return {
      blog: null,
      bannerImage: '',
    }
  },

  async mounted() {
    const blog = await this.$axios.$get(`blog/edit/${this.$route.params.blog}`)
    this.blog = blog

    if (blog.banner && blog.banner !== '') {
      this.bannerImage = `${BASE_API_URL}/blog/banner/${blog.banner}`
    }
  },

  methods: {
    formatDate(date) {
      return moment(date).format('MMMM Do YYYY, h:mm:ss a')
    },
  },
}
</script>
