<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="my-5">
            <div class="my-5">
              <div v-for="(blog, i) in blogs" :key="i" class="mb-5">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <nuxt-link :to="'/blog/' + blog.permalink">view</nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  components: {},
  layout: 'BaseLayout',

  data() {
    return {
      blogs: [],
    }
  },

  async mounted() {
    const blogs = await this.$axios.$get('blog/all')
    this.blogs = blogs
  },
}
</script>
