<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <a class="navbar-brand" href="#">Admin</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <nuxt-link class="nav-link" to="/admin/dashboard"
            >Dashboard</nuxt-link
          >
        </li>
        <li class="nav-item">
          <nuxt-link to="/admin/jobs" class="nav-link">Jobs</nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link to="/admin/company" class="nav-link">Company</nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link to="/admin/education" class="nav-link"
            >Education</nuxt-link
          >
        </li>
        <li class="nav-item">
          <nuxt-link to="/admin/experience" class="nav-link"
            >Experience</nuxt-link
          >
        </li>
        <li class="nav-item">
          <nuxt-link to="/admin/job-info" class="nav-link"
            >Job Presets</nuxt-link
          >
        </li>
        <li class="nav-item">
          <nuxt-link to="/admin/blog" class="nav-link">Blog</nuxt-link>
        </li>
        <li class="nav-item">
          <button type="button" class="btn">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {}
</script>

<style></style>
