<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'
export default {
  components: { AdminNavBar },
  middleware: 'admin',
  methods: {
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style></style>
