<template>
  <div class="container">
    <div class="row">
      <div class="col-4 offset-4">
        <h3 class="mt-5">Admin Login</h3>
        <form novalidate @submit.prevent="login">
          <div>
            <label>Email</label>
            <input v-model="form.email" type="text" class="form-control" />
          </div>
          <div class="mt-3">
            <label>Password</label>
            <input
              v-model="form.password"
              type="password"
              class="form-control"
            />
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'admin',
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    }
  },

  methods: {
    login() {
      this.$auth
        .loginWith('admin', { data: this.form })
        .then(() => {
          this.$router.push({ path: '/admin/dashboard' })
        })
        .catch((err) => {
          console.log(err)
        })
    },
  },
}
</script>

<style></style>
