<template>
  <div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-9">
          <h4>{{ job.title }}</h4>

          <p v-if="job.details">{{ job.details.experience }}</p>
          <p v-if="job.details">{{ job.details.salary }}</p>

          <p>
            <!-- <b>{{ job.company.address }}</b> -->
          </p>

          <div class="mb-3">
            <button class="btn btn-primary mr-5" @click="resumeModal = true">
              APPLY NOW
            </button>
            <button v-if="$auth.loggedIn" class="btn btn-primary">
              Bookmark Job
            </button>
          </div>

          <div style="background-color: #f5f0f0; padding: 6px 14px">
            <b>Views:</b> 1
            <span style="width: 100px; display: inline-block"></span>
            <b>Posted:</b> {{ getDateFormatted(job.created_at) }}
            <span style="width: 100px; display: inline-block"></span>
            <b>Applicants:</b>
            <span v-if="job.applications">{{ job.applications.length }}</span>
            <span v-else>0</span>
          </div>

          <h5 class="mt-5">Job Description</h5>

          <div v-html="job.description"></div>

          <div v-if="job.tags" class="mt-5 mb-5">
            <h5>Required Skills</h5>
            <span
              v-for="(tag, i) in job.tags.split(',')"
              :key="i"
              class="skill-pill"
              style="margin-right: 5px"
              >{{ tag }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <base-modal
      :active="resumeModal"
      header="Apply for this job"
      @close="resumeModal = false"
    >
      <form v-if="!$auth.loggedIn" @submit.prevent="submitJobForm">
        <div class="mt-1 mb-5">
          <div class="mb-3">
            <label for="email-resume" class="form-label">Email Address</label>
            <input
              v-model="application.email"
              type="email"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="name-resume" class="form-label">Fullname</label>
            <input
              v-model="application.name"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="form-resume" class="form-label"
              >Upload CV (optional)</label
            >
            <input
              ref="resume"
              type="file"
              class="form-control"
              accept="application/pdf"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            style="width: 100%"
          >
            Send application
          </button>
        </div>
      </form>
      <div v-else>
        <h6>
          Do you want to submit your application along with your resume and
          profile?
        </h6>
        <base-button class="w-full" @click="applyJobAsUser"
          >CONFIRM APPLY</base-button
        >
      </div>
    </base-modal>
  </div>
</template>

<script>
import moment from 'moment'
import BaseModal from '@/components/ui/BaseModal.vue'
import BaseButton from '~/components/ui/BaseButton.vue'

export default {
  name: 'JobPage',
  components: { BaseModal, BaseButton },
  layout: 'BaseLayout',

  data() {
    return {
      job: {},
      title: '',
      resumeModal: false,

      application: {
        email: '',
        name: '',
      },
    }
  },

  async mounted() {
    const job = await this.$axios.$get(
      `jobs/info/${this.$route.params.jobslug}`
    )
    console.log(job)
    this.job = job
  },

  methods: {
    async submitJobForm() {
      const file = this.$refs.resume.files[0]
      const formData = new FormData()
      formData.append('email', this.application.email)
      formData.append('name', this.application.name)
      formData.append('file', file)
      formData.append('job', this.job.id)

      try {
        await this.$axios.post(`jobs/apply`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
      } catch (err) {
        console.log(err.message)
      }
    },

    getDateFormatted(date) {
      return moment(date).fromNow()
    },

    goToProfile() {
      this.$router.push({
        path: '/profile/papish-limbu-1567382',
      })
    },

    async applyJobAsUser() {
      const res = await this.$axios.$post('jobs/apply-as-user', {
        job: this.job.id,
        user: this.$auth.user.id,
      })
      console.log(res)
    },
  },
}
</script>

<style scoped lang="scss">
.skill-pill {
  display: inline-block;
  width: auto;
  border: 2px solid red;
  padding: 3px 10px;
  border-radius: 20px;
}
.similar-jobs {
  list-style: none;
  li {
    list-style: none;
  }
  h5 {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}
</style>
