<template>
  <div class="container">
    <div class="row">
      <div v-if="hasToken" class="col-12">
        <div class="my-5">
          <form novalidate @submit.prevent="reset">
            <h4>Please enter your new password</h4>
            <div class="mt-3">
              <label>New Password</label>
              <input
                v-model="form.password"
                type="password"
                class="form-control"
              />
            </div>

            <div class="mt-3">
              <label>Re-confirm Password</label>
              <input
                v-model="form.confirmPassword"
                type="password"
                class="form-control"
              />
            </div>

            <div class="my-3">
              <base-button type="submit" class="btn btn-primary"
                >Confirm</base-button
              >
            </div>
          </form>
        </div>
      </div>
      <div v-else class="col-12">
        <div class="my-5">
          <form novalidate @submit.prevent="submit">
            <h4>Please enter your email address</h4>
            <input
              v-model="email"
              type="text"
              class="form-control"
              placeholder="Email Address"
            />
            <div class="mt-3 mb-5">
              <base-button type="submit">Submit</base-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseButton from '~/components/ui/BaseButton.vue'
export default {
  components: { BaseButton },
  layout: 'BaseLayout',

  data() {
    return {
      email: '',
      hasToken: false,

      form: {
        password: '',
        confirmPassword: '',
      },
    }
  },

  created() {
    if (this.$route.query.token) {
      this.hasToken = true
    } else {
      this.hasToken = false
    }
  },

  methods: {
    async submit() {
      await this.$axios.$post('user/forgot-password', {
        email: this.email,
      })
      this.$toast.open(
        'An email has been sent to you with a link to reset your password.'
      )
    },

    async reset() {
      try {
        const res = await this.$axios.post(`/user/reset_password`, this.form, {
          headers: {
            Authorization: `Bearer ${this.$route.query.token}`,
          },
        })
        console.log(res)
        this.$toast.open('Password changed successfully')
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>

<style></style>
