<template>
  <div>
    <div class="home-container">
      <div class="home-banner"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="home-page-header">
              <h1>
                Helping employers and employees find the
                <span>ideal</span> match
              </h1>
            </div>
          </div>
          <div class="col-3"></div>
          <div class="col-lg-6 col-xs-12">
            <form novalidate @submit.prevent="goToSearch">
              <div class="get-started">
                <div class="home-search">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.875 16.875L21.375 21.375"
                      stroke="#ADADAD"
                      stroke-width="2.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M11.25 18.375C15.185 18.375 18.375 15.185 18.375 11.25C18.375 7.31497 15.185 4.125 11.25 4.125C7.31497 4.125 4.125 7.31497 4.125 11.25C4.125 15.185 7.31497 18.375 11.25 18.375Z"
                      stroke="#ADADAD"
                      stroke-width="2.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <input
                    v-model="searchJob"
                    class="mx-2"
                    placeholder="Search jobs"
                  />
                </div>
                <base-button type="submit" class="home-searchb-btn"
                  >Search</base-button
                >
              </div>
            </form>
            <div class="home-search-tags">
              <span class="search-title">Trending tags: </span>
              <span class="search-tag-pill">Technology</span>
              <span class="search-tag-pill">Designer</span>
              <span class="search-tag-pill">Python</span>
              <span class="search-tag-pill">Full Stack</span>
              <span class="search-tag-pill">Marketing</span>
            </div>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </div>
    <div class="home-content">
      <trending-jobs :jobs="jobs"></trending-jobs>
    </div>

    <div class="home-content">
      <top-employers></top-employers>
    </div>

    <div class="home-alt-content">
      <most-viewed-jobs :jobs="mostViewedJobs"></most-viewed-jobs>
    </div>
  </div>
</template>

<script>
import BaseButton from '~/components/ui/BaseButton.vue'
import TrendingJobs from '~/components/home/TrendingJobs.vue'
import TopEmployers from '~/components/home/TopEmployers.vue'
import MostViewedJobs from '~/components/home/MostViewedJobs.vue'

export default {
  name: 'IndexPage',
  components: {
    BaseButton,
    TrendingJobs,
    TopEmployers,
    MostViewedJobs,
  },
  layout: 'BaseLayout',

  data() {
    return {
      jobs: [],
      mostViewedJobs: [],
      searchJob: '',
    }
  },

  async mounted() {
    const jobs = await this.$axios.$get('jobs/all?package=1')
    this.jobs = jobs

    const mostViewedJobs = await this.$axios.$get('jobs/all?package=2')
    this.mostViewedJobs = mostViewedJobs
  },

  methods: {
    goToSearch() {
      this.$router.push({
        name: 'jobs',
        query: {
          keyword: this.searchJob,
        },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.home-container {
  position: relative;
}
.home-banner {
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  background-image: url('@/assets/images/pexels-sora-shimazaki.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  height: 100%;
}
.home-page-header {
  padding-left: 240px;
  padding-right: 240px;
  text-align: center;
  h1 {
    margin-top: 110px;
    font-weight: 600;
    line-height: 80px;
    font-size: 50px;
    margin-bottom: 36px;
    span {
      color: #26af61;
    }
  }
}

@media only screen and (max-width: 834px) {
  .home-page-header {
    padding: 0;
    h1 {
      margin-top: 40px;
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 10px;
    }
  }
}

.get-started {
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}

.home-search {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 12px 16px;
  border-radius: 6px;
  margin-right: 10px;
  width: 100%;

  input {
    border: none;
    box-shadow: none;
    background: none;

    &:active,
    &:focus {
      outline: none;
    }
  }
}
.home-searchb-btn {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 600;
}
@media only screen and (max-width: 415px) {
  .home-searchb-btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  .get-started {
    justify-content: space-between;
    padding: 0 10px;
  }
}

.home-search-tags {
  margin-top: 24px;
  margin-bottom: 50px;

  .search-title {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    margin-right: 10px;
  }
  .search-tag-pill {
    background-color: white;
    border: none;
    color: #26af61;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
  }
}
.home-content {
  background: white;
  padding-top: 50px;
}
</style>
