<template>
  <div>
    <ImageUploader />
  </div>
</template>

<script>
import ImageUploader from '~/components/core/ImageUploader.vue'
export default {
  name: 'SomeComponent',
  components: { ImageUploader },
}
</script>
