<template>
  <div>
    <job-form :job-detail="job" @on-submit="editJob"></job-form>

    <div class="container mb-5">
      <nuxt-link :to="'/employer/job/' + job.id + '/question'"
        >Add Questions</nuxt-link
      >
    </div>
  </div>
</template>

<script>
import JobForm from '~/components/employer/JobForm.vue'

export default {
  name: 'EmployerEditJobPage',
  components: { JobForm },
  layout: 'EmployerLayout',
  middleware: 'auth',

  async asyncData({ $axios, params }) {
    const job = await $axios.$get(`jobs/${params.jobslug}/edit`)
    return { job }
  },

  methods: {
    editJob(data) {
      this.$axios
        .$post(`jobs/${this.$route.params.jobslug}/update`, data)
        .then((data) => {
          this.$toast.open('Job Updated')
        })
    },
  },
}
</script>
