<template>
  <div>
    <job-form @on-submit="createJob"></job-form>
  </div>
</template>

<script>
import JobForm from '~/components/employer/JobForm.vue'
export default {
  name: 'EmployerCreateJobPage',
  components: { JobForm },
  layout: 'EmployerLayout',
  middleware: 'auth',

  methods: {
    createJob(data) {
      this.$axios.$post('jobs/create', data).then((data) => {
        this.$toast.open('Job Created')
        this.$router.push({
          path: `/employer/job/${data.id}/question`,
        })
      })
    },
  },
}
</script>
