<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        <div class="d-flex align-items-center">
          <nuxt-link to="/job-seeker/overview">
            <svg
              width="32"
              height="29"
              viewBox="0 0 32 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30 13.0001H6.28L13.54 4.28006C13.8795 3.87163 14.0428 3.34507 13.994 2.81622C13.9453 2.28736 13.6884 1.79954 13.28 1.46006C12.8716 1.12059 12.345 0.957262 11.8162 1.00602C11.2873 1.05478 10.7995 1.31163 10.46 1.72006L0.46 13.7201C0.392721 13.8155 0.332559 13.9158 0.28 14.0201C0.28 14.1201 0.28 14.1801 0.14 14.2801C0.0493473 14.5094 0.00188224 14.7535 0 15.0001C0.00188224 15.2466 0.0493473 15.4907 0.14 15.7201C0.14 15.8201 0.14 15.8801 0.28 15.9801C0.332559 16.0843 0.392721 16.1846 0.46 16.2801L10.46 28.2801C10.648 28.5058 10.8835 28.6874 11.1497 28.8118C11.4159 28.9363 11.7062 29.0005 12 29.0001C12.4673 29.001 12.9202 28.8382 13.28 28.5401C13.4825 28.3722 13.6499 28.166 13.7726 27.9333C13.8953 27.7006 13.9709 27.446 13.9951 27.184C14.0192 26.9221 13.9915 26.6579 13.9134 26.4067C13.8353 26.1555 13.7084 25.9222 13.54 25.7201L6.28 17.0001H30C30.5304 17.0001 31.0391 16.7893 31.4142 16.4143C31.7893 16.0392 32 15.5305 32 15.0001C32 14.4696 31.7893 13.9609 31.4142 13.5858C31.0391 13.2108 30.5304 13.0001 30 13.0001Z"
                fill="black"
              />
            </svg>
          </nuxt-link>
          <div class="page-title mx-4">My Resume</div>
        </div>
      </div>
      <div class="col-6">
        <base-button type="button" class="ml-auto block" @click="downloadPdf"
          >Download PDF</base-button
        >
      </div>

      <client-only>
        <vue-html2pdf
          ref="html2Pdf"
          :show-layout="true"
          :float-layout="false"
          :enable-download="true"
          :preview-modal="false"
          :paginate-elements-by-height="1400"
          filename="resume"
          :pdf-quality="2"
          :manual-pagination="true"
          pdf-format="a4"
          pdf-orientation="landscape"
          pdf-content-width="100%"
        >
          <section slot="pdf-content">
            <div class="detail-wrapper mt-5 mx-auto">
              <div class="row">
                <div class="col-8">
                  <div class="">
                    <h4>{{ resume.fullname }}</h4>
                  </div>
                  <div v-html="resume.summary"></div>
                  <div class="my-5">
                    <h3 class="sub-header mb-4">Wrok Experience</h3>
                    <div class="sub-content" v-html="resume.experience"></div>
                  </div>

                  <div class="my-5">
                    <h3 class="sub-header mb-4">Skills</h3>
                    <div class="sub-content" v-html="resume.skills"></div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-5">
                    <div>{{ user.email }}</div>
                    <div>
                      {{ resume.contact_no }}
                    </div>
                    <div>
                      {{ resume.current_address || 'Address' }}
                    </div>
                  </div>
                  <div class="my-5">
                    <h3 class="sub-header mb-4">Education</h3>
                    <div class="sub-content" v-html="resume.education"></div>
                  </div>
                  <div class="my-5">
                    <h3 class="sub-header mb-4">Activities</h3>
                    <div class="sub-content" v-html="resume.activities"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </vue-html2pdf>
      </client-only>
      <div class="mb-5"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BaseButton from '~/components/ui/BaseButton.vue'

export default {
  components: {
    BaseButton,
  },
  layout: 'BaseLayout',
  middleware: 'job_seeker',
  data() {
    return {
      profile: {},
      isEdit: false,
      resume: {
        fullname: '',
        contact_no: '',
        current_address: '',
        summary: '',
        experience: '',
        education: '',
        skills: '',
        activities: '',
      },
    }
  },
  computed: {
    ...mapState({
      user: (state) => state.auth.user,
    }),
  },
  async mounted() {
    const resume = await this.$axios.$get(`job_seeker/${this.user.id}/resume`)
    if (resume.id) {
      this.resume.summary = resume.summary
      this.resume.experience = resume.experience
      this.resume.education = resume.education
      this.resume.skills = resume.skills
      this.resume.activities = resume.activities
      this.resume.current_address = resume.current_address
      this.resume.contact_no = resume.contact_no
    } else {
      this.resume.summary =
        'To replace the text of your own, just click it  and start typing. Briefly state your career objective, or summarize what makes you stand out. Use language form the job description as keywords.'
      this.resume.experience =
        '<p><strong>DATES FROM - TO</strong></p>\n<p><strong>JOB TITLE, COMPANY</strong></p>\n<p>Describe your responsibilities</p>'
      this.resume.education =
        "<p><strong>MONTH YEAR</strong></p>\n<p><strong>DEGREE TITLE, SCHOOL</strong></p>\n<p>It's okay to brag about your GPA, awards and honors. Feel free to summarize your course work too.</p>\n\n<p><strong>MONTH YEAR</strong></p>\n<p><strong>DEGREE TITLE, SCHOOL</strong></p>\n<p>It's okay to brag about your GPA, awards and honors. Feel free to summarize your course work too.</p>"
      this.resume.skills =
        '<ul>\n<li>List your strength relevant for the role you are applying for.</li>\n<li>List one of your strength</li>\n</ul>'
      this.resume.activities =
        '<p>Use this section to highlight your relevant passion, activities and how you like to give back.</p>'
    }

    const profileInfo = await this.$axios.$get(
      `job_seeker/${this.user.id}/profile`
    )
    this.profile = profileInfo

    if (profileInfo) {
      this.resume.fullname = profileInfo.fullname
      this.resume.current_address = profileInfo.current_address
    }

    if (typeof resume.id === 'undefined') {
      this.resume.fullname = profileInfo.fullname
      this.resume.contact_no = profileInfo.contact_no
      this.resume.current_address = profileInfo.current_address
    }
  },
  methods: {
    toggleEdit() {
      this.isEdit = !this.isEdit
    },
    async saveResume() {
      this.resume.user = this.user.id
      await this.$axios.$post('job_seeker/update-resume', this.resume)
      this.isEdit = false
    },
    downloadPdf() {
      this.$refs.html2Pdf.generatePdf()
    },
  },
}
</script>

<style lang="scss">
.detail-wrapper {
  background: white;
  padding: 60px;
  border-radius: 6px;
  width: 100%;
  .sub-header {
    color: #26af61;
    font-size: 16px;
  }
  .sub-content {
    line-height: 16px;
  }
}
</style>
