<template>
  <div class="container">
    <div class="row">
      <div class="col-12 my-5">
        <div class="d-flex align-items-center">
          <nuxt-link to="/job-seeker/overview">
            <svg
              width="32"
              height="29"
              viewBox="0 0 32 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30 13.0001H6.28L13.54 4.28006C13.8795 3.87163 14.0428 3.34507 13.994 2.81622C13.9453 2.28736 13.6884 1.79954 13.28 1.46006C12.8716 1.12059 12.345 0.957262 11.8162 1.00602C11.2873 1.05478 10.7995 1.31163 10.46 1.72006L0.46 13.7201C0.392721 13.8155 0.332559 13.9158 0.28 14.0201C0.28 14.1201 0.28 14.1801 0.14 14.2801C0.0493473 14.5094 0.00188224 14.7535 0 15.0001C0.00188224 15.2466 0.0493473 15.4907 0.14 15.7201C0.14 15.8201 0.14 15.8801 0.28 15.9801C0.332559 16.0843 0.392721 16.1846 0.46 16.2801L10.46 28.2801C10.648 28.5058 10.8835 28.6874 11.1497 28.8118C11.4159 28.9363 11.7062 29.0005 12 29.0001C12.4673 29.001 12.9202 28.8382 13.28 28.5401C13.4825 28.3722 13.6499 28.166 13.7726 27.9333C13.8953 27.7006 13.9709 27.446 13.9951 27.184C14.0192 26.9221 13.9915 26.6579 13.9134 26.4067C13.8353 26.1555 13.7084 25.9222 13.54 25.7201L6.28 17.0001H30C30.5304 17.0001 31.0391 16.7893 31.4142 16.4143C31.7893 16.0392 32 15.5305 32 15.0001C32 14.4696 31.7893 13.9609 31.4142 13.5858C31.0391 13.2108 30.5304 13.0001 30 13.0001Z"
                fill="black"
              />
            </svg>
          </nuxt-link>
          <div class="page-title mx-4">Profile Setup</div>
        </div>
      </div>
      <form @submit.prevent="updateProfile">
        <div class="col-12">
          <div class="bg-white p-3 rounded mb-5">
            <div class="d-flex align-items-center mb-3">
              <svg
                width="9"
                height="32"
                viewBox="0 0 9 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.125977"
                  width="8.05031"
                  height="32"
                  rx="4.02516"
                  fill="#333333"
                />
              </svg>
              <div class="mx-4 fw-bold">Basic Information</div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="file-uploader-wrapper">
                  <label v-if="profile.profile_image === ''" for="logo">
                    <svg
                      width="64"
                      height="64"
                      viewBox="0 0 64 64"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2 39.5999C2.53043 39.5999 3.03914 39.8106 3.41421 40.1856C3.78929 40.5607 4 41.0694 4 41.5999V51.5999C4 52.6607 4.42143 53.6781 5.17157 54.4283C5.92172 55.1784 6.93913 55.5999 8 55.5999H56C57.0609 55.5999 58.0783 55.1784 58.8284 54.4283C59.5786 53.6781 60 52.6607 60 51.5999V41.5999C60 41.0694 60.2107 40.5607 60.5858 40.1856C60.9609 39.8106 61.4696 39.5999 62 39.5999C62.5304 39.5999 63.0391 39.8106 63.4142 40.1856C63.7893 40.5607 64 41.0694 64 41.5999V51.5999C64 53.7216 63.1571 55.7564 61.6569 57.2567C60.1566 58.757 58.1217 59.5999 56 59.5999H8C5.87827 59.5999 3.84344 58.757 2.34315 57.2567C0.842855 55.7564 0 53.7216 0 51.5999V41.5999C0 41.0694 0.210714 40.5607 0.585786 40.1856C0.960859 39.8106 1.46957 39.5999 2 39.5999Z"
                        fill="#266BAF"
                      />
                      <path
                        d="M30.5841 4.58391C30.7699 4.39766 30.9906 4.24989 31.2336 4.14906C31.4765 4.04824 31.737 3.99634 32.0001 3.99634C32.2632 3.99634 32.5236 4.04824 32.7666 4.14906C33.0096 4.24989 33.2303 4.39766 33.4161 4.58391L45.4161 16.5839C45.7916 16.9595 46.0026 17.4688 46.0026 17.9999C46.0026 18.531 45.7916 19.0404 45.4161 19.4159C45.0405 19.7915 44.5312 20.0024 44.0001 20.0024C43.469 20.0024 42.9596 19.7915 42.5841 19.4159L34.0001 10.8279V45.9999C34.0001 46.5303 33.7894 47.0391 33.4143 47.4141C33.0392 47.7892 32.5305 47.9999 32.0001 47.9999C31.4697 47.9999 30.9609 47.7892 30.5859 47.4141C30.2108 47.0391 30.0001 46.5303 30.0001 45.9999V10.8279L21.4161 19.4159C21.2301 19.6019 21.0094 19.7494 20.7664 19.85C20.5235 19.9506 20.2631 20.0024 20.0001 20.0024C19.7371 20.0024 19.4767 19.9506 19.2338 19.85C18.9908 19.7494 18.77 19.6019 18.5841 19.4159C18.3981 19.23 18.2506 19.0092 18.15 18.7662C18.0494 18.5233 17.9976 18.2629 17.9976 17.9999C17.9976 17.7369 18.0494 17.4765 18.15 17.2336C18.2506 16.9906 18.3981 16.7699 18.5841 16.5839L30.5841 4.58391Z"
                        fill="#266BAF"
                      />
                    </svg>
                    <p class="drag-drop">Drag and Drop file</p>
                    <p class="drag-or">or</p>
                    <input
                      id="logo"
                      ref="profileImage"
                      type="file"
                      hidden
                      accept=".png,.jpg,.jpeg"
                      @change="pickProfileImage"
                    />
                  </label>
                  <div v-else class="profile-image">
                    <img :src="previewProfileImage" alt />
                    <div class="delete-image">
                      <button type="button" @click="deleteImageModal = true">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-8">
                <div class="mb-3">
                  <label class="form-label">Fullname</label>
                  <input
                    v-model="profile.fullname"
                    type="text"
                    class="form-control"
                    :class="
                      $v.profile.fullname.$invalid ? 'form-input-error' : ''
                    "
                    @input="$v.profile.fullname.$touch()"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    :value="user.email"
                    disabled
                    type="text"
                    class="form-control"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Contact No</label>
                  <input
                    v-model="profile.contact_no"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <svg
                width="9"
                height="32"
                viewBox="0 0 9 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.125977"
                  width="8.05031"
                  height="32"
                  rx="4.02516"
                  fill="#333333"
                />
              </svg>
              <div class="mx-4 fw-bold">General Information</div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Current addres</label>
                  <input
                    v-model="profile.current_address"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Permanent addres</label>
                  <input
                    v-model="profile.permanent_address"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Date of birth</label>
                  <input
                    v-model="profile.dob"
                    type="date"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Experience</label>
                  <select v-model="profile.experience" class="form-control">
                    <option value="">Select One</option>
                    <option
                      v-for="(experience, i) in experiences"
                      :key="i"
                      :value="experience.id"
                    >
                      {{ experience.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Job Category</label>
                  <select v-model="profile.job_category" class="form-control">
                    <optgroup
                      v-for="(category, i) in categories"
                      :key="i"
                      :label="category.name"
                    >
                      <option
                        v-for="(child, ii) in category.children"
                        :key="ii"
                        :value="child.id"
                      >
                        {{ child.name }}
                      </option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Skills Sets</label>
                  <client-only>
                    <tags-input
                      v-model="selectedTags"
                      placeholder="Add skills"
                      element-id="tags"
                      :existing-tags="existingTags"
                      :typeahead="true"
                      :typeahead-hide-discard="true"
                      :delete-on-backspace="true"
                      :add-tags-on-comma="true"
                    ></tags-input>
                  </client-only>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Education</label>
                  <select v-model="profile.education" class="form-control">
                    <option value="">Select One</option>
                    <option
                      v-for="(education, i) in educations"
                      :key="i"
                      :value="education.id"
                    >
                      {{ education.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Can you relocate?</label>
                  <select v-model="profile.relocate" class="form-control">
                    <option :value="0">NO</option>
                    <option :value="1">Yes</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="mt-5">
              <div class="d-flex align-items-center mb-3">
                <svg
                  width="9"
                  height="32"
                  viewBox="0 0 9 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.125977"
                    width="8.05031"
                    height="32"
                    rx="4.02516"
                    fill="#333333"
                  />
                </svg>
                <div class="mx-4 fw-bold">Summary</div>
              </div>
              <p class="profile-sub-heading">
                Tell us something about yourself
              </p>
              <editor
                v-model="resume.summary"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 200,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="mt-5">
              <div class="d-flex align-items-center mb-3">
                <svg
                  width="9"
                  height="32"
                  viewBox="0 0 9 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.125977"
                    width="8.05031"
                    height="32"
                    rx="4.02516"
                    fill="#333333"
                  />
                </svg>
                <div class="mx-4 fw-bold">Work Information</div>
              </div>
              <p class="profile-sub-heading">
                Create your professional work experience section
              </p>
              <editor
                v-model="resume.experience"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 200,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="mt-5">
              <div class="d-flex align-items-center mb-3">
                <svg
                  width="9"
                  height="32"
                  viewBox="0 0 9 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.125977"
                    width="8.05031"
                    height="32"
                    rx="4.02516"
                    fill="#333333"
                  />
                </svg>
                <div class="mx-4 fw-bold">Education Background</div>
              </div>
              <p class="profile-sub-heading">
                Create your education background section
              </p>
              <editor
                v-model="resume.education"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 200,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="mt-5">
              <div class="d-flex align-items-center mb-3">
                <svg
                  width="9"
                  height="32"
                  viewBox="0 0 9 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.125977"
                    width="8.05031"
                    height="32"
                    rx="4.02516"
                    fill="#333333"
                  />
                </svg>
                <div class="mx-4 fw-bold">Licenses & Certification</div>
              </div>
              <p class="profile-sub-heading">
                Create your licenses and certification section
              </p>
              <editor
                v-model="resume.activities"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 200,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="mt-5">
              <div class="d-flex align-items-center mb-3">
                <svg
                  width="9"
                  height="32"
                  viewBox="0 0 9 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.125977"
                    width="8.05031"
                    height="32"
                    rx="4.02516"
                    fill="#333333"
                  />
                </svg>
                <div class="mx-4 fw-bold">Other Skillset</div>
              </div>
              <p class="profile-sub-heading">
                Enter any other skillsets that you have
              </p>
              <editor
                v-model="resume.skills"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 200,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="mb-2 mt-5">
              <base-button type="submit">Update Profile</base-button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <base-modal
      :active="deleteImageModal"
      header="Delete Confirmation"
      @close="deleteImageModal = false"
    >
      <div class="mb-5">Do you want to delete the profile picture?</div>
      <base-button type="button" @click="confirmDeleteProfileImage"
        >Confirm</base-button
      >
      <base-button
        type="button"
        style="
          background-color: white;
          border: 1px solid black;
          color: black;
          margin-left: 10px;
        "
        @click="deleteImageModal = false"
        >Cancel</base-button
      >
    </base-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import Editor from '@tinymce/tinymce-vue'
import BaseButton from '@/components/ui/BaseButton.vue'
import BaseModal from '@/components/ui/BaseModal.vue'

export default {
  name: 'EditProfile',
  components: {
    BaseButton,
    BaseModal,
    Editor,
  },
  beforeRouteLeave(to, from, next) {
    if (this.hasUnsavedData) {
      const a = window.confirm(
        'You might have unsaved data. Are you sure you want to leave?'
      )
      if (a) {
        next()
      } else {
        next(false)
      }
      next(false)
    } else {
      next()
    }
  },
  layout: 'BaseLayout',
  middleware: 'job_seeker',
  data() {
    return {
      profile: {
        fullname: '',
        current_address: '',
        permanent_address: '',
        contact_no: '',
        dob: '',
        education: '',
        job_category: '',
        experience: '',
        tags: '',
        relocate: false,
        profile_image: '',
      },
      hasUnsavedData: false,
      selectedTags: [],
      categories: [],
      existingTags: [],
      resume: {
        experience: '',
        education: '',
        skills: '',
        activities: '',
        summary: '',
      },
      educations: [],
      experiences: [],
      previewProfileImage: '',
      deleteImageModal: false,
    }
  },
  validations: {
    profile: {
      fullname: { required, $autoDirty: true },
    },
  },
  computed: {
    ...mapState({
      user: (state) => state.auth.user,
    }),
  },
  watch: {
    profile: {
      handler() {
        this.previewProfileImage = this.profile.profile_image
      },
      immediate: true,
      deep: true,
    },
    $v: {
      handler() {
        this.hasUnsavedData = this.$v.$anyDirty
      },
      immediate: true,
      deep: true,
    },
  },
  async mounted() {
    const categories = await this.$axios.$get('categories')
    this.categories = categories

    const tags = await this.$axios.$get('/job-info/tags')
    this.existingTags = tags

    const profileInfo = await this.$axios.$get(
      `job_seeker/${this.user.id}/profile`
    )

    if (profileInfo && profileInfo.id) {
      this.profile.fullname = profileInfo.fullname
      this.profile.current_address = profileInfo.current_address
      this.profile.permanent_address = profileInfo.permanent_address
      this.profile.contact_no = profileInfo.contact_no
      this.profile.dob = profileInfo.dob

      if (profileInfo.education && profileInfo.education.id) {
        this.profile.education = profileInfo.education.id
      }

      this.profile.profile_image = profileInfo.profile_image

      if (profileInfo.category && profileInfo.category.id) {
        this.profile.job_category = profileInfo.category.id
      }

      if (profileInfo.experience && profileInfo.experience.id) {
        this.profile.experience = profileInfo.experience.id
      }

      this.profile.relocate = profileInfo.relocate ? 1 : 0

      if (profileInfo.tags.length > 0) {
        const formattedTags = profileInfo.tags.split(',').map((tag, i) => {
          return { id: i + 1, key: tag, value: tag }
        })
        this.selectedTags = formattedTags
      }
    }

    const resume = await this.$axios.$get(`job_seeker/${this.user.id}/resume`)
    if (resume.id) {
      this.resume.summary = resume.summary
      this.resume.experience = resume.experience
      this.resume.education = resume.education
      this.resume.skills = resume.skills
      this.resume.activities = resume.activities
      this.resume.fullname = resume.fullname
      this.resume.current_address = resume.current_address
      this.resume.contact_no = resume.contact_no
    }

    const experiences = await this.$axios.$get('job-info/experiences')
    this.experiences = experiences

    const educations = await this.$axios.$get('job-info/educations')
    this.educations = educations
  },
  methods: {
    async updateProfile() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        console.log('error')
      } else {
        const tags = this.selectedTags.map((tag) => {
          return tag.value
        })
        this.profile.user = this.user.id
        this.profile.tags = tags.toString()
        await this.$axios.$post('job_seeker/udpate-profile', this.profile)
        this.resume.user = this.user.id
        await this.$axios.$post('job_seeker/update-resume', this.resume)
        this.$v.$reset()
        this.$toast.success('Profile Updated')
      }
    },
    async pickProfileImage() {
      const input = this.$refs.profileImage
      const file = input.files

      if (file && file[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.previewProfileImage = e.target.result
        }
        reader.readAsDataURL(file[0])
      }

      const formData = new FormData()
      formData.append('job-seeker-profile', file[0])
      formData.append('user', this.$auth.user.id)

      const res = await this.$axios.post(
        'job_seeker/upload-profile-image',
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        }
      )
      this.profile.profile_image = res.data.data.image
    },
    async confirmDeleteProfileImage() {
      await this.$axios.$post(
        `job_seeker/delete-profile-image/${this.$auth.user.id}`
      )
      this.profile.profile_image = ''
      this.deleteImageModal = false
    },
  },
}
</script>

<style scoped lang="scss">
.profile-image {
  position: relative;
  img {
    width: 200px;
    height: 100%;
  }
  .delete-image {
    position: absolute;
    top: 5px;
    right: 10px;
    button {
      padding: 5px 10px !important;
      width: auto;
      height: auto;
      font-size: 12px;
    }
  }
}
</style>
