<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="page-title">Welcome!</h1>
        <div class="mb-5 mt-4">
          This is your personalized space where we help you find an ideal match!
        </div>
      </div>
      <div class="col-12">
        <div class="setup">
          <div class="d-flex align-items-center">
            <div class="user-logo">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 0C9.158 0 0 9.158 0 20C0 30.842 9.158 40 20 40C30.842 40 40 30.842 40 20C40 9.158 30.842 0 20 0ZM20 10C23.454 10 26 12.544 26 16C26 19.456 23.454 22 20 22C16.548 22 14 19.456 14 16C14 12.544 16.548 10 20 10ZM9.788 29.544C11.582 26.904 14.574 25.144 18 25.144H22C25.428 25.144 28.418 26.904 30.212 29.544C27.656 32.28 24.03 34 20 34C15.97 34 12.344 32.28 9.788 29.544Z"
                  fill="#266BAF"
                />
              </svg>
            </div>
            <div>
              <div class="setup-heading">Your profile setup is pending</div>
              <div class="setup-sub-heading">
                Just a few more steps and your SojoJob profile is complete!
                Setup now to enjoy unlimited benefits.
              </div>
            </div>
          </div>
          <div>
            <nuxt-link to="/job-seeker/edit-profile">
              <base-button>Setup Now</base-button>
            </nuxt-link>
          </div>
        </div>
      </div>

      <div class="col-12 my-5"><AppliedJobs /></div>

      <div class="col-12">
        <div class="header">
          <div class="d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.72077 22C4.62309 19.6906 3.54426 17.5046 4.16106 14.5191C4.61641 12.3146 6.10742 10.521 6.25039 8.32075C6.88731 9.47982 7.15344 10.3156 7.22461 11.5268C9.25032 9.04492 10.589 5.6091 10.6682 2C10.6682 2 15.9445 5.10017 16.2907 9.783C16.7449 8.81778 16.9736 7.2848 16.5193 6.29127C17.882 7.28485 25.8576 16.1052 15.439 22C17.3978 18.186 15.9444 13.0398 12.5434 10.663C12.7705 11.685 12.3723 15.4967 10.8677 17.1716C11.2846 14.373 10.471 13.1897 10.471 13.1897C10.471 13.1897 10.1918 14.7572 9.10839 16.3407C8.11906 17.7868 7.43356 19.3215 8.72077 22Z"
                fill="#E58C17"
              />
            </svg>
            <h1>Hot Jobs</h1>
          </div>
          <nuxt-link to="/">SEE ALL</nuxt-link>
        </div>
      </div>
      <nuxt-link
        v-for="(job, i) in jobs"
        :key="i"
        :to="{ path: '/jobs', query: { job: job.slug } }"
        class="col-3"
      >
        <div class="job-card-wrapper">
          <div class="job-card-content">
            <div class="job-logo">
              <img
                v-if="job.user.employer.logo !== null"
                :src="getJobLogo(job.user.employer.logo)"
              />
              <img v-else src="@/assets/images/sj-logo.svg" />
            </div>
            <div class="job-content">
              <h2 class="job-title">{{ job.title }}</h2>
              <h2 class="job-company">
                {{ job.user.employer.company_name }}
              </h2>
              <p class="job-salary">{{ job.salary }}</p>
            </div>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import AppliedJobs from '../../components/job-seeker/AppliedJobs.vue'
import BaseButton from '~/components/ui/BaseButton.vue'

export default {
  components: { BaseButton, AppliedJobs },
  layout: 'BaseLayout',
  middleware: 'job_seeker',
  data() {
    return {
      jobs: [],
      appliedJobs: [],
    }
  },
  async mounted() {
    try {
      const user = await this.$axios.$get(
        `user/profile?userId=${this.$auth.user.id}`
      )

      if (user && user.jobSeeker && user.jobSeeker.category) {
        const jobs = await this.$axios.$get(
          `jobs/all?category=${user.jobSeeker.category.id}`
        )
        this.jobs = jobs
      }
    } catch (err) {
      console.log(err)
    }
  },
  methods: {
    getJobLogo(path) {
      return path
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    margin-left: 10px;
  }
  margin-bottom: 20px;
  a {
    font-size: 14px;
    font-weight: 600;
    color: #26af61;
  }
}
.job-card-wrapper {
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid #e9f7ef;
  padding: 20px 20px 10px 20px;
  background: white;
  margin-bottom: 26px;
}
.job-card-content {
  display: flex;

  .job-logo {
    img {
      display: block;
      width: 40px;
      margin-right: 20px;
    }
  }
  .job-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: black;
  }
  .job-company {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: black;
  }
  .job-salary {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #26af61;
  }
}
.setup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #266baf;
  border-radius: 6px;
  padding: 14px 22px;
  margin-bottom: 20px;
  .user-logo {
    background: #ffffff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-top: 5px;
    margin-right: 20px;
    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  button {
    background: #ffffff;
    color: #266baf;
  }
  .setup-heading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  .setup-sub-heading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
}
</style>
