<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <h1>Settings</h1>
        <form novalidate @submit.prevent="reset">
          <div class="mt-3">
            <label>New Password</label>
            <input
              v-model="form.password"
              type="password"
              class="form-control"
            />
          </div>

          <div class="mt-3">
            <label>Re-confirm Password</label>
            <input
              v-model="form.confirmPassword"
              type="password"
              class="form-control"
            />
          </div>

          <div class="my-3">
            <base-button type="submit" class="btn btn-primary"
              >Confirm</base-button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import BaseButton from '~/components/ui/BaseButton.vue'

export default {
  components: { BaseButton },
  layout: 'BaseLayout',
  middleware: 'job_seeker',

  validations: {
    form: {
      email: { required },
      confirmPassword: { required },
    },
  },

  data() {
    return {
      form: {
        password: '',
        confirmPassword: '',
      },
    }
  },

  methods: {
    async reset() {
      const res = await this.$axios.post(
        `/job_seeker/reset_password/${this.$auth.user.id}`,
        this.form
      )
      console.log(res)
    },
  },
}
</script>
