<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container">
      <h1 class="mt-5">Applicants</h1>

      <table class="table table-border">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(applicant, i) in applications" :key="i">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <span v-if="applicant.email">
                {{ applicant.email }}
              </span>
              <span v-else>
                {{ applicant?.user?.email }}
              </span>
            </td>
            <td>
              <nuxt-link
                :to="
                  '/admin/jobs/' +
                  $route.params.job +
                  '/application/' +
                  applicant.id
                "
                >view</nuxt-link
              >
              <button type="button" class="btn btn-primary my-2">
                Download
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'

export default {
  components: { AdminNavBar },
  middleware: 'admin',
  data() {
    return {
      applications: [],
    }
  },
  mounted() {
    this.getApplications()
  },
  methods: {
    async getApplications() {
      const res = await this.$axios.$get(
        `employer/job-info/${this.$route.params.job}`
      )
      this.applications = res
    },
  },
}
</script>
