<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div>
      <nuxt-link :to="`/admin/jobs/${$route.params.job}/applicants`"
        >View Applicants</nuxt-link
      >
    </div>

    <div class="container mt-3 mb-5">
      <form novalidate @submit.prevent="submitForm">
        <div class="row">
          <div class="col-12">
            <h1>Job Detail</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="form-label">Job's Title</label>
              <base-job-select
                v-model="job.title"
                :jobs-data="jobDatas"
                @job-selected="setPreset(job)"
              ></base-job-select>
              <div class="mt-3">
                <label class="form-label">Categories</label>
                <select v-model="job.category" class="form-control">
                  <option value="">Please select one</option>
                  <option
                    v-for="(option, i) in categories"
                    :key="i"
                    :value="option.id"
                  >
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">Employment Type</label>
              <select v-model="job.employment_type" class="form-control">
                <option value="">Please select</option>
                <option v-for="(type, i) in employment_types" :key="i">
                  {{ type }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">Location</label>
              <input
                v-model="job.location"
                type="text"
                placeholder="Nayabazar, Kathmandu"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">Experience</label>
              <select v-model="job.experience" class="form-control">
                <option value="">Select one</option>
                <option
                  v-for="(experience, i) in experiences"
                  :key="i"
                  :value="experience.id"
                >
                  {{ experience.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">Salary</label>
              <input
                v-model="job.salary"
                type="text"
                placeholder="NRs. 10,000.00 - 20,000.00 Monthly"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">No of Vacancy</label>
              <input v-model="job.vacancy" type="text" class="form-control" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label">Job's Description</label>

              <br />
              <editor
                v-model="job.description"
                api-key="no-api-key"
                :init="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Skills Required</label>
                  <client-only>
                    <tags-input
                      v-model="selectedTags"
                      placeholder="Skills"
                      element-id="tags"
                      :existing-tags="existingTags"
                      :typeahead="true"
                      :typeahead-hide-discard="true"
                      :delete-on-backspace="true"
                      :add-tags-on-comma="true"
                    ></tags-input>
                  </client-only>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Package</label><br />
                  <span
                    v-for="(a, i) in job_packges"
                    :key="i"
                    class="package-block"
                    :class="{ selected: a.id == job.package }"
                    @click="job.package = a.id"
                  >
                    {{ a.name }}
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Verified</label><br />
                  <input v-model="job.is_verified" type="checkbox" />
                </div>
              </div>
            </div>

            <button class="btn btn-primary mr-3" type="submit">Save</button>
            <NuxtLink class="btn btn-secondary" to="/admin/jobs">
              Cancel
            </NuxtLink>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import BaseJobSelect from '../../../../components/ui/BaseJobSelect.vue'
import AdminNavBar from '~/components/admin/AdminNavBar.vue'

export default {
  components: { BaseJobSelect, Editor, AdminNavBar },
  middleware: 'admin',
  data() {
    return {
      employment_types: ['Full time', 'Part time', 'Contract'],
      jobDatas: [],
      job: {
        title: '',
        description: '',
        employment_type: '',
        location: '',
        experience: '',
        salary: '',
        vacancy: '',
        tags: [],
        category: '',
        package: '',
        id: '',
        is_verified: false,
      },
      job_packges: [
        {
          id: 1,
          name: 'Elite',
        },
        {
          id: 2,
          name: 'Standard',
        },
        {
          id: 3,
          name: 'Free',
        },
      ],
      selectedTags: [],
      existingTags: [],
      categories: [],
      experiences: [],
      educations: [],
    }
  },
  async mounted() {
    this.getJobDetail()

    const data = await this.$axios.$get('/job-info')
    this.jobDatas = data

    const tags = await this.$axios.$get('/job-info/tags')
    this.existingTags = tags

    const experiences = await this.$axios.$get('/job-info/experiences')
    this.experiences = experiences

    const categories = await this.$axios.$get('categories')
    const catArr = []
    categories.forEach((category) => {
      category.children.forEach((child) => {
        catArr.push({ id: child.id, name: `${category.name} / ${child.name}` })
      })
    })
    this.categories = catArr

    const educations = await this.$axios.$get('job-info/educations')
    this.educations = educations
  },
  methods: {
    getJobDetail() {
      this.$axios
        .get(`/jobs/detail/${this.$route.params.job}`)
        .then((response) => {
          this.job.title = response.data.title
          this.job.description = response.data.description
          this.job.employment_type = response.data.employment_type
          this.job.location = response.data.location
          this.job.id = response.data.id
          this.job.is_verified = response.data.is_verified

          if (response.data.experience.id) {
            this.job.experience = response.data.experience.id
          }

          this.job.salary = response.data.salary
          this.job.vacancy = response.data.vacancy
          this.job.tags = response.data.tags

          if (response.data.experience.id) {
            this.job.category = response.data.category.id
          }

          this.job.package = response.data.package

          const tags = response.data.tags.split(',').map((tag, i) => {
            return { id: i + 1, key: tag, value: tag }
          })

          this.selectedTags = tags
        })
        .catch((error) => {
          console.log(error)
        })
    },
    setPreset(job) {
      job.description = job.title
    },
    submitForm() {
      if (this.selectedTags.length > 0) {
        const tags = this.selectedTags.map((tag) => {
          return tag.value
        })
        this.job.tags = tags.toString()
      }
      this.$axios.$post(`jobs/admin/job/${this.job.id}/update`, this.job)
      this.$toast.open('Job updated successfully')
    },
    onJobSelect($event) {
      const selectedId = $event.target.value
      // eslint-disable-next-line
      const job = this.jobDatas.find((jobData) => jobData.id == selectedId)
      this.job.description = job.name
      this.job.title = job.title
    },
  },
}
</script>

<style lang="scss" scoped>
.tags-input-wrapper-default {
  padding-left: 20px !important;
}
.package-block {
  border-radius: 6px;
  padding: 20px 40px;
  background: #ffffff;
  border: 2px solid #d3efdf;
  color: black;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;

  &.selected {
    border: 2px solid #26af61;
    background: #d3efdf;
  }
}
</style>
