<template>
  <div>
    <admin-nav-bar></admin-nav-bar>
    <div class="container mt-5">
      <div class="profile-form">
        <div class="d-flex form-header">
          <svg
            width="9"
            height="32"
            viewBox="0 0 9 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.125977"
              width="8.05031"
              height="32"
              rx="4.02516"
              fill="#333333"
            />
          </svg>

          <h4>Update Employer Information</h4>
        </div>
        <form novalidate @submit.prevent="updateEmployerProfile">
          <div class="row">
            <div class="col-4">
              <div class="company-logo-header">Company Logo</div>
              <div class="company-logo">
                <label v-if="previewImage === ''" for="logo">
                  <svg
                    class="mt-5"
                    width="64"
                    height="64"
                    viewBox="0 0 64 64"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2 39.5999C2.53043 39.5999 3.03914 39.8106 3.41421 40.1856C3.78929 40.5607 4 41.0694 4 41.5999V51.5999C4 52.6607 4.42143 53.6781 5.17157 54.4283C5.92172 55.1784 6.93913 55.5999 8 55.5999H56C57.0609 55.5999 58.0783 55.1784 58.8284 54.4283C59.5786 53.6781 60 52.6607 60 51.5999V41.5999C60 41.0694 60.2107 40.5607 60.5858 40.1856C60.9609 39.8106 61.4696 39.5999 62 39.5999C62.5304 39.5999 63.0391 39.8106 63.4142 40.1856C63.7893 40.5607 64 41.0694 64 41.5999V51.5999C64 53.7216 63.1571 55.7564 61.6569 57.2567C60.1566 58.757 58.1217 59.5999 56 59.5999H8C5.87827 59.5999 3.84344 58.757 2.34315 57.2567C0.842855 55.7564 0 53.7216 0 51.5999V41.5999C0 41.0694 0.210714 40.5607 0.585786 40.1856C0.960859 39.8106 1.46957 39.5999 2 39.5999Z"
                      fill="#266BAF"
                    />
                    <path
                      d="M30.5841 4.58391C30.7699 4.39766 30.9906 4.24989 31.2336 4.14906C31.4765 4.04824 31.737 3.99634 32.0001 3.99634C32.2632 3.99634 32.5236 4.04824 32.7666 4.14906C33.0096 4.24989 33.2303 4.39766 33.4161 4.58391L45.4161 16.5839C45.7916 16.9595 46.0026 17.4688 46.0026 17.9999C46.0026 18.531 45.7916 19.0404 45.4161 19.4159C45.0405 19.7915 44.5312 20.0024 44.0001 20.0024C43.469 20.0024 42.9596 19.7915 42.5841 19.4159L34.0001 10.8279V45.9999C34.0001 46.5303 33.7894 47.0391 33.4143 47.4141C33.0392 47.7892 32.5305 47.9999 32.0001 47.9999C31.4697 47.9999 30.9609 47.7892 30.5859 47.4141C30.2108 47.0391 30.0001 46.5303 30.0001 45.9999V10.8279L21.4161 19.4159C21.2301 19.6019 21.0094 19.7494 20.7664 19.85C20.5235 19.9506 20.2631 20.0024 20.0001 20.0024C19.7371 20.0024 19.4767 19.9506 19.2338 19.85C18.9908 19.7494 18.77 19.6019 18.5841 19.4159C18.3981 19.23 18.2506 19.0092 18.15 18.7662C18.0494 18.5233 17.9976 18.2629 17.9976 17.9999C17.9976 17.7369 18.0494 17.4765 18.15 17.2336C18.2506 16.9906 18.3981 16.7699 18.5841 16.5839L30.5841 4.58391Z"
                      fill="#266BAF"
                    />
                  </svg>
                  <p class="drag-drop">Drag and Drop file</p>
                  <p class="drag-or">or</p>
                  <input
                    id="logo"
                    ref="fileInput"
                    type="file"
                    hidden
                    accept=".png,.jpg,.jpeg"
                    @change="uploadLogo"
                  />
                </label>
                <div v-else class="imagePreviewWrapper">
                  <img :src="previewImage" width="100%" />
                  <div class="delete-image">
                    <button type="button" @click="deleteImageModal = true">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="basic-info-wrapper">
                <div class="mb-3">
                  <label class="form-label">Company name</label>
                  <input
                    v-model="employer.company_name"
                    class="form-control"
                    type="text"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Company Email</label>
                  <input
                    class="form-control"
                    type="text"
                    :value="employer.email"
                    disabled
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Contact Number</label>
                  <input
                    v-model="employer.contact_no"
                    class="form-control"
                    type="text"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    v-model="employer.name"
                    class="form-control"
                    type="text"
                    disabled
                  />
                </div>

                <div>
                  <!-- <button type="submit" class="btn btn-primary">Save</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="company-logo-header">Company Banner</div>
              <div class="company-logo">
                <label v-if="previewBannerImage === ''" for="banner">
                  <svg
                    class="mt-5"
                    width="64"
                    height="64"
                    viewBox="0 0 64 64"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2 39.5999C2.53043 39.5999 3.03914 39.8106 3.41421 40.1856C3.78929 40.5607 4 41.0694 4 41.5999V51.5999C4 52.6607 4.42143 53.6781 5.17157 54.4283C5.92172 55.1784 6.93913 55.5999 8 55.5999H56C57.0609 55.5999 58.0783 55.1784 58.8284 54.4283C59.5786 53.6781 60 52.6607 60 51.5999V41.5999C60 41.0694 60.2107 40.5607 60.5858 40.1856C60.9609 39.8106 61.4696 39.5999 62 39.5999C62.5304 39.5999 63.0391 39.8106 63.4142 40.1856C63.7893 40.5607 64 41.0694 64 41.5999V51.5999C64 53.7216 63.1571 55.7564 61.6569 57.2567C60.1566 58.757 58.1217 59.5999 56 59.5999H8C5.87827 59.5999 3.84344 58.757 2.34315 57.2567C0.842855 55.7564 0 53.7216 0 51.5999V41.5999C0 41.0694 0.210714 40.5607 0.585786 40.1856C0.960859 39.8106 1.46957 39.5999 2 39.5999Z"
                      fill="#266BAF"
                    />
                    <path
                      d="M30.5841 4.58391C30.7699 4.39766 30.9906 4.24989 31.2336 4.14906C31.4765 4.04824 31.737 3.99634 32.0001 3.99634C32.2632 3.99634 32.5236 4.04824 32.7666 4.14906C33.0096 4.24989 33.2303 4.39766 33.4161 4.58391L45.4161 16.5839C45.7916 16.9595 46.0026 17.4688 46.0026 17.9999C46.0026 18.531 45.7916 19.0404 45.4161 19.4159C45.0405 19.7915 44.5312 20.0024 44.0001 20.0024C43.469 20.0024 42.9596 19.7915 42.5841 19.4159L34.0001 10.8279V45.9999C34.0001 46.5303 33.7894 47.0391 33.4143 47.4141C33.0392 47.7892 32.5305 47.9999 32.0001 47.9999C31.4697 47.9999 30.9609 47.7892 30.5859 47.4141C30.2108 47.0391 30.0001 46.5303 30.0001 45.9999V10.8279L21.4161 19.4159C21.2301 19.6019 21.0094 19.7494 20.7664 19.85C20.5235 19.9506 20.2631 20.0024 20.0001 20.0024C19.7371 20.0024 19.4767 19.9506 19.2338 19.85C18.9908 19.7494 18.77 19.6019 18.5841 19.4159C18.3981 19.23 18.2506 19.0092 18.15 18.7662C18.0494 18.5233 17.9976 18.2629 17.9976 17.9999C17.9976 17.7369 18.0494 17.4765 18.15 17.2336C18.2506 16.9906 18.3981 16.7699 18.5841 16.5839L30.5841 4.58391Z"
                      fill="#266BAF"
                    />
                  </svg>
                  <p class="drag-drop">Drag and Drop file</p>
                  <p class="drag-or">or</p>
                  <input
                    id="banner"
                    ref="bannerInput"
                    hidden
                    type="file"
                    @change="uploadBanner"
                  />
                </label>
                <div v-else class="imageBannerPreviewWrapper">
                  <img :src="previewBannerImage" width="100%" />
                  <div class="delete-image">
                    <button type="button" @click="deleteBannerModal = true">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex form-header mt-5">
            <svg
              width="9"
              height="32"
              viewBox="0 0 9 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.125977"
                width="8.05031"
                height="32"
                rx="4.02516"
                fill="#333333"
              />
            </svg>

            <h4>Profile Information</h4>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <label class="form-label">About Us</label>
              <editor
                v-model="employer.aboutUs"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="col-6 mb-3">
              <label class="form-label">Founded Date</label>
              <input
                v-model="employer.founded_date"
                class="form-control"
                type="date"
              />
            </div>
            <div class="col-6 mb-3">
              <label class="form-label">Headquaters</label>
              <input
                v-model="employer.address"
                class="form-control"
                type="text"
              />
            </div>
            <div class="col-6 mb-3">
              <label class="form-label">Company Size</label>
              <input
                v-model="employer.company_size"
                class="form-control"
                type="number"
              />
            </div>
            <div class="col-6 mb-3">
              <label class="form-label">Website Url</label>
              <input
                v-model="employer.website_url"
                class="form-control"
                type="text"
              />
            </div>
            <div>
              <button type="submit" class="button-profile-submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <base-modal
      :active="deleteImageModal"
      header="Delete Confirmation"
      @close="deleteImageModal = false"
    >
      <div class="mb-5">Do you want to delete the logo?</div>
      <base-button type="button" @click="confirmDeleteProfileImage"
        >Confirm</base-button
      >
      <base-button
        type="button"
        style="
          background-color: white;
          border: 1px solid black;
          color: black;
          margin-left: 10px;
        "
        @click="deleteImageModal = false"
        >Cancel</base-button
      >
    </base-modal>

    <base-modal
      :active="deleteBannerModal"
      header="Delete Confirmation"
      @close="deleteBannerModal = false"
    >
      <div class="mb-5">Do you want to delete the banner?</div>
      <base-button type="button" @click="confirmDeleteBannerImage"
        >Confirm</base-button
      >
      <base-button
        type="button"
        style="
          background-color: white;
          border: 1px solid black;
          color: black;
          margin-left: 10px;
        "
        @click="deleteBannerModal = false"
        >Cancel</base-button
      >
    </base-modal>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import AdminNavBar from '~/components/admin/AdminNavBar.vue'
import BaseModal from '~/components/ui/BaseModal.vue'
import BaseButton from '@/components/ui/BaseButton.vue'

export default {
  name: 'EmployerProfilePage',
  components: { AdminNavBar, Editor, BaseModal, BaseButton },
  data() {
    return {
      employer: {
        company_name: '',
        email: '',
        contact_no: '',
        logo: '',
        aboutUs: '',
        founded_date: '',
        address: '',
        company_size: '',
        website_url: '',
      },
      previewImage: '',
      previewBannerImage: '',
      deleteImageModal: false,
      deleteBannerModal: false,
    }
  },

  async mounted() {
    try {
      const profile = await this.$axios.$get(
        `employer/info/${this.$route.params.company}`
      )
      this.employer.company_name = profile.employer.company_name
      this.employer.email = profile.email
      this.employer.contact_no = profile.employer.contact_no
      this.employer.name = profile.username
      this.employer.aboutUs = profile.employer.aboutUs
      this.employer.founded_date = profile.employer.founded_date
      this.employer.address = profile.employer.address
      this.employer.company_size = profile.employer.company_size
      this.employer.website_url = profile.employer.website_url
      this.employer.logo = profile.employer.logo
      this.employer.banner = profile.employer.banner

      if (profile.employer.logo !== null && profile.employer.logo !== '') {
        this.previewImage = `http://localhost:9000/api/employer/image/${profile.employer.logo}`
      }
      if (profile.employer.banner !== null && profile.employer.banner !== '') {
        this.previewBannerImage = `http://localhost:9000/api/employer/banner/${profile.employer.banner}`
      }
    } catch (err) {
      console.log(err)
    }
  },

  methods: {
    uploadLogo($event) {
      const input = this.$refs.fileInput
      const file = input.files
      if (file && file[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.previewImage = e.target.result
        }
        reader.readAsDataURL(file[0])
      }

      const formData = new FormData()
      formData.append('file', file[0])
      formData.append('user', this.$auth.user.id)

      this.$axios
        .$post('employer/upload/profile-image', formData)
        .then((res) => {
          console.log(res)
        })
    },

    uploadBanner($event) {
      const input = this.$refs.bannerInput
      const file = input.files
      if (file && file[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.previewBannerImage = e.target.result
        }
        reader.readAsDataURL(file[0])
      }

      const formData = new FormData()
      formData.append('file', file[0])
      formData.append('user', this.$auth.user.id)

      this.$axios
        .$post('employer/upload/banner-image', formData)
        .then((res) => {
          console.log(res)
        })
    },

    async updateEmployerProfile() {
      await this.$axios.$post(
        `employer/${this.$route.params.company}/update/admin`,
        this.employer
      )
      this.$toast.open('Profile updated successfully')
    },

    async confirmDeleteProfileImage() {
      await this.$axios.$post('employer/delete-employer-logo', {
        user: this.$auth.user.id,
      })
      this.previewImage = ''
      this.deleteImageModal = false
    },

    async confirmDeleteBannerImage() {
      await this.$axios.$post('employer/delete-employer-banner', {
        user: this.$auth.user.id,
      })
      this.previewBannerImage = ''
      this.deleteBannerModal = false
    },
  },
}
</script>

<style scoped lang="scss">
.profile-header {
  h1 {
    margin-top: 6px;
    margin-left: 24px;
  }
}
.profile-form {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 100px;
}
.form-header {
  h4 {
    margin-left: 15px;
  }
}
.company-logo {
  background: #e9f0f7;
  border-radius: 8px;
  text-align: center;
  .drag-drop {
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    margin-top: 26px;
    margin-bottom: 15px;
  }
  .drag-or {
    font-weight: 500;
    font-size: 14px;
  }
  button {
    background: #266baf;
    border-radius: 8px;
    width: 130px;
    height: 46px;
    color: white;
    border: none;
    box-shadow: none;
  }
}
.company-logo-header {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
  margin-bottom: 20px;
  margin-top: 32px;
}
.basic-info-wrapper {
  padding-top: 42px;
}
.button-profile-submit {
  background: #26af61;
  border-radius: 8px;
  width: 225px;
  height: 46px;
  color: white;
  box-shadow: none;
  border: none;
  margin-top: 50px;
}
.imagePreviewWrapper {
  width: 250px;
  height: 250px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  position: relative;
  .delete-image {
    position: absolute;
    top: 5px;
    right: 10px;
    button {
      padding: 5px 10px !important;
      width: auto;
      height: auto;
      font-size: 12px;
    }
  }
}
.imageBannerPreviewWrapper {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  position: relative;
  .delete-image {
    position: absolute;
    top: 5px;
    right: 10px;
    button {
      padding: 5px 10px !important;
      width: auto;
      height: auto;
      font-size: 12px;
    }
  }
}
</style>
