<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="row mb-5">
          <div class="col-3">
            <label class="form-label">Applicants</label>
            <select
              v-model="filter.status"
              class="form-control"
              @change="applyStatus"
            >
              <option value="">All</option>
              <option value="shortlisted">Shortlisted</option>
              <option value="hold">Not Shortlisted</option>
            </select>
          </div>
          <!-- <div class="col-3">
            <label class="form-label">View Status</label>
            <select
              v-model="filter.viewed"
              class="form-control"
              @change="applyView"
            >
              <option value="">Select one</option>
              <option v-for="(row, i) in viewed" :key="i" :value="row">
                {{ row }}
              </option>
            </select>
          </div> -->
          <div class="col-3">
            <label class="form-label">Filter</label>
            <select class="form-control" @change="filterApplicationByQuestions">
              <option value="">All</option>
              <option value="match">Fit</option>
              <option value="some_match">May Be</option>
              <option value="no_match">Not Fit</option>
            </select>
          </div>
        </div>
        <job-applicants :applicants="applicants"></job-applicants>
      </div>
    </div>
  </div>
</template>

<script>
import JobApplicants from '~/components/employer/JobApplicants.vue'

export default {
  components: { JobApplicants },
  layout: 'EmployerLayout',
  data() {
    return {
      applicants: [],

      status: ['fit', 'not_fit', 'hold'],
      viewed: ['viewed', 'not_viewed'],

      filter: {
        status: '',
        viewed: '',
      },
    }
  },

  watch: {
    '$route.query.status': {
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          this.fetchData()
        }
      },
    },
    '$route.query.viewed': {
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          this.fetchData()
        }
      },
    },
  },

  async mounted() {
    // applicants for jobs
    await this.fetchData()
    this.applyFilter()
  },

  methods: {
    async filterApplicationByQuestions(e) {
      await this.fetchData()
      const a = this.applicants.map((applicant) => {
        const b = { ...applicant }
        b.count = 0
        applicant.questions.forEach((question) => {
          if (question.answer === question.job_question.match_type) {
            b.count += 1
          }
        })
        return b
      })

      if (e.target.value === 'match') {
        this.applicants = a.filter((a) => a.count === 3)
      } else if (e.target.value === 'some_match') {
        this.applicants = a.filter((a) => a.count > 0)
      } else if (e.target.value === 'no_match') {
        this.applicants = a.filter((a) => a.count === 0)
      } else {
        this.fetchData()
      }
    },

    async applyStatus() {
      await this.$router.push({
        path: '/employer/applications',
        query: {
          ...this.$route.query,
          status: this.filter.status,
        },
      })
    },
    applyView() {
      const a = this.filter.viewed === 'viewed'
      this.$router.push({
        path: '/employer/applications',
        query: {
          ...this.$route.query,
          viewed: a,
        },
      })
    },
    applyFilter() {
      if (this.$route.query.status) {
        this.filter.status = this.$route.query.status
      }

      if (this.$route.query.viewed) {
        this.filter.viewed =
          this.$route.query.viewed === 'true' ? 'viewed' : 'not_viewed'
      }
    },
    async fetchData() {
      let query = ''

      if (this.$route.query.status) {
        query += `&status=${this.$route.query.status}`
      }

      if (this.$route.query.viewed) {
        if (this.$route.query.viewed === 'true') {
          query += `&viewed=true`
        } else {
          query += `&viewed=false`
        }
      }

      const res = await this.$axios.$get(
        `employer/job-info/${this.$route.query.id}?${query}`
      )
      this.applicants = res
    },
  },
}
</script>

<style></style>
