<template>
  <div class="container mt-5">
    <div class="row">
      <div v-if="!isGuest" class="col-12">
        <client-only>
          <vue-html2pdf
            ref="html2Pdf"
            :show-layout="false"
            :float-layout="true"
            :enable-download="true"
            :preview-modal="false"
            :paginate-elements-by-height="1400"
            filename="resume"
            :pdf-quality="2"
            :manual-pagination="false"
            pdf-format="a4"
            pdf-orientation="landscape"
            pdf-content-width="800px"
          >
            <section slot="pdf-content">
              <div class="detail-wrapper">
                <div class="row">
                  <div class="col-8">
                    <div class="">
                      <h4>{{ resume.fullname }}</h4>
                    </div>
                    <div v-html="resume.summary"></div>
                    <div class="my-5">
                      <h3 class="sub-header mb-4">Wrok Experience</h3>
                      <div class="sub-content" v-html="resume.experience"></div>
                    </div>

                    <div class="my-5">
                      <h3 class="sub-header mb-4">Skills</h3>
                      <div class="sub-content" v-html="resume.skills"></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="my-5">
                      <div v-if="profile && profile.user">
                        {{ profile.user.email }}
                      </div>
                      <div>
                        {{ resume.contact_no }}
                      </div>
                      <div>
                        {{ resume.current_address || 'Address' }}
                      </div>
                    </div>
                    <div class="my-5">
                      <h3 class="sub-header mb-4">Education</h3>
                      <div class="sub-content" v-html="resume.education"></div>
                    </div>
                    <div class="my-5">
                      <h3 class="sub-header mb-4">Activities</h3>
                      <div class="sub-content" v-html="resume.activities"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </vue-html2pdf>
        </client-only>

        <div>
          <div class="detail-wrapper mt-5 mx-auto">
            <div class="row">
              <div class="col-8">
                <div class="">
                  <h4>{{ resume.fullname }}</h4>
                </div>
                <div v-html="resume.summary"></div>
                <div class="my-5">
                  <h3 class="sub-header mb-4">Wrok Experience</h3>
                  <div class="sub-content" v-html="resume.experience"></div>
                </div>

                <div class="my-5">
                  <h3 class="sub-header mb-4">Skills</h3>
                  <div class="sub-content" v-html="resume.skills"></div>
                </div>
              </div>
              <div class="col-4">
                <div class="my-5">
                  <div>{{ resume.email }}</div>
                  <div>
                    {{ resume.contact_no }}
                  </div>
                  <div>
                    {{ resume.current_address || 'Address' }}
                  </div>
                </div>
                <div class="my-5">
                  <h3 class="sub-header mb-4">Education</h3>
                  <div class="sub-content" v-html="resume.education"></div>
                </div>
                <div class="my-5">
                  <h3 class="sub-header mb-4">Activities</h3>
                  <div class="sub-content" v-html="resume.activities"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <base-button @click="openModal = true">Accept</base-button>
        <base-button @click="openModal = true">Reject</base-button>
        <base-button @click="download">Download PDF</base-button>
      </div>

      <div v-else class="col-12">
        <div class="mb-5">
          <pdf :src="guestResumeUrl"></pdf>
        </div>
        <base-button @click="openModal = true">Accept</base-button>
        <base-button @click="openModal = true">Reject</base-button>
        <base-button type="button" class="mb-5" @click="downloadGuestPdf"
          >Download PDF</base-button
        >
      </div>
    </div>

    <base-modal
      title="Send email"
      :active="openModal"
      @close="openModal = false"
    >
      <form novalidate>
        <div class="mb-4">
          <label>To:</label>
          <span v-if="profile">{{ profile.fullname }}</span>
          <span v-else>{{ resume.email }}</span>
        </div>
        <div class="mb-4">Subject: Acceptance of Resume</div>
        <div class="mb-4">
          <textarea class="form-control"></textarea>
        </div>
        <base-button @click="approveResume">Send</base-button>
      </form>
    </base-modal>
  </div>
</template>

<script>
import pdf from 'vue-pdf'
import BaseButton from '~/components/ui/BaseButton.vue'
import BaseModal from '~/components/ui/BaseModal.vue'

export default {
  components: { BaseModal, BaseButton, pdf },
  layout: 'EmployerLayout',
  data() {
    return {
      profile: null,
      isGuest: true,
      resume: {
        email: '',
        fullname: '',
        contact_no: '',
        current_address: '',
        summary: '',
        experience: '',
        education: '',
        skills: '',
        activities: '',
      },
      openModal: false,
      userProfile: null,
      guestResume: '',
      guestResumeUrl: '',
    }
  },
  async mounted() {
    const res = await this.$axios.$get(
      `jobs/job-applicant-profile/${this.$route.query.id}`
    )
    if (res.resume) {
      this.guestResume = res.resume
      this.guestResumeUrl = res.resume
    }

    if (res.user && res.user.jobSeeker) {
      this.profile = res.user.jobSeeker
      const resume = await this.$axios.$get(`job_seeker/${res.user.id}/resume`)

      if (resume.id) {
        this.isGuest = false
        this.resume.summary = resume.summary
        this.resume.experience = resume.experience
        this.resume.email = this.profile.email
        this.resume.education = resume.education
        this.resume.skills = resume.skills
        this.resume.activities = resume.activities
        this.resume.current_address = this.profile.current_address
        this.resume.contact_no = this.profile.contact_no
        this.resume.fullname = this.profile.fullname
      }
    } else {
      this.isGuest = true
      console.log('guest')
      this.resume.fullname = res.name
      this.resume.email = res.email
    }
  },
  methods: {
    download() {
      console.log(this.$refs.html2Pdf)
      this.$refs.html2Pdf.generatePdf()
    },

    async fetchResume() {
      if (this.profile !== null) {
        const userProfile = await this.$axios.$get(
          `job_seeker/${this.profile.id}/profile`
        )
        this.userProfile = userProfile
      }
    },

    downloadGuestPdf() {
      const link = document.createElement('a')
      link.href = this.guestResumeUrl
      link.download = 'resume.pdf'
      link.click()
    },

    approveResume() {
      this.$toast.open('Approved Resume')
      this.openModal = false
    },
  },
}
</script>

<style scoped lang="scss">
.detail-wrapper {
  background: white;
  padding: 60px;
  border-radius: 6px;
  margin-bottom: 20px;

  .sub-header {
    color: #26af61;
    font-size: 16px;
  }
  .sub-content {
    line-height: 16px;
  }
}
</style>
