<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <job-applications :jobs="jobs"></job-applications>
      </div>
    </div>
  </div>
</template>

<script>
import JobApplications from '~/components/employer/JobApplications.vue'
export default {
  components: { JobApplications },
  layout: 'EmployerLayout',
  data() {
    return {
      jobs: [],
    }
  },
  async mounted() {
    // applicants for jobs
    const res = await this.$axios.$get(
      `employer/job-applications/${this.$auth.user.id}`
    )
    this.jobs = res.jobs
  },
}
</script>

<style></style>
