<template>
  <div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6 mt-3 mb-3">
          <h1 class="primary-header">Welcome</h1>
          <p class="primary-sub-header">
            This is your personalized space where we help you find an ideal
            match!
          </p>
        </div>
        <div class="col-md-6 mt-3 mb-3" style="text-align: right">
          <base-button @click="$router.push({ path: '/employer/job/create' })">
            <svg
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 0.5C8.22562 0.533472 5.57431 1.65047 3.61239 3.61239C1.65047 5.57431 0.533472 8.22562 0.5 11C0.533472 13.7744 1.65047 16.4257 3.61239 18.3876C5.57431 20.3495 8.22562 21.4665 11 21.5C13.7744 21.4665 16.4257 20.3495 18.3876 18.3876C20.3495 16.4257 21.4665 13.7744 21.5 11C21.4665 8.22562 20.3495 5.57431 18.3876 3.61239C16.4257 1.65047 13.7744 0.533472 11 0.5ZM17 11.75H11.75V17H10.25V11.75H5V10.25H10.25V5H11.75V10.25H17V11.75Z"
                fill="white"
              />
            </svg>
            &nbsp; Post a Job</base-button
          >
        </div>
        <div class="col-md-12">
          <pending-notification></pending-notification>
        </div>

        <div class="col-md-12 col-lg-7 mt-5">
          <monthly-overview></monthly-overview>
        </div>
        <div class="col-md-12 col-lg-5 mt-5">
          <job-analytics></job-analytics>
        </div>
        <div class="col-md-12 mt-5 mb-5">
          <jobs-posted :jobs="jobs" @reset="fetchJobs"></jobs-posted>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PendingNotification from '@/components/employer/PendingNotification.vue'
import MonthlyOverview from '@/components/employer/MonthlyOverview.vue'
import JobAnalytics from '@/components/employer/JobAnalytics.vue'
import JobsPosted from '@/components/employer/JobsPosted.vue'
import BaseButton from '~/components/ui/BaseButton.vue'

export default {
  name: 'EmployerDashboardPage',
  components: {
    PendingNotification,
    MonthlyOverview,
    JobAnalytics,
    JobsPosted,
    BaseButton,
  },
  layout: 'EmployerLayout',
  middleware: 'employer',
  data() {
    return {
      jobs: [],
    }
  },
  mounted() {
    this.fetchJobs()
  },

  methods: {
    fetchJobs() {
      this.$axios.$get('employer/jobs').then((res) => {
        this.jobs = res
      })
    },
  },
}
</script>

<style></style>
