<template>
  <div class="employer-onboard-box">
    <div class="d-flex">
      <div class="left-content-form">
        <div>
          <nuxt-link
            to="/"
            class="d-flex align-items-center go-back-link nav-link"
          >
            <svg
              width="16"
              height="14"
              viewBox="0 0 16 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 7H3.14L6.77 2.64C6.93974 2.43578 7.0214 2.1725 6.99702 1.90808C6.97264 1.64365 6.84422 1.39974 6.64 1.23C6.43578 1.06026 6.1725 0.978601 5.90808 1.00298C5.64365 1.02736 5.39974 1.15578 5.23 1.36L0.23 7.36C0.196361 7.40772 0.166279 7.45786 0.14 7.51C0.14 7.56 0.14 7.59 0.0700002 7.64C0.0246737 7.75466 0.000941121 7.87671 0 8C0.000941121 8.12329 0.0246737 8.24534 0.0700002 8.36C0.0700002 8.41 0.0699999 8.44 0.14 8.49C0.166279 8.54214 0.196361 8.59228 0.23 8.64L5.23 14.64C5.32402 14.7529 5.44176 14.8437 5.57485 14.9059C5.70793 14.9681 5.85309 15.0002 6 15C6.23365 15.0005 6.46009 14.9191 6.64 14.77C6.74126 14.6861 6.82496 14.583 6.88631 14.4666C6.94766 14.3503 6.98546 14.2229 6.99754 14.092C7.00961 13.961 6.99573 13.8289 6.95669 13.7033C6.91764 13.5777 6.8542 13.4611 6.77 13.36L3.14 9H15C15.2652 9 15.5196 8.89464 15.7071 8.70711C15.8946 8.51957 16 8.26522 16 8C16 7.73478 15.8946 7.48043 15.7071 7.29289C15.5196 7.10536 15.2652 7 15 7Z"
                fill="#26AF61"
              />
            </svg>
            Go back to Homepage</nuxt-link
          >
        </div>
        <div>
          <h1 class="primary-header form-header">Sign in to Sojojob</h1>
          <form novalidate @submit.prevent="login">
            <div v-if="error !== ''" class="login-error">
              {{ error }}
            </div>
            <div class="form-box">
              <label class="form-label">Email address</label>
              <input
                id="login-email"
                v-model="form.email"
                type="email"
                class="form-control"
                placeholder="Enter your email address"
              />
              <span
                v-if="$v.form.email.$dirty && !$v.form.email.required"
                class="form-error-msg"
              >
                Email is required
              </span>
            </div>

            <div class="form-box">
              <label class="form-label">Password</label>
              <input
                id="login-password"
                v-model="form.password"
                type="password"
                class="form-control"
                placeholder="Enter your password"
              />
              <span
                v-if="$v.form.password.$dirty && !$v.form.password.required"
                class="form-error-msg"
              >
                Password is required
              </span>
            </div>

            <div class="forgot-password-box">
              <nuxt-link to="/forgot-password" class="nav-link nav-link-danger"
                >Forgot password?</nuxt-link
              >
            </div>

            <div>
              <button class="btn btn-primary primary-button" type="submit">
                Sign In
              </button>
            </div>

            <nuxt-link
              to="/register/employer"
              class="block mt-3 nav-link nav-link-danger"
              >Don't have an account?</nuxt-link
            >
          </form>
        </div>
      </div>
      <div class="login-side-content"></div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'EmployerLoginPage',
  components: {},
  middleware: 'guest',
  data() {
    return {
      form: {
        email: '',
        password: '',
        role: 'employer',
      },
      error: '',
    }
  },

  validations: {
    form: {
      email: { required },
      password: { required },
    },
  },

  methods: {
    login() {
      this.error = ''
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$auth
          .loginWith('user', { data: this.form })
          .then(() => {
            this.$router.push({ path: '/employer/dashboard' })
          })
          .catch((err) => {
            if (err.response.data.statusCode === 401) {
              this.error =
                'The e-mail address and/or password you specified are not correct.'
            }
          })
      }
    },
  },
}
</script>

<style lang="scss">
.left-content-form {
  background-color: #ffffff;
}
</style>
