<template>
  <div>
    <div class="container">
      <div v-if="updatePending" class="">
        <div class="alert alert-info mt-5" role="alert">
          Notice! Your profile update is pending and needs to be approved by the
          Sojo.
        </div>
      </div>
      <div class="d-flex align-items-center my-5 profile-header">
        <nuxt-link to="/employer/dashboard">
          <svg
            width="32"
            height="29"
            viewBox="0 0 32 29"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M30 13.0001H6.28L13.54 4.28006C13.8795 3.87163 14.0428 3.34507 13.994 2.81622C13.9453 2.28736 13.6884 1.79954 13.28 1.46006C12.8716 1.12059 12.345 0.957262 11.8162 1.00602C11.2873 1.05478 10.7995 1.31163 10.46 1.72006L0.46 13.7201C0.392721 13.8155 0.332559 13.9158 0.28 14.0201C0.28 14.1201 0.28 14.1801 0.14 14.2801C0.0493473 14.5094 0.00188224 14.7535 0 15.0001C0.00188224 15.2466 0.0493473 15.4907 0.14 15.7201C0.14 15.8201 0.14 15.8801 0.28 15.9801C0.332559 16.0843 0.392721 16.1846 0.46 16.2801L10.46 28.2801C10.648 28.5058 10.8835 28.6874 11.1497 28.8118C11.4159 28.9363 11.7062 29.0005 12 29.0001C12.4673 29.001 12.9202 28.8382 13.28 28.5401C13.4825 28.3722 13.6499 28.166 13.7726 27.9333C13.8953 27.7006 13.9709 27.446 13.9951 27.184C14.0192 26.9221 13.9915 26.6579 13.9134 26.4067C13.8353 26.1555 13.7084 25.9222 13.54 25.7201L6.28 17.0001H30C30.5304 17.0001 31.0391 16.7893 31.4142 16.4143C31.7893 16.0392 32 15.5305 32 15.0001C32 14.4696 31.7893 13.9609 31.4142 13.5858C31.0391 13.2108 30.5304 13.0001 30 13.0001Z"
              fill="black"
            />
          </svg>
        </nuxt-link>
        <h1 class="primary-header">Profile Setup</h1>
      </div>

      <div class="profile-form">
        <div class="d-flex form-header">
          <svg
            width="9"
            height="32"
            viewBox="0 0 9 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.125977"
              width="8.05031"
              height="32"
              rx="4.02516"
              fill="#333333"
            />
          </svg>

          <h4>Basic Information</h4>
        </div>
        <form novalidate @submit.prevent="updateEmployerProfile">
          <div class="row">
            <div class="col-4">
              <div class="company-logo-header">Company Logo</div>
              <ProfileUploader
                :preview-img="previewImage"
                @upload="uploadLogo"
              />
            </div>
            <div class="col-8">
              <div class="basic-info-wrapper">
                <div class="mb-3">
                  <label class="form-label">Company name</label>
                  <input
                    v-model="employer.company_name"
                    class="form-control"
                    type="text"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Company Email</label>
                  <input
                    class="form-control"
                    type="text"
                    :value="employer.email"
                    disabled
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Contact Number</label>
                  <input
                    v-model="employer.contact_no"
                    class="form-control"
                    type="text"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    v-model="employer.name"
                    class="form-control"
                    type="text"
                    disabled
                  />
                </div>

                <div>
                  <!-- <button type="submit" class="btn btn-primary">Save</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="company-logo-header">Company Banner</div>
              <ProfileUploader
                :preview-img="previewBannerImage"
                @upload="uploadBanner"
              />
            </div>
          </div>
          <div class="d-flex form-header mt-5">
            <svg
              width="9"
              height="32"
              viewBox="0 0 9 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.125977"
                width="8.05031"
                height="32"
                rx="4.02516"
                fill="#333333"
              />
            </svg>

            <h4>Profile Information</h4>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <label class="form-label">About Us</label>
              <editor
                v-model="employer.aboutUs"
                api-key="dcw34w1dbfsyzzs9e1muvq5m0u7ax5lli7x5usclrsqwxyrl"
                :init="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help',
                }"
              />
            </div>

            <div class="col-6 mb-3">
              <label class="form-label">Founded Date</label>
              <input
                v-model="employer.founded_date"
                class="form-control"
                type="date"
              />
            </div>
            <div class="col-6 mb-3">
              <label class="form-label">Headquaters</label>
              <input
                v-model="employer.address"
                class="form-control"
                type="text"
              />
            </div>
            <div class="col-6 mb-3">
              <label class="form-label">No of Employees</label>
              <input
                v-model="employer.company_size"
                class="form-control"
                type="number"
              />
            </div>
            <div class="col-6 mb-3">
              <label class="form-label">Website Url</label>
              <input
                v-model="employer.website_url"
                class="form-control"
                type="text"
              />
            </div>
            <div>
              <BaseButton type="submit"> Submit </BaseButton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import ProfileUploader from '../../components/core/ProfileUploader.vue'
import BaseButton from '@/components/ui/BaseButton.vue'

export default {
  name: 'EmployerProfilePage',
  components: { Editor, BaseButton, ProfileUploader },
  layout: 'EmployerLayout',
  middleware: 'employer',

  data() {
    return {
      employer: {
        company_name: '',
        email: '',
        contact_no: '',
        logo: '',
        aboutUs: '',
        founded_date: '',
        address: '',
        company_size: '',
        website_url: '',
      },
      previewImage: '',
      previewBannerImage: '',
      deleteImageModal: false,
      deleteBannerModal: false,
      updatePending: false,
    }
  },

  async mounted() {
    try {
      const profile = await this.$axios.$get(
        `employer/info/${this.$auth.user.id}`
      )
      if (profile.employerNew !== null) {
        this.updatePending = true
        this.employer.company_name = profile.employerNew.company_name
        this.employer.company_size = profile.employerNew.company_size
        this.employer.website_url = profile.employerNew.website_url
        this.employer.address = profile.employerNew.address
        this.employer.founded_date = profile.employerNew.founded_date
        this.employer.email = profile.email
        this.employer.contact_no = profile.employerNew.contact_no
        this.employer.name = profile.username
        this.employer.aboutUs = profile.employerNew.aboutUs
        if (profile.employerNew.logo !== null) {
          this.previewImage = profile.employerNew.logo
        }
        if (profile.employerNew.banner !== null) {
          this.previewBannerImage = profile.employerNew.banner
        }
      } else {
        this.updatePending = false
        this.employer.company_name = profile.employer.company_name
        this.employer.email = profile.email
        this.employer.contact_no = profile.employer.contact_no
        this.employer.name = profile.username
        this.employer.aboutUs = profile.employer.aboutUs
        this.employer.founded_date = profile.employer.founded_date
        this.employer.address = profile.employer.address
        this.employer.company_size = profile.employer.company_size
        this.employer.website_url = profile.employer.website_url

        if (profile.employer.logo !== null) {
          this.previewImage = profile.employer.logo
        }

        if (profile.employer.banner !== null) {
          this.previewBannerImage = profile.employer.banner
        }
      }
    } catch (err) {
      console.log(err)
    }
  },

  methods: {
    uploadLogo(a) {
      this.employer.logo = a
    },

    uploadBanner(a) {
      this.employer.banner = a
    },

    async updateEmployerProfile() {
      const formData = new FormData()
      formData.append('company_name', this.employer.company_name)
      formData.append('email', this.employer.email)
      formData.append('contact_no', this.employer.contact_no)
      formData.append('logo', this.employer.logo)
      formData.append('banner', this.employer.banner)
      formData.append('aboutUs', this.employer.aboutUs)
      formData.append('founded_date', this.employer.founded_date)
      formData.append('address', this.employer.address)
      formData.append('company_size', this.employer.company_size)
      formData.append('website_url', this.employer.website_url)

      await this.$axios.post(
        `employer/${this.$auth.user.id}/update`,
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        }
      )
      this.$toast.open('Profile updated successfully')
    },
  },
}
</script>

<style scoped lang="scss">
.profile-header {
  h1 {
    margin-top: 6px;
    margin-left: 24px;
  }
}
.profile-form {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 100px;
}
.form-header {
  h4 {
    margin-left: 15px;
  }
}
.company-logo {
  background: #e9f0f7;
  border-radius: 8px;
  text-align: center;
  .drag-drop {
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    margin-top: 26px;
    margin-bottom: 15px;
  }
  .drag-or {
    font-weight: 500;
    font-size: 14px;
  }
  button {
    background: #266baf;
    border-radius: 8px;
    width: 130px;
    height: 46px;
    color: white;
    border: none;
    box-shadow: none;
  }
}
.company-logo-header {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
  margin-bottom: 20px;
  margin-top: 32px;
}
.basic-info-wrapper {
  padding-top: 42px;
}
.button-profile-submit {
  background: #26af61;
  border-radius: 8px;
  width: 225px;
  height: 46px;
  color: white;
  box-shadow: none;
  border: none;
  margin-top: 50px;
}
.imagePreviewWrapper {
  width: 250px;
  height: 250px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  position: relative;
  .delete-image {
    position: absolute;
    top: 5px;
    right: 10px;
    button {
      padding: 5px 10px !important;
      width: auto;
      height: auto;
      font-size: 12px;
    }
  }
}
.imageBannerPreviewWrapper {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  position: relative;
  .delete-image {
    position: absolute;
    top: 5px;
    right: 10px;
    button {
      padding: 5px 10px !important;
      width: auto;
      height: auto;
      font-size: 12px;
    }
  }
}
</style>
