<template>
  <div>
    <div class="carousel" style="height: 200px; background-color: grey"></div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-6 mb-5">
          <h3>{{ user.name }} | Profile</h3>
        </div>
        <div class="col-6 mb-5">
          <h3>Job Requirements</h3>
        </div>
        <div class="col-6">
          <div style="display: flex">
            <div>
              <img
                src="https://avatars.githubusercontent.com/u/22853417?v=4"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
            </div>
            <div style="padding-left: 40px">
              <h5>Papish Limbu</h5>
              <div>Address: New Baneshwor, Kathmandu</div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div style="display: flex">
            <img
              src="~/assets/images/logo.png"
              style="width: 100px; height: 100px; border: 1px solid gray"
            />
            <div style="margin-left: 40px">
              <h5>InfoSys Pvt Ltd</h5>
            </div>
          </div>
        </div>

        <div style="margin-top: 100px">
          <button
            type="button"
            class="btn btn-primary"
            @click="confirmApplication"
          >
            Send Application
          </button>
          <button type="button" class="btn btn-warning">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'JobPage',
  layout: 'BaseLayout',
  middleware: 'auth',
  computed: {
    ...mapState({
      user: (state) => state.user,
    }),
  },
  methods: {
    confirmApplication() {
      this.$axios.$post('')
    },
  },
}
</script>
