<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div v-if="employer.newInfo" class="col-12">
          <h3>Company Profile</h3>
          <div class="company-img mt-4">
            <div
              v-if="companyBanner !== ''"
              class="company-banner"
              :style="{ 'background-image': `url(${companyBanner})` }"
            ></div>
            <div v-else class="default-company-background"></div>
            <div class="company-logo">
              <img v-if="companyLogo !== ''" :src="companyLogo" />
              <div v-else class="default-company-logo"></div>
            </div>
          </div>
          <div class="mt-5">
            <div class="mt-5">
              <label class="form-label mt-5">Company</label>
              <div>
                {{ employer.newInfo.company_name }}
                <div
                  v-if="
                    employer.newInfo.company_name !==
                    employer.oldInfo.employer.company_name
                  "
                  class="changed-info"
                >
                  Changed: {{ employer.oldInfo.employer.company_name }}
                </div>
              </div>

              <div class="company-info d-flex align-items-center mt-5">
                <svg
                  width="24"
                  height="18"
                  viewBox="0 0 24 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.5 18C10.5 18 9 18 9 16.5C9 15 10.5 10.5 16.5 10.5C22.5 10.5 24 15 24 16.5C24 18 22.5 18 22.5 18H10.5ZM16.5 9C17.6935 9 18.8381 8.52589 19.682 7.68198C20.5259 6.83807 21 5.69347 21 4.5C21 3.30653 20.5259 2.16193 19.682 1.31802C18.8381 0.474106 17.6935 0 16.5 0C15.3065 0 14.1619 0.474106 13.318 1.31802C12.4741 2.16193 12 3.30653 12 4.5C12 5.69347 12.4741 6.83807 13.318 7.68198C14.1619 8.52589 15.3065 9 16.5 9Z"
                    fill="#26AF61"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.824 18.0006C7.60163 17.5324 7.49073 17.019 7.5 16.5006C7.5 14.4681 8.52 12.3756 10.404 10.9206C9.46364 10.6309 8.48392 10.4892 7.5 10.5006C1.5 10.5006 0 15.0006 0 16.5006C0 18.0006 1.5 18.0006 1.5 18.0006H7.824Z"
                    fill="#26AF61"
                  />
                  <path
                    d="M6.75 9C7.74456 9 8.69839 8.60491 9.40165 7.90165C10.1049 7.19839 10.5 6.24456 10.5 5.25C10.5 4.25544 10.1049 3.30161 9.40165 2.59835C8.69839 1.89509 7.74456 1.5 6.75 1.5C5.75544 1.5 4.80161 1.89509 4.09835 2.59835C3.39509 3.30161 3 4.25544 3 5.25C3 6.24456 3.39509 7.19839 4.09835 7.90165C4.80161 8.60491 5.75544 9 6.75 9Z"
                    fill="#26AF61"
                  />
                </svg>
                <span v-if="employer.newInfo && employer.newInfo.company_size"
                  >{{ employer.newInfo.company_size }} employees</span
                >

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 1.5C9.81276 1.50258 7.71584 2.3726 6.16923 3.91922C4.62261 5.46584 3.75259 7.56276 3.75001 9.75C3.74739 11.5374 4.33124 13.2763 5.41201 14.7C5.41201 14.7 5.63701 14.9963 5.67376 15.039L12 22.5L18.3293 15.0353C18.3623 14.9955 18.588 14.7 18.588 14.7L18.5888 14.6978C19.669 13.2747 20.2526 11.5366 20.25 9.75C20.2474 7.56276 19.3774 5.46584 17.8308 3.91922C16.2842 2.3726 14.1873 1.50258 12 1.5ZM12 12.75C11.4067 12.75 10.8266 12.5741 10.3333 12.2444C9.83995 11.9148 9.45543 11.4462 9.22837 10.8981C9.00131 10.3499 8.9419 9.74667 9.05765 9.16473C9.17341 8.58279 9.45913 8.04824 9.87869 7.62868C10.2982 7.20912 10.8328 6.9234 11.4147 6.80764C11.9967 6.69189 12.5999 6.7513 13.1481 6.97836C13.6962 7.20542 14.1648 7.58994 14.4944 8.08329C14.8241 8.57664 15 9.15666 15 9.75C14.999 10.5453 14.6826 11.3078 14.1202 11.8702C13.5578 12.4326 12.7954 12.749 12 12.75Z"
                    fill="#26AF61"
                  />
                </svg>
                <span v-if="employer.newInfo && employer.newInfo.address">{{
                  employer.newInfo.address
                }}</span>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_519_18413)">
                    <path
                      d="M15.7734 7.5C15.0938 3.31406 13.4906 0.375 11.625 0.375C9.75937 0.375 8.15625 3.31406 7.47656 7.5H15.7734ZM7.125 12C7.125 13.0406 7.18125 14.0391 7.27969 15H15.9656C16.0641 14.0391 16.1203 13.0406 16.1203 12C16.1203 10.9594 16.0641 9.96094 15.9656 9H7.27969C7.18125 9.96094 7.125 10.9594 7.125 12ZM22.3453 7.5C21.0047 4.31719 18.2906 1.85625 14.9391 0.8625C16.0828 2.44687 16.8703 4.83281 17.2828 7.5H22.3453ZM8.30625 0.8625C4.95937 1.85625 2.24062 4.31719 0.904687 7.5H5.96719C6.375 4.83281 7.1625 2.44687 8.30625 0.8625ZM22.8469 9H17.4703C17.5688 9.98438 17.625 10.9922 17.625 12C17.625 13.0078 17.5688 14.0156 17.4703 15H22.8422C23.1 14.0391 23.2453 13.0406 23.2453 12C23.2453 10.9594 23.1 9.96094 22.8469 9ZM5.625 12C5.625 10.9922 5.68125 9.98438 5.77969 9H0.403125C0.15 9.96094 0 10.9594 0 12C0 13.0406 0.15 14.0391 0.403125 15H5.775C5.68125 14.0156 5.625 13.0078 5.625 12ZM7.47656 16.5C8.15625 20.6859 9.75937 23.625 11.625 23.625C13.4906 23.625 15.0938 20.6859 15.7734 16.5H7.47656ZM14.9437 23.1375C18.2906 22.1438 21.0094 19.6828 22.35 16.5H17.2875C16.875 19.1672 16.0875 21.5531 14.9437 23.1375ZM0.904687 16.5C2.24531 19.6828 4.95938 22.1438 8.31094 23.1375C7.16719 21.5531 6.37969 19.1672 5.96719 16.5H0.904687Z"
                      fill="#26AF61"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_519_18413">
                      <rect width="23.25" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <span v-if="employer.newInfo && employer.newInfo.website_url">{{
                  employer.newInfo.website_url
                }}</span>
              </div>

              <div
                v-if="employer && employer.newInfo.aboutUs"
                class="company-description"
                v-html="employer.newInfo.aboutUs"
              ></div>
            </div>
          </div>
        </div>

        <div v-else class="col-12">No changes found. All up to date.</div>

        <div v-if="employer.newInfo" class="col-12 mb-5">
          <button
            class="btn btn-primary mt-5"
            :disabled="!employer.newInfo"
            @click="approve"
          >
            Approve
          </button>
          <button
            class="btn btn-primary mt-5"
            :disabled="!employer.newInfo"
            @click="openRejectModal"
          >
            Reject
          </button>
        </div>
      </div>
    </div>

    <BaseModal
      :active="rejectModal"
      header="Company Profile"
      @close="rejectModal = false"
    >
      <div class="form-group">
        <label class="form-label">Reason for Rejection</label>
        <textarea
          v-model="rejectReason"
          class="form-control"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group mt-4">
        <button class="btn btn-primary" @click="reject">Send</button>
      </div>
    </BaseModal>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'
import BaseModal from '~/components/ui/BaseModal.vue'

export default {
  components: { AdminNavBar, BaseModal },
  data() {
    return {
      employer: {},
      rejectModal: false,
      rejectReason: '',

      companyLogo: '',
      companyBanner: '',
    }
  },
  mounted() {
    this.fetchEmployerData()
  },
  methods: {
    fetchEmployerData() {
      this.$axios
        .$get(`employer/list/${this.$route.params.company}`)
        .then((data) => {
          this.employer = data
          console.log(data)

          if (data.newInfo && data.newInfo.logo !== null) {
            this.companyLogo = data.newInfo.logo
          }

          if (data.newInfo && data.newInfo.banner !== null) {
            this.companyBanner = data.newInfo.banner
          }
        })
    },
    approve() {
      this.$axios
        .$post(`employer/profile/approve/${this.$route.params.company}`)
        .then(() => {
          this.$toast.open('Profile updated successfully')
          this.fetchEmployerData()
        })
    },
    openRejectModal() {
      this.rejectReason = ''
      this.rejectModal = true
    },
    reject() {
      console.log(this.rejectReason)
      this.$axios
        .$post(`employer/profile/reject/${this.$route.params.company}`, {
          reason: this.rejectReason,
        })
        .then(() => {
          this.$toast.open('Email sent successfully')
          this.fetchEmployerData()
          this.reason = ''
          this.rejectModal = false
        })
    },
  },
}
</script>

<style lang="scss">
.company-banner {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  overflow: hidden;
}
.company-img {
  position: relative;

  .company-logo {
    position: absolute;
    left: 60px;
    bottom: -74px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    line-height: 160px;
    vertical-align: middle;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.company-wrapper {
  min-height: 100vh;
  background: #ffffff;
}
.company-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.company-info {
  margin-bottom: 50px;
  svg {
    margin-right: 10px;
  }
  span {
    font-weight: 400;
    font-style: 16px;
    color: #848484;
    margin-right: 50px;
  }
}
.company-description {
  color: #848484;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}
.job-placement {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.changed-info {
  color: red;
}
.default-company-background {
  background-image: url('@/assets/images/company-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 10px;
  width: 100%;
}
.default-company-logo {
  background-image: url('@/assets/images/sj-logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 20px;
}
</style>
