<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col-3 mb-5">
          <select v-model="filter" class="form-control">
            <option value="all">All</option>
            <option value="change">Updates</option>
          </select>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Employer</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(employer, i) in filteredEmployers" :key="i">
                <td>{{ employer.employer.company_name }}</td>
                <td>
                  <nuxt-link :to="'/admin/company/' + employer.id">
                    <button class="btn">View</button>
                  </nuxt-link>
                  <nuxt-link :to="'/admin/company/edit/' + employer.id">
                    <button class="btn">Edit</button>
                  </nuxt-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'
export default {
  components: { AdminNavBar },
  data() {
    return {
      employers: [],
      filter: 'all',
    }
  },
  computed: {
    filteredEmployers() {
      if (this.filter === 'all') {
        return this.employers
      } else {
        return this.employers.filter(
          (employer) => employer.employerNew !== null
        )
      }
    },
  },
  mounted() {
    this.$axios.$get('employer/list').then((data) => (this.employers = data))
  },
}
</script>

<style></style>
