<template>
  <div class="dropdown-container">
    <div class="d-flex align-items-center cursor-pointer" @click="toggle">
      <div v-if="image !== ''" class="mr-3">
        <img
          class="rounded-circle"
          :src="image"
          alt="avatar"
          width="40"
          height="40"
        />
      </div>
      <svg
        v-else
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 0C9.158 0 0 9.158 0 20C0 30.842 9.158 40 20 40C30.842 40 40 30.842 40 20C40 9.158 30.842 0 20 0ZM20 10C23.454 10 26 12.544 26 16C26 19.456 23.454 22 20 22C16.548 22 14 19.456 14 16C14 12.544 16.548 10 20 10ZM9.788 29.544C11.582 26.904 14.574 25.144 18 25.144H22C25.428 25.144 28.418 26.904 30.212 29.544C27.656 32.28 24.03 34 20 34C15.97 34 12.344 32.28 9.788 29.544Z"
          fill="#D3E1EF"
        />
      </svg>
      <div class="mx-3 profile-user">{{ $auth.user.username }}</div>
      <svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.131 0H0.868486C0.560673 0 0.388798 0.325 0.579423 0.546875L5.71067 6.49687C5.85755 6.66719 6.14036 6.66719 6.2888 6.49687L11.42 0.546875C11.6107 0.325 11.4388 0 11.131 0Z"
          fill="#26AF61"
        />
      </svg>
    </div>
    <div v-if="open" class="dropdown-content" @click="toggle">
      <ul>
        <li>
          <nuxt-link to="/employer/dashboard" class="d-flex align-items-center">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.4955 7.22044L7.49549 0.553773C7.24282 0.27244 6.75749 0.27244 6.50482 0.553773L0.504819 7.22044C0.418456 7.31617 0.361768 7.43493 0.341648 7.56228C0.321528 7.68963 0.338842 7.82008 0.391485 7.93777C0.498152 8.17844 0.736819 8.33311 1.00015 8.33311H2.33349V12.9998C2.33349 13.1766 2.40372 13.3462 2.52875 13.4712C2.65377 13.5962 2.82334 13.6664 3.00015 13.6664H5.00015C5.17696 13.6664 5.34653 13.5962 5.47156 13.4712C5.59658 13.3462 5.66682 13.1766 5.66682 12.9998V10.3331H8.33349V12.9998C8.33349 13.1766 8.40372 13.3462 8.52875 13.4712C8.65377 13.5962 8.82334 13.6664 9.00015 13.6664H11.0002C11.177 13.6664 11.3465 13.5962 11.4716 13.4712C11.5966 13.3462 11.6668 13.1766 11.6668 12.9998V8.33311H13.0002C13.1293 8.33366 13.2557 8.29663 13.3642 8.22654C13.4726 8.15645 13.5583 8.05632 13.6108 7.93837C13.6633 7.82042 13.6804 7.68973 13.6599 7.56226C13.6394 7.43478 13.5823 7.31601 13.4955 7.22044Z"
                fill="#26AF61"
              />
            </svg>
            <span class="mx-3">Dashboard</span></nuxt-link
          >
        </li>
        <li>
          <nuxt-link
            to="/employer/applicants"
            class="d-flex align-items-center"
          >
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.4955 7.22044L7.49549 0.553773C7.24282 0.27244 6.75749 0.27244 6.50482 0.553773L0.504819 7.22044C0.418456 7.31617 0.361768 7.43493 0.341648 7.56228C0.321528 7.68963 0.338842 7.82008 0.391485 7.93777C0.498152 8.17844 0.736819 8.33311 1.00015 8.33311H2.33349V12.9998C2.33349 13.1766 2.40372 13.3462 2.52875 13.4712C2.65377 13.5962 2.82334 13.6664 3.00015 13.6664H5.00015C5.17696 13.6664 5.34653 13.5962 5.47156 13.4712C5.59658 13.3462 5.66682 13.1766 5.66682 12.9998V10.3331H8.33349V12.9998C8.33349 13.1766 8.40372 13.3462 8.52875 13.4712C8.65377 13.5962 8.82334 13.6664 9.00015 13.6664H11.0002C11.177 13.6664 11.3465 13.5962 11.4716 13.4712C11.5966 13.3462 11.6668 13.1766 11.6668 12.9998V8.33311H13.0002C13.1293 8.33366 13.2557 8.29663 13.3642 8.22654C13.4726 8.15645 13.5583 8.05632 13.6108 7.93837C13.6633 7.82042 13.6804 7.68973 13.6599 7.56226C13.6394 7.43478 13.5823 7.31601 13.4955 7.22044Z"
                fill="#26AF61"
              />
            </svg>
            <span class="mx-3">Job Applications</span></nuxt-link
          >
        </li>
        <li>
          <a class="d-flex align-items-center" @click="logout">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.0002 1.33301H4.00016C3.82335 1.33301 3.65378 1.40325 3.52876 1.52827C3.40373 1.65329 3.3335 1.82286 3.3335 1.99967V7.99967L6.66683 5.33301V7.33301H10.6668V8.66634H6.66683V10.6663L3.3335 7.99967V13.9997C3.3335 14.1765 3.40373 14.3461 3.52876 14.4711C3.65378 14.5961 3.82335 14.6663 4.00016 14.6663H12.0002C12.177 14.6663 12.3465 14.5961 12.4716 14.4711C12.5966 14.3461 12.6668 14.1765 12.6668 13.9997V1.99967C12.6668 1.82286 12.5966 1.65329 12.4716 1.52827C12.3465 1.40325 12.177 1.33301 12.0002 1.33301Z"
                fill="#F04034"
              />
            </svg>

            <span class="mx-3">Logout</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      image: '',
    }
  },

  async mounted() {
    console.log(this.$auth.user)
    const profile = await this.$axios.$get(
      `employer/info/${this.$auth.user.id}`
    )
    this.image = profile.employer.logo
  },

  methods: {
    toggle() {
      this.open = !this.open
    },
    onClickOutside(event) {
      this.open = false
    },
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style lang="scss" scoped>
.dropdown-container {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.dropdown-content {
  position: absolute;
  width: 335px;
  right: 0;
  top: 68px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2),
    0px 1px 3px rgba(50, 50, 71, 0.1);
  border-radius: 8px;
  z-index: 99999;

  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        display: block;
        padding: 4px 8px;
        color: black;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
}
.profile-user {
  font-size: 16px;
  font-weight: 600;
  color: #26af61;
}
</style>
