<template>
  <base-modal :active="isActive" header="Apply Job" @close="$emit('close')">
    <div v-if="step === 1">
      <form novalidate @submit.prevent="goToNextStep">
        <h4>Please answer the following questions</h4>
        <div v-for="(question, i) in questions" :key="i" class="mb-5">
          <div class="my-2">{{ i + 1 }}. {{ question.question }}</div>
          <div class="my-2">
            <div v-if="question.question_type === 'yes-no'">
              <select v-model="question.answer" class="form-control">
                <option value="" disabled>Select answer</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div v-else>
              <input v-model="question.answer" class="form-control" />
            </div>
            <span
              v-if="
                $v.questions.$each[i].answer.$dirty &&
                !$v.questions.$each[i].answer.required
              "
              class="form-error-msg"
            >
              Please answer the questions
            </span>
          </div>
        </div>
        <base-button type="submit" class="mt-2">Submit & Proceed</base-button>
      </form>
    </div>
    <div v-else>
      <form v-if="!formSuccess" @submit.prevent="submitJobForm">
        <div v-if="!guestApplySuccess">
          <div class="mt-1 mb-2">
            <div class="mb-3">
              <label for="email-resume" class="form-label">Email Address</label>
              <input
                v-model="application.email"
                type="email"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="name-resume" class="form-label">Fullname</label>
              <input
                v-model="application.name"
                type="text"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="name-resume" class="form-label">Cover letter</label>
              <textarea
                v-model="application.cover_letter"
                class="form-control"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="form-resume" class="form-label"
                >Upload CV (optional)</label
              >
              <input
                ref="resume"
                type="file"
                class="form-control"
                accept="application/pdf"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="width: 100%"
            >
              Send application
            </button>
          </div>
        </div>
        <div v-else>
          <div v-if="guestAlreadyApplied">
            Sorry, the email is already linked with applicaton
            <div class="mt-5">
              <base-button class="w-full" @click="$emit('close')"
                >Close</base-button
              >
            </div>
          </div>
        </div>
      </form>
      <div v-else>Your application has been submitted</div>
    </div>
  </base-modal>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import BaseButton from '../ui/BaseButton.vue'
import BaseModal from '../ui/BaseModal.vue'

export default {
  components: { BaseModal, BaseButton },
  props: {
    open: {
      type: Boolean,
      default: false,
    },
    job: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      isActive: false,
      questions: [],
      formSuccess: false,

      applicationGuest: null,
      application: {
        email: '',
        name: '',
        cover_letter: '',
      },
      guestAlreadyApplied: false,
      guestApplySuccess: false,
      step: 1,
    }
  },

  validations: {
    questions: {
      $each: {
        answer: { required },
      },
    },
  },

  watch: {
    open() {
      if (this.open) {
        this.step = 1
        this.isActive = true
        if (this.job.questions) {
          this.questions = this.job.questions.map((question) => {
            const newQ = {}
            newQ.questionId = question.id
            newQ.question = question.question
            newQ.question_type = question.question_type
            newQ.answer = ''
            return newQ
          })
        }
      } else {
        this.isActive = false
        this.guestAlreadyApplied = false
        this.guestApplySuccess = false
        this.application = {
          email: '',
          name: '',
          cover_letter: '',
        }
        this.$emit('close')
      }
    },
  },

  methods: {
    async submitJobForm() {
      const file = this.$refs.resume.files[0]
      const formData = new FormData()
      formData.append('email', this.application.email)
      formData.append('name', this.application.name)
      formData.append('cover_letter', this.application.cover_letter)
      formData.append('file', file)
      formData.append('job', this.job.id)

      try {
        const res = await this.$axios.post(`jobs/apply`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        console.log(res)
        this.applicationGuest = res.data.application
        this.guestApplySuccess = true
        if (res.data.status === 400) {
          this.guestAlreadyApplied = true
        } else {
          this.guestAlreadyApplied = false
          await this.applyJob()
        }
      } catch (err) {
        console.log(err.message)
      }
    },

    applyJob() {
      this.$axios
        .$post('jobs/apply-guest-questions', {
          application: this.applicationGuest.id,
          questions: this.questions,
        })
        .then(() => {
          this.$emit('close')
          this.$toast.open('Application submitted')
        })
    },

    goToNextStep() {
      this.step++
    },
  },
}
</script>

<style></style>
