<template>
  <div class="monthly-overview">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <svg
          width="8"
          height="32"
          viewBox="0 0 8 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="8" height="32" rx="4" fill="#333333" />
        </svg>
        <div class="title">Jobs Posted</div>
      </div>
    </div>
    <div class="analytic-box d-flex align-items-center justify-content-center">
      <table>
        <thead>
          <tr>
            <th width="40%">Email</th>
            <th width="20%">Status</th>
            <th width="20%">Viewed/Not Viewed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(applicant, i) in applicants" :key="i">
            <td>
              <span v-if="applicant.email">{{ applicant.email }}</span>
              <span v-else>{{ applicant.user.email }}</span>
            </td>
            <td>{{ applicant.format }}</td>
            <td>
              <span v-if="applicant.viewed">Viewed</span>
              <span v-else>Not viewed</span>
            </td>
            <td>
              <div class="float-right pb-2">
                <nuxt-link
                  :to="'/employer/applicant-profile?id=' + applicant.id"
                >
                  <svg
                    data-v-fdbe6372=""
                    width="24"
                    height="18"
                    viewBox="0 0 24 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      data-v-fdbe6372=""
                      d="M23.4954 8.745C22.6078 6.46324 21.0668 4.48996 19.0628 3.06906C17.0589 1.64817 14.68 0.84193 12.22 0.75C9.75998 0.84193 7.38102 1.64817 5.3771 3.06906C3.37319 4.48996 1.83217 6.46324 0.944498 8.745C0.884549 8.90978 0.884549 9.09022 0.944498 9.255C1.83217 11.5368 3.37319 13.51 5.3771 14.9309C7.38102 16.3518 9.75998 17.1581 12.22 17.25C14.68 17.1581 17.0589 16.3518 19.0628 14.9309C21.0668 13.51 22.6078 11.5368 23.4954 9.255C23.5554 9.09022 23.5554 8.90978 23.4954 8.745V8.745ZM12.22 13.875C11.2497 13.875 10.3013 13.5891 9.49453 13.0534C8.6878 12.5177 8.05903 11.7564 7.68773 10.8656C7.31643 9.97479 7.21929 8.99459 7.40857 8.04893C7.59786 7.10328 8.06508 6.23464 8.75114 5.55285C9.43721 4.87107 10.3113 4.40677 11.2629 4.21867C12.2145 4.03057 13.2009 4.12711 14.0973 4.49609C14.9937 4.86506 15.7598 5.48991 16.2989 6.2916C16.8379 7.09329 17.1256 8.03582 17.1256 9C17.1236 10.2923 16.6061 11.5311 15.6866 12.445C14.767 13.3588 13.5204 13.873 12.22 13.875V13.875Z"
                      fill="#26AF61"
                    ></path>
                  </svg>
                </nuxt-link>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    applicants: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss" scoped>
.monthly-overview {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 29px 40px;

  a {
    text-decoration: none;
    color: #26af61;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }
  .analytic-box {
    // padding: 40px 30px;
    table {
      width: 100%;
      th {
        color: #848484;
        padding: 10px 0;
        font-weight: 400;
      }
      td {
        font-size: 16px;
      }
      a {
        text-decoration: none;
      }
      .table-action {
        width: 110px;
        display: flex;
        align-items: center;
        text-align: right;
        float: right;
        justify-content: flex-end;
        a:nth-child(2) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}
</style>
