<template>
  <div class="monthly-overview">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <svg
          width="8"
          height="32"
          viewBox="0 0 8 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="8" height="32" rx="4" fill="#333333" />
        </svg>
        <div class="title">Jobs Posted</div>
      </div>
      <div class="">
        <nuxt-link to="/employer/job/list">SEE ALL </nuxt-link>
      </div>
    </div>

    <div class="analytic-box d-flex align-items-center justify-content-center">
      <svg
        v-if="jobs.length <= 0"
        width="145"
        height="141"
        viewBox="0 0 145 141"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_130_16255)">
          <path
            d="M92.0519 31.7107H52.9807C52.0904 31.7117 51.2368 32.0646 50.6072 32.6918C49.9776 33.3189 49.6235 34.1693 49.6224 35.0563V121.562L49.1746 121.698L39.5898 124.622C39.1355 124.76 38.6449 124.713 38.2256 124.491C37.8062 124.269 37.4925 123.89 37.3532 123.438L8.8428 30.6646C8.70406 30.2121 8.75135 29.7232 8.97428 29.3054C9.19721 28.8876 9.57754 28.575 10.0317 28.4364L24.8018 23.931L67.621 10.8743L82.3911 6.36887C82.6158 6.29996 82.8521 6.27588 83.0862 6.29801C83.3203 6.32014 83.5478 6.38804 83.7555 6.49784C83.9633 6.60764 84.1472 6.75717 84.2969 6.93788C84.4466 7.1186 84.559 7.32694 84.6278 7.55099L91.9154 31.2646L92.0519 31.7107Z"
            fill="#F2F2F2"
          />
          <path
            d="M100.578 31.2645L91.7946 2.68416C91.6485 2.20796 91.4096 1.76511 91.0916 1.38092C90.7736 0.996727 90.3828 0.678725 89.9413 0.445081C89.4999 0.211437 89.0166 0.0667299 88.519 0.0192338C88.0215 -0.0282622 87.5194 0.0223836 87.0414 0.168272L66.2755 6.50038L23.4587 19.5594L2.69278 25.8937C1.7281 26.1888 0.920369 26.8531 0.44687 27.7409C-0.0266282 28.6286 -0.127206 29.6673 0.167218 30.6288L30.1866 128.305C30.4257 129.081 30.9083 129.76 31.5635 130.243C32.2187 130.726 33.0121 130.987 33.8271 130.988C34.2043 130.988 34.5794 130.932 34.9398 130.821L49.1748 126.48L49.6225 126.342V125.876L49.1748 126.012L34.8077 130.395C33.9562 130.653 33.0365 130.565 32.2504 130.149C31.4642 129.733 30.8758 129.023 30.6142 128.175L0.597181 30.4972C0.467568 30.0772 0.422395 29.6359 0.464245 29.1985C0.506096 28.7611 0.634146 28.3362 0.841071 27.9481C1.048 27.5601 1.32973 27.2165 1.67013 26.9371C2.01054 26.6576 2.40292 26.4478 2.82483 26.3197L23.5907 19.9854L66.4077 6.92862L87.1736 0.594283C87.4936 0.496992 87.8263 0.447386 88.1609 0.447075C88.8789 0.448681 89.5776 0.679295 90.1546 1.10514C90.7315 1.53098 91.1564 2.12967 91.3671 2.81353L100.11 31.2645L100.249 31.7106H100.715L100.578 31.2645Z"
            fill="#3F3D56"
          />
          <path
            d="M27.4671 28.5092C27.0356 28.5089 26.6155 28.3708 26.2686 28.1152C25.9216 27.8597 25.6659 27.5 25.5391 27.0891L22.6553 17.7054C22.5779 17.4534 22.551 17.1886 22.5762 16.9262C22.6015 16.6638 22.6784 16.4089 22.8025 16.1761C22.9266 15.9433 23.0956 15.7371 23.2998 15.5693C23.5039 15.4016 23.7392 15.2756 23.9922 15.1984L63.3834 3.18466C63.8944 3.02932 64.4464 3.0823 64.9182 3.33197C65.3901 3.58164 65.7432 4.0076 65.9001 4.51636L68.7839 13.9002C68.9397 14.4092 68.8865 14.9591 68.6359 15.4291C68.3853 15.8991 67.9578 16.2509 67.4471 16.4073L28.0558 28.4211C27.8651 28.4794 27.6667 28.5091 27.4671 28.5092Z"
            fill="#26AF61"
          />
          <path
            d="M42.5737 10.0266C45.0467 10.0266 47.0515 8.02941 47.0515 5.56578C47.0515 3.10215 45.0467 1.10498 42.5737 1.10498C40.1006 1.10498 38.0958 3.10215 38.0958 5.56578C38.0958 8.02941 40.1006 10.0266 42.5737 10.0266Z"
            fill="#26AF61"
          />
          <path
            d="M42.5737 8.39064C44.1397 8.39064 45.4091 7.12597 45.4091 5.56593C45.4091 4.00588 44.1397 2.74121 42.5737 2.74121C41.0077 2.74121 39.7382 4.00588 39.7382 5.56593C39.7382 7.12597 41.0077 8.39064 42.5737 8.39064Z"
            fill="white"
          />
          <path
            d="M134.925 129.848H59.2498C58.7452 129.847 58.2615 129.647 57.9047 129.292C57.5479 128.937 57.3473 128.455 57.3467 127.952V37.6209C57.3472 37.1183 57.5479 36.6364 57.9047 36.281C58.2615 35.9256 58.7452 35.7257 59.2498 35.7251H134.925C135.429 35.7257 135.913 35.9256 136.27 36.281C136.627 36.6364 136.827 37.1183 136.828 37.6209V127.952C136.827 128.455 136.627 128.937 136.27 129.292C135.913 129.647 135.429 129.847 134.925 129.848Z"
            fill="#E6E6E6"
          />
          <path
            d="M100.11 31.2642H52.9807C51.9717 31.2656 51.0044 31.6655 50.2909 32.3763C49.5775 33.0871 49.176 34.0507 49.1746 35.0558V126.012L49.6223 125.875V35.0558C49.6234 34.1689 49.9776 33.3185 50.6072 32.6913C51.2368 32.0641 52.0903 31.7113 52.9807 31.7102H100.249L100.11 31.2642ZM141.194 31.2642H52.9807C51.9717 31.2656 51.0044 31.6655 50.2909 32.3763C49.5775 33.0871 49.176 34.0507 49.1746 35.0558V137.208C49.176 138.213 49.5775 139.177 50.2909 139.888C51.0044 140.598 51.9717 140.998 52.9807 141H141.194C142.203 140.998 143.17 140.598 143.884 139.888C144.597 139.177 144.999 138.213 145 137.208V35.0558C144.999 34.0507 144.597 33.0871 143.884 32.3763C143.17 31.6655 142.203 31.2656 141.194 31.2642ZM144.552 137.208C144.551 138.095 144.197 138.945 143.567 139.573C142.938 140.2 142.084 140.553 141.194 140.554H52.9807C52.0903 140.553 51.2368 140.2 50.6072 139.573C49.9776 138.945 49.6234 138.095 49.6223 137.208V35.0558C49.6234 34.1689 49.9776 33.3185 50.6072 32.6913C51.2368 32.0641 52.0903 31.7113 52.9807 31.7102H141.194C142.084 31.7113 142.938 32.0641 143.567 32.6913C144.197 33.3185 144.551 34.1689 144.552 35.0558V137.208Z"
            fill="#3F3D56"
          />
          <path
            d="M117.685 41.078H76.4894C75.9552 41.0774 75.443 40.8657 75.0652 40.4894C74.6874 40.113 74.475 39.6028 74.4744 39.0706V29.2569C74.475 28.7247 74.6875 28.2144 75.0652 27.8381C75.443 27.4618 75.9552 27.2501 76.4894 27.2495H117.685C118.22 27.2501 118.732 27.4618 119.11 27.8381C119.487 28.2144 119.7 28.7247 119.7 29.2569V39.0706C119.7 39.6028 119.487 40.113 119.11 40.4894C118.732 40.8657 118.22 41.0774 117.685 41.078Z"
            fill="#26AF61"
          />
          <path
            d="M97.0873 27.9187C99.5604 27.9187 101.565 25.9215 101.565 23.4579C101.565 20.9942 99.5604 18.9971 97.0873 18.9971C94.6143 18.9971 92.6095 20.9942 92.6095 23.4579C92.6095 25.9215 94.6143 27.9187 97.0873 27.9187Z"
            fill="#26AF61"
          />
          <path
            d="M97.0872 26.1748C98.5935 26.1748 99.8146 24.9583 99.8146 23.4578C99.8146 21.9572 98.5935 20.7407 97.0872 20.7407C95.581 20.7407 94.3599 21.9572 94.3599 23.4578C94.3599 24.9583 95.581 26.1748 97.0872 26.1748Z"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0_130_16255">
            <rect width="145" height="141" fill="white" />
          </clipPath>
        </defs>
      </svg>
      <table v-else>
        <thead>
          <tr>
            <th scope="col">Job Post ID</th>
            <th scope="col">Job Title</th>
            <th scope="col">Job Posted</th>
            <th scope="col">Status</th>
            <th scope="col">Tags</th>
            <th scope="col">Posting Package</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="job in jobs" :key="job.id">
            <th scope="row">SJ{{ job.id }}</th>
            <td>{{ job.title }}</td>
            <td>{{ formatDate(job.created_at) }}</td>
            <td>{{ job.is_verified ? 'Active' : 'Pending' }}</td>
            <td>{{ job.tags }}</td>
            <td>{{ getPackage(job.package) }}</td>
            <td class="table-action">
              <nuxt-link :to="'/employer/applications?id=' + job.id">
                <svg
                  width="24"
                  height="18"
                  viewBox="0 0 24 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M23.4954 8.745C22.6078 6.46324 21.0668 4.48996 19.0628 3.06906C17.0589 1.64817 14.68 0.84193 12.22 0.75C9.75998 0.84193 7.38102 1.64817 5.3771 3.06906C3.37319 4.48996 1.83217 6.46324 0.944498 8.745C0.884549 8.90978 0.884549 9.09022 0.944498 9.255C1.83217 11.5368 3.37319 13.51 5.3771 14.9309C7.38102 16.3518 9.75998 17.1581 12.22 17.25C14.68 17.1581 17.0589 16.3518 19.0628 14.9309C21.0668 13.51 22.6078 11.5368 23.4954 9.255C23.5554 9.09022 23.5554 8.90978 23.4954 8.745V8.745ZM12.22 13.875C11.2497 13.875 10.3013 13.5891 9.49453 13.0534C8.6878 12.5177 8.05903 11.7564 7.68773 10.8656C7.31643 9.97479 7.21929 8.99459 7.40857 8.04893C7.59786 7.10328 8.06508 6.23464 8.75114 5.55285C9.43721 4.87107 10.3113 4.40677 11.2629 4.21867C12.2145 4.03057 13.2009 4.12711 14.0973 4.49609C14.9937 4.86506 15.7598 5.48991 16.2989 6.2916C16.8379 7.09329 17.1256 8.03582 17.1256 9C17.1236 10.2923 16.6061 11.5311 15.6866 12.445C14.767 13.3588 13.5204 13.873 12.22 13.875V13.875Z"
                    fill="#26AF61"
                  />
                </svg>
              </nuxt-link>
              <nuxt-link :to="'/employer/job/' + job.slug">
                <svg
                  width="17"
                  height="20"
                  viewBox="0 0 17 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.541 18.0001H1.4529C1.18602 18.0001 0.930064 18.1055 0.741348 18.293C0.552632 18.4805 0.446612 18.7349 0.446612 19.0001C0.446612 19.2653 0.552632 19.5197 0.741348 19.7072C0.930064 19.8947 1.18602 20.0001 1.4529 20.0001H15.541C15.8078 20.0001 16.0638 19.8947 16.2525 19.7072C16.4412 19.5197 16.5472 19.2653 16.5472 19.0001C16.5472 18.7349 16.4412 18.4805 16.2525 18.293C16.0638 18.1055 15.8078 18.0001 15.541 18.0001ZM1.4529 16.0001H1.54347L5.73969 15.6201C6.19936 15.5746 6.62929 15.3733 6.9573 15.0501L16.0139 6.0501C16.3654 5.68107 16.5554 5.18861 16.5422 4.68064C16.529 4.17267 16.3137 3.69061 15.9435 3.3401L13.1862 0.600102C12.8264 0.264198 12.3548 0.0714609 11.8613 0.0585541C11.3677 0.0456473 10.8866 0.213471 10.5095 0.530102L1.4529 9.5301C1.12763 9.85607 0.925107 10.2833 0.879316 10.7401L0.446612 14.9101C0.433056 15.0566 0.452181 15.2042 0.502623 15.3425C0.553066 15.4808 0.633583 15.6063 0.738436 15.7101C0.832464 15.8028 0.943977 15.8761 1.06658 15.9259C1.18918 15.9756 1.32047 16.0009 1.4529 16.0001ZM11.7875 2.0001L14.5347 4.7301L12.5221 6.6801L9.82523 4.0001L11.7875 2.0001Z"
                    fill="#26AF61"
                  />
                </svg>
              </nuxt-link>
              <nuxt-link :to="'/employer/job/' + job.slug">
                <svg
                  width="18"
                  height="22"
                  viewBox="0 0 18 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.77353 0.714355C9.6587 0.714355 10.51 1.05244 11.1514 1.65869C11.7927 2.26494 12.1751 3.09296 12.2194 3.9715L12.2237 4.14293H16.5363C16.7562 4.14317 16.9676 4.22682 17.1275 4.3768C17.2874 4.52677 17.3836 4.73174 17.3964 4.94984C17.4093 5.16793 17.3379 5.38268 17.1968 5.55021C17.0557 5.71774 16.8556 5.82541 16.6373 5.85121L16.5363 5.85721H15.804L14.7863 18.3312C14.7206 19.1361 14.3524 19.887 13.755 20.4345C13.1576 20.9819 12.3747 21.2858 11.5621 21.2858H5.98496C5.17232 21.2858 4.38943 20.9819 3.79203 20.4345C3.19462 19.887 2.82647 19.1361 2.76081 18.3312L1.74216 5.85721H1.01073C0.799464 5.85718 0.595558 5.78011 0.437684 5.6406C0.27981 5.50109 0.178949 5.30886 0.154231 5.10036L0.148193 5.00007C0.148221 4.79013 0.225783 4.5875 0.366169 4.43061C0.506554 4.27372 0.699998 4.17349 0.909811 4.14893L1.01073 4.14293H5.3234C5.3234 3.23361 5.68689 2.36154 6.33392 1.71856C6.98095 1.07558 7.8585 0.714355 8.77353 0.714355ZM6.83283 8.64293C6.67651 8.64293 6.52548 8.69919 6.40766 8.8013C6.28985 8.90341 6.21323 9.04445 6.19197 9.19836L6.18593 9.28578V16.1429L6.19197 16.2304C6.21327 16.3842 6.28991 16.5252 6.40772 16.6273C6.52553 16.7294 6.67654 16.7856 6.83283 16.7856C6.98913 16.7856 7.14014 16.7294 7.25794 16.6273C7.37575 16.5252 7.45239 16.3842 7.4737 16.2304L7.47973 16.1429V9.28578L7.4737 9.19836C7.45244 9.04445 7.37581 8.90341 7.258 8.8013C7.14019 8.69919 6.98916 8.64293 6.83283 8.64293ZM10.7142 8.64293C10.5579 8.64293 10.4069 8.69919 10.2891 8.8013C10.1713 8.90341 10.0946 9.04445 10.0734 9.19836L10.0673 9.28578V16.1429L10.0734 16.2304C10.0947 16.3842 10.1713 16.5252 10.2891 16.6273C10.4069 16.7294 10.5579 16.7856 10.7142 16.7856C10.8705 16.7856 11.0215 16.7294 11.1393 16.6273C11.2572 16.5252 11.3338 16.3842 11.3551 16.2304L11.3611 16.1429V9.28578L11.3551 9.19836C11.3338 9.04445 11.2572 8.90341 11.1394 8.8013C11.0216 8.69919 10.8706 8.64293 10.7142 8.64293ZM8.77353 2.42864C8.33832 2.4285 7.91914 2.59185 7.60001 2.88592C7.28089 3.18 7.08542 3.58308 7.05278 4.01436L7.04847 4.14293H10.4986L10.4943 4.01436C10.4616 3.58308 10.2662 3.18 9.94705 2.88592C9.62793 2.59185 9.20875 2.4285 8.77353 2.42864Z"
                    fill="#F04034"
                  />
                </svg>
              </nuxt-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'JobPosted',
  props: {
    jobs: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    getPackage(id) {
      if (id) {
        const job_packges = [
          {
            id: 1,
            name: 'Elite',
          },
          {
            id: 2,
            name: 'Standard',
          },
          {
            id: 3,
            name: 'Free',
          },
        ]
        // eslint-disable-next-line
        return job_packges.find((a) => a.id == id).name
      }
      return 'Free'
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
  },
}
</script>

<style lang="scss" scoped>
.monthly-overview {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 29px 40px;

  a {
    text-decoration: none;
    color: #26af61;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }
  .analytic-box {
    // padding: 40px 30px;
    table {
      width: 100%;
      th {
        color: #848484;
        padding: 10px 0;
        font-weight: 400;
      }
      td {
        font-size: 16px;
      }
      a {
        text-decoration: none;
      }
      .table-action {
        width: 110px;
        display: flex;
        align-items: center;
        text-align: right;
        float: right;
        justify-content: flex-end;
        a:nth-child(2) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}
</style>
