<template>
  <div class="monthly-overview">
    <div class="d-flex align-items-center">
      <svg
        width="8"
        height="32"
        viewBox="0 0 8 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="8" height="32" rx="4" fill="#333333" />
      </svg>
      <div class="title">SojoJob Analytics</div>
    </div>

    <div class="analytic-box d-flex align-items-center justify-content-center">
      <svg
        width="80"
        height="78"
        viewBox="0 0 80 78"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_130_16304)">
          <path
            d="M50.7873 17.542H29.2308C28.7395 17.5426 28.2686 17.7377 27.9212 18.0847C27.5739 18.4317 27.3785 18.9021 27.3779 19.3927V67.2471L27.1308 67.3224L21.8427 68.9399C21.5921 69.0163 21.3214 68.9902 21.09 68.8673C20.8586 68.7445 20.6855 68.535 20.6087 68.2848L4.87881 16.9633C4.80226 16.713 4.82835 16.4425 4.95135 16.2114C5.07435 15.9803 5.28418 15.8074 5.53475 15.7307L13.6838 13.2383L37.3082 6.01546L45.4572 3.5231C45.5812 3.48498 45.7115 3.47166 45.8407 3.4839C45.9699 3.49614 46.0953 3.53371 46.21 3.59445C46.3246 3.65519 46.4261 3.73791 46.5087 3.83787C46.5913 3.93784 46.6533 4.0531 46.6912 4.17704L50.712 17.2952L50.7873 17.542Z"
            fill="#F2F2F2"
          />
          <path
            d="M55.4912 17.2952L50.6452 1.48475C50.5646 1.22132 50.4328 0.97634 50.2574 0.763809C50.0819 0.551277 49.8663 0.375361 49.6227 0.246111C49.3792 0.116861 49.1125 0.0368105 48.838 0.0105361C48.5635 -0.0157383 48.2865 0.0122785 48.0228 0.0929827L36.5657 3.59585L12.9426 10.82L1.48559 14.3241C0.953361 14.4873 0.507714 14.8548 0.246473 15.3459C-0.0147672 15.837 -0.0702583 16.4116 0.0921825 16.9435L16.6546 70.977C16.7865 71.4064 17.0528 71.7822 17.4143 72.0493C17.7758 72.3165 18.2135 72.4608 18.6631 72.4613C18.8713 72.4614 19.0782 72.4302 19.277 72.3688L27.1308 69.9677L27.3779 69.8912V69.6333L27.1308 69.7086L19.2042 72.1331C18.7344 72.2761 18.227 72.2272 17.7932 71.9971C17.3595 71.7669 17.0349 71.3743 16.8905 70.9054L0.329403 16.8707C0.257893 16.6384 0.23297 16.3942 0.25606 16.1522C0.27915 15.9103 0.349798 15.6752 0.463963 15.4606C0.578129 15.2459 0.733568 15.0558 0.921377 14.9013C1.10919 14.7467 1.32568 14.6306 1.55845 14.5597L13.0155 11.0556L36.6387 3.83275L48.0957 0.328648C48.2723 0.274828 48.4558 0.247386 48.6404 0.247214C49.0366 0.248103 49.4221 0.375676 49.7404 0.611249C50.0587 0.846821 50.2931 1.17801 50.4094 1.55632L55.233 17.2952L55.3096 17.5419H55.5666L55.4912 17.2952Z"
            fill="#3F3D56"
          />
          <path
            d="M15.1543 15.7711C14.9162 15.7709 14.6845 15.6945 14.493 15.5532C14.3016 15.4118 14.1606 15.2128 14.0906 14.9855L12.4995 9.79455C12.4568 9.65512 12.4419 9.50863 12.4559 9.36346C12.4698 9.2183 12.5122 9.0773 12.5807 8.94851C12.6492 8.81972 12.7424 8.70568 12.8551 8.61288C12.9677 8.52009 13.0975 8.45036 13.2371 8.40769L34.9702 1.76178C35.2521 1.67584 35.5567 1.70515 35.817 1.84327C36.0773 1.98138 36.2722 2.21702 36.3587 2.49846L37.9498 7.6895C38.0358 7.97111 38.0064 8.27528 37.8681 8.53529C37.7299 8.7953 37.494 8.98991 37.2122 9.07642L15.4791 15.7223C15.3739 15.7546 15.2644 15.771 15.1543 15.7711Z"
            fill="#26AF61"
          />
          <path
            d="M23.489 5.54668C24.8534 5.54668 25.9595 4.44186 25.9595 3.079C25.9595 1.71614 24.8534 0.611328 23.489 0.611328C22.1245 0.611328 21.0184 1.71614 21.0184 3.079C21.0184 4.44186 22.1245 5.54668 23.489 5.54668Z"
            fill="#26AF61"
          />
          <path
            d="M23.489 4.64182C24.353 4.64182 25.0534 3.94221 25.0534 3.07921C25.0534 2.21621 24.353 1.5166 23.489 1.5166C22.625 1.5166 21.9246 2.21621 21.9246 3.07921C21.9246 3.94221 22.625 4.64182 23.489 4.64182Z"
            fill="white"
          />
          <path
            d="M74.4413 71.8307H32.6895C32.4111 71.8303 32.1442 71.7197 31.9474 71.5231C31.7506 71.3265 31.6398 71.06 31.6395 70.7819V20.8115C31.6398 20.5334 31.7506 20.2668 31.9474 20.0702C32.1442 19.8736 32.4111 19.763 32.6895 19.7627H74.4413C74.7197 19.763 74.9866 19.8736 75.1834 20.0702C75.3803 20.2668 75.491 20.5334 75.4913 20.8115V70.7819C75.491 71.0599 75.3802 71.3265 75.1834 71.5231C74.9866 71.7197 74.7197 71.8303 74.4413 71.8307Z"
            fill="#E6E6E6"
          />
          <path
            d="M55.2331 17.2954H29.2308C28.6741 17.2962 28.1404 17.5174 27.7468 17.9106C27.3531 18.3038 27.1316 18.8369 27.1309 19.3929V69.7088L27.3779 69.6336V19.3929C27.3785 18.9023 27.5739 18.4319 27.9213 18.0849C28.2686 17.738 28.7396 17.5428 29.2308 17.5422H55.3097L55.2331 17.2954ZM77.9001 17.2954H29.2308C28.6741 17.2962 28.1404 17.5174 27.7468 17.9106C27.3531 18.3038 27.1316 18.8369 27.1309 19.3929V75.9027C27.1316 76.4588 27.3531 76.9918 27.7468 77.385C28.1404 77.7782 28.6741 77.9994 29.2308 78.0002H77.9001C78.4568 77.9994 78.9905 77.7782 79.3841 77.385C79.7778 76.9918 79.9993 76.4588 80.0001 75.9027V19.3929C79.9993 18.8369 79.7778 18.3038 79.3841 17.9106C78.9905 17.5174 78.4568 17.2962 77.9001 17.2954ZM79.753 75.9027C79.7524 76.3934 79.557 76.8638 79.2096 77.2107C78.8623 77.5577 78.3913 77.7529 77.9001 77.7535H29.2308C28.7396 77.7529 28.2686 77.5577 27.9213 77.2107C27.5739 76.8638 27.3785 76.3934 27.3779 75.9027V19.3929C27.3785 18.9023 27.5739 18.4319 27.9213 18.0849C28.2686 17.738 28.7396 17.5428 29.2308 17.5422H77.9001C78.3913 17.5428 78.8623 17.738 79.2096 18.0849C79.557 18.4319 79.7524 18.9023 79.753 19.3929V75.9027Z"
            fill="#3F3D56"
          />
          <path
            d="M64.9299 22.724H42.2011C41.9063 22.7237 41.6238 22.6066 41.4153 22.3984C41.2069 22.1902 41.0897 21.908 41.0894 21.6136V16.1847C41.0897 15.8903 41.2069 15.608 41.4153 15.3998C41.6238 15.1917 41.9063 15.0746 42.2011 15.0742H64.9299C65.2247 15.0746 65.5072 15.1917 65.7157 15.3998C65.9241 15.608 66.0413 15.8903 66.0416 16.1847V21.6136C66.0413 21.908 65.9241 22.1902 65.7157 22.3984C65.5072 22.6066 65.2247 22.7237 64.9299 22.724Z"
            fill="#26AF61"
          />
          <path
            d="M53.5654 15.4446C54.9298 15.4446 56.0359 14.3398 56.0359 12.977C56.0359 11.6141 54.9298 10.5093 53.5654 10.5093C52.2009 10.5093 51.0948 11.6141 51.0948 12.977C51.0948 14.3398 52.2009 15.4446 53.5654 15.4446Z"
            fill="#26AF61"
          />
          <path
            d="M53.5654 14.4797C54.3965 14.4797 55.0702 13.8068 55.0702 12.9767C55.0702 12.1466 54.3965 11.4736 53.5654 11.4736C52.7344 11.4736 52.0607 12.1466 52.0607 12.9767C52.0607 13.8068 52.7344 14.4797 53.5654 14.4797Z"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0_130_16304">
            <rect width="80" height="78" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.monthly-overview {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 29px 40px;

  .title {
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }
  .analytic-box {
    padding: 42px 30px;
  }
}
</style>
