<template>
  <div class="container mt-3 mb-5">
    <form novalidate @submit.prevent="submitForm">
      <div class="row">
        <div class="col-12">
          <h1>{{ jobDetail != null ? 'Edit' : 'Create' }} Job</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h6 class="text-white">Company</h6>
          <div class="mb-3">
            <label class="form-label">Job's Title</label>
            <base-job-select
              v-model="job.title"
              :jobs-data="jobDatas"
              @job-selected="setPreset(job)"
            ></base-job-select>
            <div class="mt-3">
              <label>Categories</label>
              <select v-model="job.category" class="form-control">
                <option value="">Please select one</option>
                <option
                  v-for="(option, i) in categories"
                  :key="i"
                  :value="option.id"
                >
                  {{ option.name }}
                </option>
              </select>
            </div>
            <span
              v-if="$v.job.title.$dirty && !$v.job.title.required"
              class="form-error-msg"
            >
              Title is required
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Employment Type</label>
            <select v-model="job.employment_type" class="form-control">
              <option value="">Please select</option>
              <option v-for="(type, i) in employment_types" :key="i">
                {{ type }}
              </option>
            </select>
            <span
              v-if="
                $v.job.employment_type.$dirty &&
                !$v.job.employment_type.required
              "
              class="form-error-msg"
            >
              Employment type is required
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Location</label>
            <input
              v-model="job.location"
              type="text"
              placeholder="Nayabazar, Kathmandu"
              class="form-control"
            />
            <span
              v-if="$v.job.location.$dirty && !$v.job.location.required"
              class="form-error-msg"
            >
              Location is required
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Experience</label>
            <!-- <input
              v-model="job.experience"
              type="text"
              placeholder="More than or equals to 2 years"
              class="form-control"
            /> -->
            <select v-model="job.experience" class="form-control">
              <option value="">Select one</option>
              <option
                v-for="(experience, i) in experiences"
                :key="i"
                :value="experience.id"
              >
                {{ experience.name }}
              </option>
            </select>
            <span
              v-if="$v.job.experience.$dirty && !$v.job.experience.required"
              class="form-error-msg"
            >
              Experience is required
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Salary</label>
            <input
              v-model="job.salary"
              type="text"
              placeholder="NRs. 10,000.00 - 20,000.00 Monthly"
              class="form-control"
            />
            <span
              v-if="$v.job.salary.$dirty && !$v.job.salary.required"
              class="form-error-msg"
            >
              Salary is required
            </span>
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">No of Vacancy</label>
            <input v-model="job.vacancy" type="text" class="form-control" />
            <span
              v-if="$v.job.vacancy.$dirty && !$v.job.vacancy.required"
              class="form-error-msg"
            >
              Vacancy is required
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Job's Description</label>

            <br />
            <editor
              v-model="job.description"
              api-key="no-api-key"
              :init="{
                height: 500,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount',
                ],
                toolbar:
                  'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help',
              }"
            />
            <span
              v-if="$v.job.description.$dirty && !$v.job.description.required"
              class="form-error-msg"
            >
              Description is required
            </span>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Skills Required</label>
                <!-- {{ existingTags }} -->
                <client-only>
                  <tags-input
                    v-model="selectedTags"
                    placeholder="Skills"
                    element-id="tags"
                    :existing-tags="existingTags"
                    :typeahead="true"
                    :typeahead-hide-discard="true"
                    :delete-on-backspace="true"
                    :add-tags-on-comma="true"
                  ></tags-input>
                </client-only>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Package</label><br />
                <span
                  v-for="(a, i) in job_packges"
                  :key="i"
                  class="package-block"
                  :class="{ selected: a.id == job.package }"
                  @click="job.package = a.id"
                >
                  {{ a.name }}
                </span>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">
            {{ $route.params.jobslug ? 'Save' : 'Next' }}
          </button>
          &nbsp;&nbsp;
          <NuxtLink class="btn btn-secondary" to="/employer/dashboard"
            >Cancel</NuxtLink
          >
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import { required } from 'vuelidate/lib/validators'
import BaseJobSelect from '../ui/BaseJobSelect.vue'

export default {
  components: { Editor, BaseJobSelect },
  props: {
    jobDetail: {
      type: Object,
      required: false,
      default: null,
    },
  },

  data() {
    return {
      employment_types: ['Full time', 'Part time', 'Contract'],
      jobDatas: [],
      job: {
        title: '',
        description: '',
        employment_type: '',
        location: '',
        experience: '',
        salary: '',
        vacancy: '',
        tags: [],
        category: '',
        package: '',
      },
      job_packges: [
        {
          id: 1,
          name: 'Elite',
        },
        {
          id: 2,
          name: 'Standard',
        },
        {
          id: 3,
          name: 'Free',
        },
      ],
      selectedTags: [],
      existingTags: [],
      categories: [],
      experiences: [],
      educations: [],
    }
  },

  validations: {
    job: {
      title: { required },
      description: { required },
      employment_type: { required },
      location: { required },
      experience: { required },
      salary: { required },
      vacancy: { required },
    },
  },

  async mounted() {
    if (this.jobDetail != null) {
      this.job.title = this.jobDetail.title
      this.job.description = this.jobDetail.description
      this.job.employment_type = this.jobDetail.employment_type
      this.job.location = this.jobDetail.location
      this.job.salary = this.jobDetail.salary
      this.job.vacancy = this.jobDetail.vacancy
      if (this.jobDetail.category && this.jobDetail.category.id) {
        this.job.category = this.jobDetail.category.id
      }
      if (this.jobDetail.experience && this.jobDetail.experience.id) {
        this.job.experience = this.jobDetail.experience.id
      }
      this.job.package = this.jobDetail.package

      const b = this.jobDetail.tags.split(',').map((tag, i) => {
        return { id: i + 1, key: tag, value: tag }
      })
      console.log(b)
      this.selectedTags = b
      // this.selectedTags = this.jobDetail.tags.split(',')
    }

    const data = await this.$axios.$get('/job-info')
    this.jobDatas = data

    const tags = await this.$axios.$get('/job-info/tags')
    this.existingTags = tags

    const experiences = await this.$axios.$get('/job-info/experiences')
    this.experiences = experiences

    const categories = await this.$axios.$get('categories')
    const catArr = []
    categories.forEach((category) => {
      category.children.forEach((child) => {
        catArr.push({ id: child.id, name: `${category.name} / ${child.name}` })
      })
    })
    this.categories = catArr

    const educations = await this.$axios.$get('job-info/educations')
    this.educations = educations
  },

  methods: {
    setPreset(job) {
      job.description = job.title
    },
    submitForm() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        if (this.selectedTags.length > 0) {
          const tags = this.selectedTags.map((tag) => {
            return tag.value
          })
          this.job.tags = tags.toString()
        }
        this.$emit('on-submit', this.job)
      }
    },
    onJobSelect($event) {
      const selectedId = $event.target.value
      // eslint-disable-next-line
      const a = this.jobDatas.find((d) => d.id == selectedId)
      this.job.description = a.name
      this.job.title = a.title
    },
  },
}
</script>

<style lang="scss" scoped>
.tags-input-wrapper-default {
  padding-left: 20px !important;
}
.package-block {
  border-radius: 6px;
  padding: 20px 40px;
  background: #ffffff;
  border: 2px solid #d3efdf;
  color: black;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;

  &.selected {
    border: 2px solid #26af61;
    background: #d3efdf;
  }
}
</style>
