<template>
  <div v-if="question" class="card mb-5">
    <div class="card-body">
      <div class="mb-4">
        <b>Question</b>
        <b v-if="!edit">{{ form.question }}</b>
        <input
          v-else
          v-model="form.question"
          class="form-control"
          type="text"
        />
      </div>
      <div class="mb-4">
        <b>Ideal Answer</b>
        <span v-if="!edit">{{ form.match_type }}</span>
        <div v-else>
          <div v-if="question.question_type === 'yes-no'">
            <select v-model="form.match_type" class="form-control">
              <option value="">Select one</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div v-else>
            <input
              v-model="form.match_type"
              type="text"
              class="form-control"
              placeholder="Enter Answer"
            />
          </div>
        </div>
      </div>
      <button v-if="!edit" type="button" class="btn btn-primary" @click="open">
        Edit
      </button>
      <button v-else type="button" class="btn btn-primary" @click="save">
        Update
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JobQuestion',

  props: {
    question: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      edit: false,
      form: {
        id: this.question.id,
        question: this.question.question,
        match_type: this.question.match_type,
      },
    }
  },

  methods: {
    open() {
      this.edit = true
    },

    save() {
      this.$axios
        .$post(`job-info/questions/${this.$route.params.job}/update`, this.form)
        .then((res) => {
          this.edit = false
        })
    },
  },
}
</script>
