<template>
  <div class="monthly-overview">
    <div class="d-flex align-items-center">
      <svg
        width="8"
        height="32"
        viewBox="0 0 8 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="8" height="32" rx="4" fill="#333333" />
      </svg>
      <div class="title">Monthly Overview</div>
    </div>

    <div class="mt-4">
      <div class="row g-2 monthly-box">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="box">
            <div class="d-flex align-items-center">
              <svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.25 12.5938H5.71875C5.66902 12.5938 5.62133 12.6135 5.58617 12.6487C5.551 12.6838 5.53125 12.7315 5.53125 12.7812V13.9062C5.53125 13.956 5.551 14.0037 5.58617 14.0388C5.62133 14.074 5.66902 14.0938 5.71875 14.0938H8.25V16.625C8.25 16.6747 8.26975 16.7224 8.30492 16.7576C8.34008 16.7927 8.38777 16.8125 8.4375 16.8125H9.5625C9.61223 16.8125 9.65992 16.7927 9.69508 16.7576C9.73025 16.7224 9.75 16.6747 9.75 16.625V14.0938H12.2812C12.331 14.0938 12.3787 14.074 12.4138 14.0388C12.449 14.0037 12.4688 13.956 12.4688 13.9062V12.7812C12.4688 12.7315 12.449 12.6838 12.4138 12.6487C12.3787 12.6135 12.331 12.5938 12.2812 12.5938H9.75V10.0625C9.75 10.0128 9.73025 9.96508 9.69508 9.92992C9.65992 9.89475 9.61223 9.875 9.5625 9.875H8.4375C8.38777 9.875 8.34008 9.89475 8.30492 9.92992C8.26975 9.96508 8.25 10.0128 8.25 10.0625V12.5938ZM17.0297 5.76641C17.1703 5.90703 17.25 6.09687 17.25 6.29609V20.75C17.25 21.1648 16.9148 21.5 16.5 21.5H1.5C1.08516 21.5 0.75 21.1648 0.75 20.75V1.25C0.75 0.835156 1.08516 0.5 1.5 0.5H11.4539C11.6531 0.5 11.8453 0.579688 11.9859 0.720313L17.0297 5.76641ZM15.5203 6.64062L11.1094 2.22969V6.64062H15.5203Z"
                  fill="#266BAF"
                />
              </svg>
              <div class="box-title">Jobs Posted</div>
            </div>
            <div class="counter">0</div>
            <div class="counter-per">0%</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="box">
            <div class="d-flex align-items-center">
              <svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.25 12.5938H5.71875C5.66902 12.5938 5.62133 12.6135 5.58617 12.6487C5.551 12.6838 5.53125 12.7315 5.53125 12.7812V13.9062C5.53125 13.956 5.551 14.0037 5.58617 14.0388C5.62133 14.074 5.66902 14.0938 5.71875 14.0938H8.25V16.625C8.25 16.6747 8.26975 16.7224 8.30492 16.7576C8.34008 16.7927 8.38777 16.8125 8.4375 16.8125H9.5625C9.61223 16.8125 9.65992 16.7927 9.69508 16.7576C9.73025 16.7224 9.75 16.6747 9.75 16.625V14.0938H12.2812C12.331 14.0938 12.3787 14.074 12.4138 14.0388C12.449 14.0037 12.4688 13.956 12.4688 13.9062V12.7812C12.4688 12.7315 12.449 12.6838 12.4138 12.6487C12.3787 12.6135 12.331 12.5938 12.2812 12.5938H9.75V10.0625C9.75 10.0128 9.73025 9.96508 9.69508 9.92992C9.65992 9.89475 9.61223 9.875 9.5625 9.875H8.4375C8.38777 9.875 8.34008 9.89475 8.30492 9.92992C8.26975 9.96508 8.25 10.0128 8.25 10.0625V12.5938ZM17.0297 5.76641C17.1703 5.90703 17.25 6.09687 17.25 6.29609V20.75C17.25 21.1648 16.9148 21.5 16.5 21.5H1.5C1.08516 21.5 0.75 21.1648 0.75 20.75V1.25C0.75 0.835156 1.08516 0.5 1.5 0.5H11.4539C11.6531 0.5 11.8453 0.579688 11.9859 0.720313L17.0297 5.76641ZM15.5203 6.64062L11.1094 2.22969V6.64062H15.5203Z"
                  fill="#266BAF"
                />
              </svg>
              <div class="box-title">Jobs Posted</div>
            </div>
            <div class="counter">0</div>
            <div class="counter-per">0%</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="box">
            <div class="d-flex align-items-center">
              <svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.25 12.5938H5.71875C5.66902 12.5938 5.62133 12.6135 5.58617 12.6487C5.551 12.6838 5.53125 12.7315 5.53125 12.7812V13.9062C5.53125 13.956 5.551 14.0037 5.58617 14.0388C5.62133 14.074 5.66902 14.0938 5.71875 14.0938H8.25V16.625C8.25 16.6747 8.26975 16.7224 8.30492 16.7576C8.34008 16.7927 8.38777 16.8125 8.4375 16.8125H9.5625C9.61223 16.8125 9.65992 16.7927 9.69508 16.7576C9.73025 16.7224 9.75 16.6747 9.75 16.625V14.0938H12.2812C12.331 14.0938 12.3787 14.074 12.4138 14.0388C12.449 14.0037 12.4688 13.956 12.4688 13.9062V12.7812C12.4688 12.7315 12.449 12.6838 12.4138 12.6487C12.3787 12.6135 12.331 12.5938 12.2812 12.5938H9.75V10.0625C9.75 10.0128 9.73025 9.96508 9.69508 9.92992C9.65992 9.89475 9.61223 9.875 9.5625 9.875H8.4375C8.38777 9.875 8.34008 9.89475 8.30492 9.92992C8.26975 9.96508 8.25 10.0128 8.25 10.0625V12.5938ZM17.0297 5.76641C17.1703 5.90703 17.25 6.09687 17.25 6.29609V20.75C17.25 21.1648 16.9148 21.5 16.5 21.5H1.5C1.08516 21.5 0.75 21.1648 0.75 20.75V1.25C0.75 0.835156 1.08516 0.5 1.5 0.5H11.4539C11.6531 0.5 11.8453 0.579688 11.9859 0.720313L17.0297 5.76641ZM15.5203 6.64062L11.1094 2.22969V6.64062H15.5203Z"
                  fill="#266BAF"
                />
              </svg>
              <div class="box-title">Jobs Posted</div>
            </div>
            <div class="counter">0</div>
            <div class="counter-per">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.monthly-overview {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px 40px;

  .title {
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }

  .box {
    background: #f4f7fb;
    padding: 17px 19px;
    border-radius: 6px;

    .box-title {
      font-weight: 400;
      font-size: 16px;
      color: #848484;
      margin-left: 20px;
    }
    .counter {
      font-weight: 400;
      font-size: 50px;
      margin-left: 34px;
    }
    .counter-per {
      font-weight: 600;
      font-size: 16px;
      color: #adadad;
      margin-left: 34px;
    }
  }
}
</style>
