<template>
  <div class="pending-notification">
    <div class="pending-content">Your profile setup is pending</div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.pending-notification {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 60px;
  background: #266baf;
  border-radius: 6px;
  .pending-content {
    flex: 1;
    padding-left: 20px;
  }
}
</style>
