<template>
  <base-modal :active="isActive" header="Apply Job" @close="$emit('close')">
    <form v-if="!formSuccess" novalidate @submit.prevent="applyJob">
      <h4>Please select the best answer and submit to apply.</h4>
      <div v-for="(question, i) in questions" :key="i" class="mb-5">
        <div class="my-2">{{ i + 1 }}. {{ question.question }}</div>
        <div class="my-2">
          <div v-if="question.question_type === 'yes-no'">
            <select v-model="question.answer" class="form-control">
              <option value="" disabled>Select answer</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div v-else>
            <input v-model="question.answer" class="form-control" />
          </div>
          <span
            v-if="
              $v.questions.$each[i].answer.$dirty &&
              !$v.questions.$each[i].answer.required
            "
            class="form-error-msg"
          >
            Please answer the questions
          </span>
        </div>
      </div>
      <base-button type="submit" class="mt-2">Submit & Apply</base-button>
    </form>
    <div v-else>Your job application has been submitted successfully</div>
  </base-modal>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import BaseButton from '../ui/BaseButton.vue'
import BaseModal from '../ui/BaseModal.vue'

export default {
  components: { BaseModal, BaseButton },
  props: {
    open: {
      type: Boolean,
      default: false,
    },
    job: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      isActive: false,
      questions: [],
      formSuccess: false,
    }
  },

  validations: {
    questions: {
      $each: {
        answer: { required },
      },
    },
  },

  watch: {
    open() {
      if (this.open) {
        this.isActive = true
        if (this.job.questions) {
          this.questions = this.job.questions.map((question) => {
            const newQ = {}
            newQ.questionId = question.id
            newQ.question = question.question
            newQ.question_type = question.question_type
            newQ.answer = ''
            return newQ
          })
        }
      } else {
        this.isActive = false
      }
    },
  },

  methods: {
    async applyJob() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        console.log(this.questions)

        try {
          await this.$axios.$post('jobs/apply-as-user', {
            job: this.job.id,
            user: this.$auth.user.id,
            questions: this.questions,
          })
          this.formSuccess = true
        } catch (err) {
          this.formSuccess = false
        }
      }
    },
  },
}
</script>

<style></style>
