<template>
  <div class="v_image_uploader">
    <a class="btn" @click="toggleShow">set avatar</a>
    <client-only>
      <my-upload
        v-model="show"
        field="img"
        :width="300"
        :height="300"
        url="/upload"
        :params="params"
        lang-type="en"
        :lang-ext="langExt"
        :headers="headers"
        img-format="png"
        @crop-success="cropSuccess"
        @crop-upload-success="cropUploadSuccess"
        @crop-upload-fail="cropUploadFail"
      >
        <div>abc</div>
      </my-upload>
    </client-only>
    <img :src="imgDataUrl" />
  </div>
</template>

<script>
/**
 * Image validation: fromat, max:min resolution
 * Preview image feature
 */
import myUpload from 'vue-image-crop-upload/upload-2.vue'

export default {
  name: 'ImageUploader',
  components: {
    'my-upload': myUpload,
  },
  data() {
    return {
      show: false,
      params: {
        token: '123456798',
        name: 'avatar',
      },
      headers: {
        smail: '*_~',
      },
      imgDataUrl: '',
      langExt: {
        hint: 'Click or drag the file here to upload',
        loading: 'Uploading…',
        noSupported:
          'Browser is not supported, please use IE10+ or other browsers',
        success: 'Upload success',
        fail: 'Upload failed',
        preview: 'Preview',
        btn: {
          off: 'Cancel',
          close: 'Close',
          back: 'Back',
          save: 'Save',
          delete: 'delete',
        },
        error: {
          onlyImg: 'Image only',
          outOfSize: 'Image exceeds size limit: ',
          lowestPx: "Image's size is too low. Expected at least: ",
        },
      },
    }
  },
  methods: {
    toggleShow() {
      this.show = !this.show
    },
    /**
     * crop success
     *
     * [param] imgDataUrl
     * [param] field
     */
    cropSuccess(imgDataUrl, field) {
      console.log('-------- crop success --------')
      this.imgDataUrl = imgDataUrl
    },
    /**
     * upload success
     *
     * [param] jsonData  server api return data, already json encode
     * [param] field
     */
    cropUploadSuccess(jsonData, field) {
      console.log('-------- upload success --------')
      console.log(jsonData)
      console.log('field: ' + field)
    },
    /**
     * upload fail
     *
     * [param] status    server api return error status, like 500
     * [param] field
     */
    cropUploadFail(status, field) {
      console.log('-------- upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    },
  },
}
</script>

<style scoped></style>
