<template>
  <div>
    <BaseModal :active="dialog" @close="close">
      <vue-cropper
        ref="cropper"
        :src="imgSrc"
        alt="Source Image"
        :center="true"
        :auto-crop="true"
        :movable="false"
        :crop-box-movable="true"
        :crop-box-resizable="true"
      >
      </vue-cropper>
      <div class="uploader-footer">
        <BaseButton type="button">Cancel</BaseButton>
        &nbsp; &nbsp;
        <BaseButton type="button" @click="save">Save</BaseButton>
      </div>
    </BaseModal>

    <div class="pic-cropper-container">
      <img :src="cropedImage" width="100%" />
      <input ref="upload" type="file" @change="onUpload" />
    </div>
  </div>
</template>

<script>
import VueCropper from 'vue-cropperjs'
import 'cropperjs/dist/cropper.css'
import BaseModal from '../ui/BaseModal.vue'
import BaseButton from '../ui/BaseButton.vue'

export default {
  name: 'ProfileUploader',

  components: { VueCropper, BaseModal, BaseButton },

  props: {
    previewImg: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    imgSrc: '',
    dialog: false,
    cropedImage: '',
    mime_type: '',
  }),

  watch: {
    previewImg(newVal) {
      if (newVal !== '') {
        this.cropedImage = newVal
      }
    },
  },

  methods: {
    onUpload(e) {
      const file = e.target.files[0]
      this.mime_type = file.type
      console.log(this.mime_type)
      if (typeof FileReader === 'function') {
        this.dialog = true
        const reader = new FileReader()
        reader.onload = (event) => {
          this.imgSrc = event.target.result
          this.$refs.cropper.replace(this.imgSrc)
        }
        reader.readAsDataURL(file)
      } else {
        alert('Sorry, FileReader API not supported')
      }
    },

    save() {
      this.cropedImage = this.$refs.cropper.getCroppedCanvas().toDataURL()
      this.$refs.cropper.getCroppedCanvas().toBlob((blob) => {
        const uuid = Math.floor(Math.random() * 1000000)
        const a = new File([blob], `logo-${uuid}.png`)
        this.$emit('upload', a)
        this.dialog = false
      })
    },

    close() {
      this.dialog = false
      this.$refs.upload.value = null
    },
  },
}
</script>

<style>
.uploader-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.pic-cropper-container {
  width: 100%;
  height: auto;
}
</style>
