<template>
  <div class="base-search">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.875 16.875L21.375 21.375"
        stroke="#ADADAD"
        stroke-width="2.25"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M11.25 18.375C15.185 18.375 18.375 15.185 18.375 11.25C18.375 7.31497 15.185 4.125 11.25 4.125C7.31497 4.125 4.125 7.31497 4.125 11.25C4.125 15.185 7.31497 18.375 11.25 18.375Z"
        stroke="#ADADAD"
        stroke-width="2.25"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <input :value="value" placeholder="Search jobs" @input="onInput" />
  </div>
</template>

<script>
export default {
  name: 'BaseSearch',

  props: {
    value: {
      type: String,
      default: '',
    },
  },

  methods: {
    onInput(e) {
      this.$emit('input', e.target.value)
    },
  },
}
</script>

<style lang="scss" scoped>
.base-search {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 11px 12px;
  border-radius: 6px;
  margin-right: 10px;
  width: 100%;
  svg {
    margin-right: 10px;
  }
  input {
    border: none;
    box-shadow: none;
    background: none;
    color: #b5b5bd;

    &:active,
    &:focus {
      outline: none;
    }
  }
}
</style>
