<template>
  <div>
    <div
      id="backdrop-modal"
      class="modal-backdrop"
      :class="toggledClass"
      @click="hideModal"
    ></div>
    <div
      class="modal fade"
      :class="{ show: active }"
      style="opacity: 1; pointer-events: none"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="max-width: 40%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ header }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              @click="$emit('close')"
            ></button>
          </div>
          <div class="modal-body">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseModal',
  props: {
    header: {
      type: String,
      default: '',
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    toggledClass() {
      if (this.active) {
        return 'show'
      }
      return 'hide'
    },
  },
  watch: {
    // active(value) {
    //   if (value) {
    //     this.showBackDrop()
    //   } else {
    //     this.removeBackdrop()
    //   }
    // },
  },
  methods: {
    hideModal() {
      this.$emit('close')
    },
    // showBackDrop() {
    //   const el = document.createElement('div')
    //   el.setAttribute('id', 'backdrop-modal')
    //   el.setAttribute('class', 'modal-backdrop fade show')
    //   document.body.appendChild(el)
    // },
    // removeBackdrop() {
    //   const el = document.getElementById('backdrop-modal')
    //   el.parentNode.removeChild(el)
    // },
  },
}
</script>

<style scoped>
.show {
  display: block;
}
.hide {
  display: none;
}
</style>
