<template>
  <div class="dropdown-wrapper">
    <div>Click</div>
    <div class="dropdown-menu">asd</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
    }
  },
}
</script>

<style lang="scss" scoped>
.dropdown-wrapper {
  position: relative;
}
</style>
