<template>
  <button
    :type="type"
    class="base-button"
    v-bind="$attrs"
    @click="$emit('click')"
  >
    <div class="base-button-content">
      <slot />
    </div>
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    type: {
      type: String,
      default: 'button',
    },
  },
}
</script>

<style lang="scss" scoped>
.base-button {
  background: #26af61;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 11px 16px 12px 16px;
  .base-button-content {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
  }
}
</style>
