<template>
  <div class="job-select-wrapper">
    <input v-model="job" type="text" class="form-control" @input="onInput" />
    <div v-if="isOpen" class="search">
      <div
        v-for="(j, i) in jobs"
        :key="i"
        class="search-job"
        @click="onJobSelect(j)"
      >
        {{ j.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    jobsData: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      job: '',
      isOpen: false,
    }
  },

  computed: {
    jobs() {
      if (this.job.length > 0) {
        return this.jobsData.filter((job) =>
          job.name.toLowerCase().includes(this.job.toLowerCase())
        )
      }
      return []
    },
  },

  watch: {
    value: {
      handler(val) {
        this.job = val
      },
      immediate: true,
    },
  },

  methods: {
    onJobSelect(job) {
      this.job = job.name
      this.isOpen = false
      this.$emit('input', job.name)
      this.$emit('job-selected', job)
    },

    onInput() {
      this.isOpen = true
      this.$emit('input', this.job)
    },
  },
}
</script>

<style scoped lang="scss">
.job-select-wrapper {
  position: relative;

  .search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
  }
  .search-job {
    padding: 5px 12px;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
  }
}
</style>
