<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h1>Education</h1>
            <nuxt-link to="/admin/education/create">
              <button class="btn btn-primary">Create</button>
            </nuxt-link>
          </div>
          <table class="table">
            <table class="table">
              <thead>
                <tr>
                  <th>Education</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(education, i) in educations" :key="i">
                  <td>{{ education.name }}</td>
                  <td>
                    <nuxt-link
                      class="btn"
                      :to="'/admin/education/' + education.id"
                      >view</nuxt-link
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'

export default {
  components: { AdminNavBar },
  middleware: 'admin',
  data() {
    return {
      educations: [],
      deleteModal: false,
    }
  },
  mounted() {
    this.$axios
      .$get('/job-info/educations')
      .then((response) => {
        this.educations = response
      })
      .catch((error) => {
        console.log(error)
      })
  },
  methods: {},
}
</script>

<style></style>
