<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1>Update Job Info</h1>
          <form novalidate @submit.prevent="create">
            <div>
              <label class="form-label">Title</label>
              <input v-model="preset.title" type="text" class="form-control" />
            </div>
            <div>
              <label class="form-label">Name</label>
              <input v-model="preset.name" type="text" class="form-control" />
            </div>
            <div class="my-5">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'

export default {
  components: { AdminNavBar },
  middleware: 'admin',
  data() {
    return {
      preset: {
        name: '',
        title: '',
      },
    }
  },
  mounted() {
    this.$axios
      .$get(`/job-info/preset/${this.$route.params.id}`)
      .then((response) => {
        this.preset.name = response.name
        this.preset.title = response.title
      })
      .catch((error) => {
        console.log(error)
      })
  },
  methods: {
    create() {
      this.$axios
        .$post(`/job-info/preset/${this.$route.params.id}`, this.preset)
        .then((response) => {
          this.$toast.open('Data updated successfully')
          this.$router.push('/admin/job-info')
        })
        .catch((error) => {
          console.log(error)
        })
    },
  },
}
</script>

<style></style>
