<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1>All Jobs</h1>
          <nuxt-link to="/admin/jobs/create">Create</nuxt-link>

          <table class="table">
            <thead>
              <tr>
                <th>Jobs</th>
                <th>Company</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(job, i) in jobs" :key="i">
                <td>{{ job?.title }}</td>
                <td>{{ job?.user?.employer?.company_name }}</td>
                <td>{{ job?.is_verified ? 'Verified' : 'Not verified' }}</td>
                <td>
                  <nuxt-link :to="'/admin/jobs/' + job.id">
                    <button class="btn btn-primary">View</button>
                  </nuxt-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'
export default {
  components: { AdminNavBar },
  data() {
    return {
      jobs: [],
    }
  },
  mounted() {
    this.getAllJobs()
  },
  methods: {
    getAllJobs() {
      this.$axios.$get('jobs/all-jobs').then((res) => {
        this.jobs = res
      })
    },
  },
}
</script>

<style></style>
