<h1>Forgot Password</h1>
<p>Hey {{name}},</p>
<p>Please click below to go to your reset password link</p>
<p>
    <a href='{{url}}'>Reset Password</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>