<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="mt-5">Job Questions</h3>

        <div class="my-5">
          <h5>Add screening questions</h5>
          <div>
            We recommend adding 3 or more questions. Applicants must answer each
            question.
          </div>
        </div>

        <div class="my-5">
          <JobQuestion
            v-for="question in questions"
            :key="question.id"
            :question="question"
          />
        </div>

        <form novalidate @submit.prevent="save">
          <div>
            <label class="form-label">Question</label>
            <input
              v-model="form.question"
              type="text"
              class="form-control"
              placeholder="Enter questions"
            />
          </div>
          <div class="mt-3">
            <label class="form-label">Question Type</label>
            <select
              v-model="form.question_type"
              class="form-control"
              @change="resetAnswer()"
            >
              <option value="">Select one</option>
              <option
                v-for="(type, ii) in question_types"
                :key="ii"
                :value="type.value"
              >
                {{ type.name }}
              </option>
            </select>
          </div>
          <div class="mt-3">
            <label class="form-label">Answer</label>
            <div v-if="form.question_type === 'yes-no'">
              <select v-model="form.match_type" class="form-control">
                <option value="">Select one</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div v-else>
              <input
                v-model="form.match_type"
                type="text"
                class="form-control"
                placeholder="Enter Answer"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4">Save</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import JobQuestion from '~/components/employer/JobQuestion.vue'
export default {
  name: 'EmployerCreateJobQuestionPage',
  components: { JobQuestion },
  layout: 'EmployerLayout',
  middleware: 'auth',
  data() {
    return {
      question_types: [
        {
          name: 'Yes / No',
          value: 'yes-no',
        },
        {
          name: 'Numeric',
          value: 'numeric',
        },
      ],
      questions: [],
      form: {
        question: '',
        question_type: '',
        match_type: '',
      },
    }
  },
  mounted() {
    this.getJobQuestions()
  },
  methods: {
    resetAnswer(i) {
      this.form.match_type = ''
    },
    getJobQuestions() {
      this.$axios
        .$get(`job-info/questions/${this.$route.params.job}`)
        .then((res) => {
          this.questions = res
        })
    },
    save() {
      this.$axios
        .$post(`job-info/questions/${this.$route.params.job}`, this.form)
        .then((res) => {
          this.getJobQuestions()
        })
    },
  },
}
</script>
