<template>
  <button class="job-card-button" type="button" @click="onJobClick">
    <div class="job-card-wrapper" :class="{ 'job-card-active': active }">
      <div class="job-card-content">
        <div class="job-logo">
          <img
            v-if="
              job.user && job.user.employer && job.user.employer.logo !== null
            "
            :src="getJobLogo(job.user.employer.logo)"
          />
          <img v-else src="@/assets/images/sj-logo.svg" />
        </div>
        <div class="job-content">
          <div v-if="job.title" class="job-title">{{ job.title }}</div>
          <div
            v-if="
              job.user && job.user.employer && job.user.employer.company_name
            "
            class="job-company"
          >
            {{ job.user.employer.company_name }}
          </div>
          <p class="d-flex align-items-center job-info">
            <svg
              class="block job-info-icon"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0C3.5888 0 0 3.5888 0 8C0 12.4112 3.5888 16 8 16C12.4112 16 16 12.4112 16 8C16 3.5888 12.4112 0 8 0ZM10.6344 11.7656L7.2 8.3312V3.2H8.8V7.6688L11.7656 10.6344L10.6344 11.7656Z"
                fill="#848484"
              />
            </svg>
            <span class="block">{{ job.employment_type }}</span>

            <svg
              class="block job-info-icon"
              width="14"
              height="13"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 13H10V0H14V13ZM9 13H5V4H9V13ZM4 13H0V7H4V13Z"
                fill="#848484"
              />
            </svg>

            <span class="block">{{ job.experience.name }}</span>
          </p>
          <p class="job-salary d-flex align-items-center">
            <svg
              class="block job-salary-icon"
              width="20"
              height="12"
              viewBox="0 0 20 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 0H1C0.447812 0 0 0.447812 0 1V11C0 11.5522 0.447812 12 1 12H19C19.5522 12 20 11.5522 20 11V1C20 0.447812 19.5522 0 19 0ZM1.5 10.5V8.5C2.60469 8.5 3.5 9.39531 3.5 10.5H1.5ZM1.5 3.5V1.5H3.5C3.5 2.60469 2.60469 3.5 1.5 3.5ZM10 9C8.61906 9 7.5 7.65656 7.5 6C7.5 4.34312 8.61938 3 10 3C11.3806 3 12.5 4.34312 12.5 6C12.5 7.65719 11.3803 9 10 9ZM18.5 10.5H16.5C16.5 9.39531 17.3953 8.5 18.5 8.5V10.5ZM18.5 3.5C17.3953 3.5 16.5 2.60469 16.5 1.5H18.5V3.5Z"
                fill="#848484"
              />
            </svg>

            <span class="block">{{ job.salary }}</span>
          </p>
        </div>
      </div>
    </div>
  </button>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: null,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    onJobClick() {
      this.$emit('job-selected', this.job)
    },
    getJobLogo(path) {
      return path
    },
  },
}
</script>

<style lang="scss" scoped>
.job-card-wrapper {
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid #e9f7ef;
  padding: 20px 20px 10px 20px;
  background: white;
  margin-bottom: 26px;
}
.job-card-content {
  display: flex;

  .job-logo {
    img {
      display: block;
      width: 40px;
      margin-right: 20px;
    }
  }
  .job-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: black;
    text-align: left;
  }
  .job-company {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: black;
    margin-bottom: 10px;
  }
  .job-salary {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #26af61;
    .job-salary-icon {
      margin-right: 10px;
    }
  }
  .job-info {
    .job-info-icon {
      margin-right: 10px;
    }
    span {
      margin-right: 30px;
    }
  }
}
.job-card-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  width: 100%;

  &:active,
  &:focus {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.job-card-active {
  background: #f4fbf7;
}
</style>
