<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1>Update Blog</h1>
          <form novalidate @submit.prevent="create">
            <div>
              <label class="form-label">Blog banner</label>
              <input ref="blogBanner" type="file" @change="uploadBanner" />
            </div>
            <div>
              <label class="form-label">Title</label>
              <input v-model="blog.title" type="text" class="form-control" />
            </div>
            <div>
              <label class="form-label">Content</label>
              <textarea v-model="blog.content" rows="5" class="form-control" />
            </div>
            <div class="mt-4">
              <label class="form-label">Permalink</label>
              <input
                v-model="blog.permalink"
                type="text"
                class="form-control"
              />
            </div>
            <div class="my-5">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import slug from 'slug'
import AdminNavBar from '~/components/admin/AdminNavBar.vue'

export default {
  components: { AdminNavBar },
  middleware: 'admin',
  data() {
    return {
      blog: {
        title: '',
        content: '',
        banner: '',
        created_by: this.$store.state.auth.user.id,
        permalink: '',
      },
    }
  },
  watch: {
    'blog.title'(val) {
      if (val && val !== '') {
        this.blog.permalink = slug(this.blog.title)
      } else {
        this.blog.permalink = ''
      }
    },
  },
  mounted() {
    this.$axios
      .$get(`/blog/edit/${this.$route.params.blog}`)
      .then((response) => {
        this.blog.title = response.title
        this.blog.content = response.content
        this.blog.permalink = response.permalink
      })
      .catch((error) => {
        console.log(error)
      })
  },
  methods: {
    create() {
      const formData = new FormData()
      formData.append('title', this.blog.title)
      formData.append('content', this.blog.content)
      formData.append('blog', this.blog.banner)
      formData.append('permalink', this.blog.permalink)
      formData.append('created_by', this.blog.created_by)

      this.$axios
        .$post(`/blog/update/${this.$route.params.blog}`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .then((response) => {
          this.$toast.open('Blog updated successfully')
          this.$router.push('/admin/blog')
        })
        .catch((error) => {
          console.log(error)
        })
    },
    uploadBanner() {
      const input = this.$refs.blogBanner
      const file = input.files
      if (file && file[0]) {
        this.blog.banner = file[0]
      }
    },
  },
}
</script>

<style></style>
