<template>
  <div>
    <admin-nav-bar></admin-nav-bar>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1>Create Experience</h1>
          <form novalidate @submit.prevent="create">
            <div>
              <label class="form-label">Experience</label>
              <input
                v-model="experience.name"
                type="text"
                class="form-control"
              />
            </div>
            <div class="my-5">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavBar from '~/components/admin/AdminNavBar.vue'

export default {
  components: { AdminNavBar },
  middleware: 'admin',
  data() {
    return {
      experience: {
        name: '',
      },
    }
  },
  mounted() {},
  methods: {
    create() {
      this.$axios
        .$post('/job-info/experience', this.experience)
        .then((response) => {
          this.$toast.open('Data created successfully')
          this.$router.push('/admin/experience')
        })
        .catch((error) => {
          console.log(error)
        })
    },
  },
}
</script>

<style></style>
